2025/07/kHFnoV5HyAsbbzOa.json
{
  "active": false,
  "connections": {
    "Descargar HTML": {
      "main": [
        [
          {
            "node": "Verificar Scrapeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Descargar HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noticia a LinkedIn Post": {
      "main": [
        [
          {
            "node": "Estructurar post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube a LinkedIn Post": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar": {
      "main": [
        [
          {
            "node": "YouTube a LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer": {
      "main": [
        [
          {
            "node": "Agrupar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código": {
      "main": [
        [
          {
            "node": "Petición HTTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Link": {
      "main": [
        [
          {
            "node": "Código",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Petición HTTP1": {
      "main": [
        [
          {
            "node": "Extraer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fila LinkedIn": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fila LinkedIn1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversión HTML": {
      "main": [
        [
          {
            "node": "Noticia a LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Scrapeo": {
      "main": [
        [
          {
            "node": "Noticia Inaccesible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conversión HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hashtag generator /SEO": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Content creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content creator": {
      "main": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content topic generator2": {
      "main": [
        [
          {
            "node": "Content creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Content topic generator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Create a post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agregando tendecia a la base": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Selector de tendencias2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Generador de post",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Selector de tendencias2": {
      "main": [
        [
          {
            "node": "Generador de post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de post": {
      "main": [
        [
          {
            "node": "Agregando tendecia a la base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leyendo Tendencias usadas": {
      "ai_tool": [
        [
          {
            "node": "Selector de tendencias2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Selector de tendencias2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Selector de tendencias2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Selector de tendencias2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de post",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Actualizar Fila LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BUSCADOR": {
      "ai_tool": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        []
      ]
    },
    "Estructurar post": {
      "main": [
        [
          {
            "node": "Actualizar Fila LinkedIn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T02:09:59.775Z",
  "id": "kHFnoV5HyAsbbzOa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Creador de contenido Redes Sociales",
  "nodes": [
    {
      "parameters": {
        "person": "zOFdN9y5JB",
        "text": "={{ $('Actualizar Fila LinkedIn').item.json['LinkedIn Post'] }}",
        "additionalFields": {}
      },
      "id": "005d2d6b-d7dc-4310-8b34-ff1a9a187e32",
      "name": "Create a post",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        1424,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "w5m5IDAZYdXzMLe7",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "id": "16a7caf0-dacc-4fb3-875f-a07291a46a89",
      "name": "Descargar HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.URL }}",
                    "rightValue": "https://www.youtube.com/",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL Noticia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb04e04c-6d30-4e5c-80b2-90f2984da1b1",
                    "leftValue": "={{ $json.URL }}",
                    "rightValue": "https://www.youtube.com/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL YouTube"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1264,
        288
      ],
      "id": "4c0ac974-592e-483d-bf67-f5e25c266a4a",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.content }}"
            },
            {
              "content": "=# Rol del Modelo\nEres un creador de contenido especializado en tecnología y automatización de procesos con inteligencia artificial. Trabajas para Pako Sánchez, Desarrollador Web y amante de la IA. Tu tarea es transformar noticias relacionadas con tecnología e inteligencia artificial en publicaciones atractivas, informativas y profesionales para LinkedIn.\n\nImagina que estás escribiendo un post que inspire y eduque a una audiencia profesional interesada en tecnología y en cómo la IA está revolucionando los procesos empresariales.\n\n# Tarea del Modelo\nToma como base una noticia relacionada con tecnología e inteligencia artificial que se te proporcione y genera una publicación profesional y atractiva para LinkedIn. El objetivo es captar el interés del lector y fomentar la interacción, destacando la innovación tecnológica y la experiencia de vystral.com. La publicación debe considerar los siguientes puntos:\n\n1. **Scroll Stopping Hooks**  \n   - Las primeras tres líneas de tu contenido (lo que aparece antes del \"ver más\") son fundamentales para que el lector decida continuar o no.  \n   - Deben ser lo suficientemente impactantes y claros como para que el lector “se detenga” y abra el resto del post.  \n   - Evita palabras complicadas; emplea un lenguaje de nivel sencillo (alrededor de un nivel de quinto grado).  \n   - Usa oraciones cortas y directas (ritmo “acción-pregunta-respuesta”), con un toque de autoridad o beneficio desde la primera línea.  \n\n2. **Hook Stack (Estructura de Texto)**  \n   - Tras el hook inicial, encadena líneas cortas y sucesivas (Hook Stack) para mantener la atención del lector.  \n   - Cada línea o frase debe conducir a la siguiente, reforzando el interés hasta un payoff o conclusión final.  \n   - Esta técnica suele funcionar muy bien incluso sin imágenes.  \n\n3. **Título/Encabezado Breve**  \n   - El “Título” puede fusionarse con el Scroll Stopping Hook.  \n   - Debe ser corto y generar curiosidad, reflejando el aspecto más relevante de la noticia.  \n\n4. **Resumen de la Noticia**  \n   - Describe brevemente el tema central con un lenguaje claro y profesional.  \n   - Destaca por qué es relevante para la audiencia interesada en IA y tecnología.  \n\n5. **Cierre con Pregunta o Llamado a la Acción**  \n   - Finaliza el texto con una pregunta o llamado a la acción que anime a comentar o profundizar en el tema.  \n   - Ejemplos:  \n     - \"¿Crees que la IA te puede ayudar en tu negocio? Contáctanos.\"  \n     - \"¿Cómo crees que esto transformará el futuro de tu industria?\"  \n     - \"¿Listo para implementar soluciones innovadoras como esta? Escríbenos.\"\n\n6. **Hashtags**  \n   - Añade de 5 a 8 hashtags al final del post, relacionados con inteligencia artificial (#InteligenciaArtificial, #Automatización, #Innovación, etc.) y con el tema específico de la noticia (p. ej. #IAenSalud si trata de salud).  \n\n\n## Restricciones del Output\n- **Sin emojis**: El post no debe llevar emojis.  \n- El texto debe ser breve, no más de 4-5 párrafos cortos (o líneas si optas por el formato Hook Stack).  \n- Cada párrafo (o línea) separado por un salto de línea para facilitar la lectura.  \n- No incluir explicaciones del proceso ni elementos ajenos al post generado.  \n- El output debe contener exclusivamente el texto del post generado, listo para ser publicado en LinkedIn, sin encabezados ni indicaciones como “Título” o “Hook:” etc.  \n- Cada post debe consistir únicamente en:  \n  1. Un Hook/encabezado de 3 líneas máximo que sea “scroll-stopping”.  \n  2. Cuerpo del texto (Hook Stack) o párrafos cortos.  \n  3. Una pregunta o llamado a la acción dinámico como cierre. comentario.  \n  5. Lista de hashtags.  \n- No incluir comillas ni negritas.  \n- El output debe ser limpio y contener únicamente el texto del post generado.\n\n## Flujo de Pensamiento\n1. Identifica la idea más relevante de la noticia.  \n2. Crea 3 líneas iniciales (Scroll Stopping Hooks) que llamen la atención.  \n3. Continúa con un Hook Stack: líneas cortas que guíen al lector sin que note el paso de una línea a la siguiente.  \n4. Destaca la relevancia de la noticia para la comunidad y relaciona con la experiencia de vystral.com.  \n5. Cierra con una pregunta o CTA para fomentar la interacción.  \n \n6. Finaliza con 5-8 hashtags adecuados.\n\n\n# Especificaciones\n- **Tono y Estilo**:  \n  - Profesional, accesible, y atractivo.  \n  - Vocabulario claro y sencillo, evitando terminología excesivamente compleja.  \n  - Enfatiza innovación y liderazgo de vystral.com.  \n- **Estructura del Post**:  \n  - 3 líneas iniciales “Scroll Stopping Hooks”.  \n  - Cuerpo (Hook Stack) o párrafos cortos, máximo 4-5.  \n  - Pregunta final o llamado a la acción con enfoque dinámico.  \n  - Lista de hashtags.  \n- **Longitud del Output**:  \n  - No más de 5 párrafos cortos en total (o equivalente en líneas Hook Stack).  \n- **EmotionPrompt**:  \n  - “Escribe para una audiencia profesional, deseosa de inspiración, aprendizajes y soluciones prácticas en IA. Aporta dinamismo y curiosidad.”  \n\n# Notas\n- El output debe contener exclusivamente el texto del post generado, listo para publicar en LinkedIn. Evita utilizar asteriscos (*) o cualquier símbolo raro.\n\n## Filtrado de Publicidad\n\n- Antes de generar el post, identifica y separa claramente el contenido informativo de la noticia o video respecto a cualquier sección de publicidad, menciones de marcas patrocinadoras, promociones o recomendaciones de productos o servicios externos.\n- **Ignora y excluye por completo cualquier fragmento que sea publicidad, anuncio, patrocinio o promoción, aunque se encuentre integrado dentro del video o la noticia.**\n- No incluyas en el resumen, los hooks ni en el cuerpo del post ninguna frase, dato ni mención proveniente de segmentos publicitarios, agradecimientos a sponsors, menciones pagadas ni sugerencias de compra.\n- Tu output debe estar basado únicamente en la información relevante, educativa y noticiosa sobre el avance tecnológico o la innovación presentada, nunca en el contenido promocional.\n",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -224,
        288
      ],
      "id": "a05a0532-d0b4-48c4-80e8-91db7154053e",
      "name": "Noticia a LinkedIn Post",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.combinedTranscript }}{{ $json.combinedTranscriptEn}}"
            },
            {
              "content": "=# Rol del Modelo\nEres un creador de contenido especializado en tecnología y automatización de procesos con inteligencia artificial. Trabajas para Pako Sánchez, Desarrollador Web y amante de la IA. Tu tarea es transformar noticias relacionadas con tecnología e inteligencia artificial en publicaciones atractivas, informativas y profesionales para LinkedIn.\n\nImagina que estás escribiendo un post que inspire y eduque a una audiencia profesional interesada en tecnología y en cómo la IA está revolucionando los procesos empresariales.\n\n# Tarea del Modelo\nToma como base una noticia relacionada con tecnología e inteligencia artificial que se te proporcione y genera una publicación profesional y atractiva para LinkedIn. El objetivo es captar el interés del lector y fomentar la interacción, destacando la innovación tecnológica y la experiencia de vystral.com. La publicación debe considerar los siguientes puntos:\n\n1. **Scroll Stopping Hooks**  \n   - Las primeras tres líneas de tu contenido (lo que aparece antes del \"ver más\") son fundamentales para que el lector decida continuar o no.  \n   - Deben ser lo suficientemente impactantes y claros como para que el lector “se detenga” y abra el resto del post.  \n   - Evita palabras complicadas; emplea un lenguaje de nivel sencillo (alrededor de un nivel de quinto grado).  \n   - Usa oraciones cortas y directas (ritmo “acción-pregunta-respuesta”), con un toque de autoridad o beneficio desde la primera línea.  \n\n2. **Hook Stack (Estructura de Texto)**  \n   - Tras el hook inicial, encadena líneas cortas y sucesivas (Hook Stack) para mantener la atención del lector.  \n   - Cada línea o frase debe conducir a la siguiente, reforzando el interés hasta un payoff o conclusión final.  \n   - Esta técnica suele funcionar muy bien incluso sin imágenes.  \n\n3. **Título/Encabezado Breve**  \n   - El “Título” puede fusionarse con el Scroll Stopping Hook.  \n   - Debe ser corto y generar curiosidad, reflejando el aspecto más relevante de la noticia.  \n\n4. **Resumen de la Noticia**  \n   - Describe brevemente el tema central con un lenguaje claro y profesional.  \n   - Destaca por qué es relevante para la audiencia interesada en IA y tecnología.  \n\n5. **Cierre con Pregunta o Llamado a la Acción**  \n   - Finaliza el texto con una pregunta o llamado a la acción que anime a comentar o profundizar en el tema.  \n   - Ejemplos:  \n     - \"¿Crees que la IA te puede ayudar en tu negocio? Contáctanos.\"  \n     - \"¿Cómo crees que esto transformará el futuro de tu industria?\"  \n     - \"¿Listo para implementar soluciones innovadoras como esta? Escríbenos.\"\n\n6. **Hashtags**  \n   - Añade de 5 a 8 hashtags al final del post, relacionados con inteligencia artificial (#InteligenciaArtificial, #Automatización, #Innovación, etc.) y con el tema específico de la noticia (p. ej. #IAenSalud si trata de salud).  \n\n\n## Restricciones del Output\n- **Sin emojis**: El post no debe llevar emojis.  \n- El texto debe ser breve, no más de 4-5 párrafos cortos (o líneas si optas por el formato Hook Stack).  \n- Cada párrafo (o línea) separado por un salto de línea para facilitar la lectura.  \n- No incluir explicaciones del proceso ni elementos ajenos al post generado.  \n- El output debe contener exclusivamente el texto del post generado, listo para ser publicado en LinkedIn, sin encabezados ni indicaciones como “Título” o “Hook:” etc.  \n- Cada post debe consistir únicamente en:  \n  1. Un Hook/encabezado de 3 líneas máximo que sea “scroll-stopping”.  \n  2. Cuerpo del texto (Hook Stack) o párrafos cortos.  \n  3. Una pregunta o llamado a la acción dinámico como cierre. comentario.  \n  5. Lista de hashtags.  \n- No incluir comillas ni negritas.  \n- El output debe ser limpio y contener únicamente el texto del post generado.\n\n## Flujo de Pensamiento\n1. Identifica la idea más relevante de la noticia.  \n2. Crea 3 líneas iniciales (Scroll Stopping Hooks) que llamen la atención.  \n3. Continúa con un Hook Stack: líneas cortas que guíen al lector sin que note el paso de una línea a la siguiente.  \n4. Destaca la relevancia de la noticia para la comunidad y relaciona con la experiencia de vystral.com.  \n5. Cierra con una pregunta o CTA para fomentar la interacción.  \n \n6. Finaliza con 5-8 hashtags adecuados.\n\n\n# Especificaciones\n- **Tono y Estilo**:  \n  - Profesional, accesible, y atractivo.  \n  - Vocabulario claro y sencillo, evitando terminología excesivamente compleja.  \n  - Enfatiza innovación y liderazgo de vystral.com.  \n- **Estructura del Post**:  \n  - 3 líneas iniciales “Scroll Stopping Hooks”.  \n  - Cuerpo (Hook Stack) o párrafos cortos, máximo 4-5.  \n  - Pregunta final o llamado a la acción con enfoque dinámico.  \n  - Lista de hashtags.  \n- **Longitud del Output**:  \n  - No más de 5 párrafos cortos en total (o equivalente en líneas Hook Stack).  \n- **EmotionPrompt**:  \n  - “Escribe para una audiencia profesional, deseosa de inspiración, aprendizajes y soluciones prácticas en IA. Aporta dinamismo y curiosidad.”  \n\n# Notas\n- El output debe contener exclusivamente el texto del post generado, listo para publicar en LinkedIn. Evita utilizar asteriscos (*) o cualquier símbolo raro.\n\n## Filtrado de Publicidad\n\n- Antes de generar el post, identifica y separa claramente el contenido informativo de la noticia o video respecto a cualquier sección de publicidad, menciones de marcas patrocinadoras, promociones o recomendaciones de productos o servicios externos.\n- **Ignora y excluye por completo cualquier fragmento que sea publicidad, anuncio, patrocinio o promoción, aunque se encuentre integrado dentro del video o la noticia.**\n- No incluyas en el resumen, los hooks ni en el cuerpo del post ninguna frase, dato ni mención proveniente de segmentos publicitarios, agradecimientos a sponsors, menciones pagadas ni sugerencias de compra.\n- Tu output debe estar basado únicamente en la información relevante, educativa y noticiosa sobre el avance tecnológico o la innovación presentada, nunca en el contenido promocional.\n",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        400,
        480
      ],
      "id": "5f35b391-8cd4-444e-825a-fda6aee057d0",
      "name": "YouTube a LinkedIn Post",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk",
          "mode": "list",
          "cachedResultName": "Publicaciones Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ktq0cWo_7Otrz9lrfSZoA_w4Rteddqr7nBkLS8A4Mks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Google Sheets Trigger').item.json.URL }}",
            "Estado": "Sin permisos"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4676b46f-4599-46eb-b91a-29f00e5a37b5",
      "name": "Noticia Inaccesible",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -448,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f747e2d-32b7-4500-8082-90ac0abc55b1",
              "name": "combinedTranscript",
              "value": "={{ $json.data.transcripts.es_auto.custom.map(item => item.text).join(\" \") }}",
              "type": "string"
            },
            {
              "id": "651fbe08-8b4a-43d9-b6bf-74284755d36c",
              "name": "combinedTranscriptEn",
              "value": "={{ $json.data.transcripts.en_auto.custom.map(item => item.text).join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        480
      ],
      "id": "9fe54284-ca9d-4617-abdf-41eabd4aa9ba",
      "name": "Agrupar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1a54b1d-a2e6-4ade-b209-5b8f3550478e",
              "name": "data.transcripts",
              "value": "={{ $json.data.transcripts }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        480
      ],
      "id": "82dd138b-d231-4813-bca8-62a73bc2166c",
      "name": "Extraer"
    },
    {
      "parameters": {
        "jsCode": "// Obtener la URL desde los datos entrantes\nconst url = $json.link_youtube;\n\n// Función para extraer el ID del video de YouTube\nfunction getYouTubeVideoID(url) {\n    const regex = /[?&]v=([a-zA-Z0-9_-]{11})/;\n    const match = url.match(regex);\n    return match ? match[1] : null;\n}\n\n// Extraer el ID del video\nconst videoID = getYouTubeVideoID(url);\n\n// Devolver el ID como resultado\nreturn { videoID, url };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        480
      ],
      "id": "b0069565-c73c-4759-807d-78025f7a032d",
      "name": "Código"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2857bd5-76e7-4db5-ac53-86ad4ee37445",
              "name": "link_youtube",
              "value": "={{ $json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        480
      ],
      "id": "c4c8ac27-efa5-4cbc-be46-2f0084a6627e",
      "name": "Extraer Link"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk",
          "mode": "list",
          "cachedResultName": "Publicaciones Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Código').item.json.url }}",
            "LinkedIn Post": "={{ $('YouTube a LinkedIn Post').item.json.message.content }}",
            "Estado": "Listo",
            "Publicado": "SI"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "82d9d727-7c6a-45f5-8a2a-aad8bc013985",
      "name": "Actualizar Fila LinkedIn",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1136,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk",
          "mode": "list",
          "cachedResultName": "Publicaciones Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Post": "={{ $json.contenido }}",
            "URL": "={{ $json.URL }}",
            "Publicado": "Si",
            "Estado": "Completo"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f26d854f-d21a-4c6b-8670-18d126ef36de",
      "name": "Actualizar Fila LinkedIn1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        384,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "url": "https://youtube-video-summarizer-gpt-ai.p.rapidapi.com/api/v1/get-transcript-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.videoID }}"
            },
            {
              "name": "platform",
              "value": "youtube"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "3e5f1f6c19msh58ecec5da9ff512p13ae22jsn45bee7e5e28f"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-video-summarizer-gpt-ai.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        480
      ],
      "id": "5c4698cd-f181-42bf-90fa-93a9776c1d8e",
      "name": "Petición HTTP1"
    },
    {
      "parameters": {
        "person": "zOFdN9y5JB",
        "text": "={{ $json['LinkedIn Post'] }}",
        "additionalFields": {}
      },
      "id": "d141c352-e075-4ca4-ba00-3bac93bef1df",
      "name": "Create a post1",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        608,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "w5m5IDAZYdXzMLe7",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk",
          "mode": "list",
          "cachedResultName": "Publicaciones Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1744,
        288
      ],
      "id": "88499a55-d483-43fa-888a-6e70c0f05c46",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "nK7lE9XBGZWZdyDG",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el HTML\nconst htmlContent = $input.first().json[\"data\"];\n\n\n// Extraer todos los títulos y párrafos usando expresiones regulares\nconst titles = [];\nconst paragraphs = [];\n\n// Extraer todos los títulos (h1, h2, h3, etc.)\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Extraer todos los párrafos\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Unir todos los títulos y párrafos en un solo texto\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\n// Limitar el número de caracteres para OpenAI (opcional)\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\n// Retornar solo el contenido procesado y reducido\nreturn [{ json: { content: finalContent, url :  $('Switch').item.json.URL  } }];\n"
      },
      "id": "e895f06e-ee4b-42ac-95b5-130e7feb988b",
      "name": "Conversión HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a6652d3-d140-4439-9262-b13ccb3c09ec",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 403,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "e900b5af-7e23-4859-a74e-74f7f994e8b5",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 451,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d3d17906-7fe0-4a82-a6ff-8a7242557bca",
      "name": "Verificar Scrapeo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c29f133-5134-4893-8bf6-2fd8133e28bb",
              "name": "titulo",
              "value": "={{ $('Content creator').item.json.output['post title'] }}",
              "type": "string"
            },
            {
              "id": "952e52cf-b43a-40c9-b0d4-fa73f5d980ca",
              "name": "Hashtags",
              "value": "={{ JSON.stringify($json.output.Hashtags.join(\" \")) }}",
              "type": "string"
            },
            {
              "id": "e777637a-2d39-4674-8627-59670d647ee2",
              "name": "=contenido ",
              "value": "={{ $('Content creator').item.json.output['post content'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        1104
      ],
      "id": "9072f4bf-85b7-4075-bfc2-58f7ee6d0e0d",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\",\n\"Hashtags\":[\"#AI\",\"#Automation\"]\n}"
      },
      "id": "c8667496-6a04-47ab-95c7-5615be8f1f28",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -272,
        1328
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "dc2b8b56-474a-45ab-8359-f8e138be06af",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -400,
        1328
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO specialist for LinkedIn. Your task is to generate highly relevant and effective hashtags for the following post. Do not include personal anecdotes, fictional situations, or examples unrelated to the provided content. Consider only the post's text, target audience, and current LinkedIn trends to maximize visibility and engagement.\n\n<post_title>{{ $json.output['post title'] }}</post_title>\n<post_content>{{ $json.output['post content'] }}</post_content>\n\nPlease generate:\n\n3–5 broad, high-volume hashtags (e.g., #AI, #Marketing, #Business)\n\n3–5 niche-specific hashtags that are directly relevant to the post's core topic (e.g., #SocialMediaAutomation, #ContentCreationAI, #LinkedInMarketingTips)\n\n1–2 trending/topical hashtags if applicable (e.g., #FutureOfWork, #DigitalTransformation)\n\nPresent them as a comma-separated list.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "90ff12b6-94ed-4550-82be-1600f24273d1",
      "name": "Hashtag generator /SEO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -400,
        1104
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\"\n}",
        "autoFix": true
      },
      "id": "47db8048-15f3-434c-bc87-d9c2d088952f",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -768,
        1328
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "60737043-dbdd-41c2-9b62-686ecb30bbb4",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -896,
        1328
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<prompt>\n  <rol>\n    LinkedIn content creator y copywriter en español.\n  </rol>\n\n  <objetivo>\n    Redactar un post de LinkedIn en español que enganche, aporte valor tangible y refuerce visualmente el mensaje.\n  </objetivo>\n\n  <contexto>\n    Recibirás tres variables dinámicas:\n    • {{ $json.output[0].title }} – Título o idea principal.  \n    • {{ $json.output[0].rationale }} – Justificación o insight clave.  \n    • {{ $json.output[0].hook }} – Gancho inicial sugerido.  \n    El público meta son profesionales hispanohablantes en LinkedIn que buscan contenido práctico y accionable.\n  </contexto>\n\n  <instrucciones>\n    1. Comienza con el <strong>gancho</strong> (máx. 30 palabras) para captar atención inmediata.  \n    2. Desarrolla la idea usando párrafos breves (2-3 líneas) y/o viñetas claras.  \n    3. Incluye <em>al menos uno</em> de estos elementos (elige el que mejor encaje):  \n       • Ejemplo práctico y breve.  \n       • Herramienta, framework o recurso útil.  \n       • Caso de uso o aplicación real.  \n    4. Cierra con un <strong>Llamado a la Acción</strong> (CTA) que invite a comentar o compartir.  \n    5. Añade de 3 a 5 <strong>hashtags relevantes</strong> (sin espacios, solo minúsculas y tildes apropiadas).  \n    6. Propón una <strong>descripción de imagen</strong> que refuerce el mensaje (1-2 líneas).  \n    7. Escribe siempre en <strong>español neutro</strong>, tono profesional-cercano, evitando jergas regionales.\n  </instrucciones>\n\n  <reglas>\n    • No inventar ni exagerar historias personales sobre el autor ni terceros.  \n    • No revelar información confidencial ni suplantar identidades.  \n    • No exceder 150 palabras en el cuerpo del post (sin contar hashtags).  \n    • Mantener una ortografía impecable y evitar emojis, salvo que se autoricen explícitamente.  \n    • Respetar los line breaks para facilitar la lectura en móvil.\n  </reglas>\n\n  <output_formato>\n    <post>\n      <cuerpo>Texto principal aquí…</cuerpo>\n      <cta>¿Y tú, cómo lo aplicarías? ¡Cuéntame en los comentarios!</cta>\n      <hashtags>#ejemplo #productividad #nombreDeTuMarca</hashtags>\n    </post>\n    <imagen>\n      Descripción concisa de la imagen (p. ej. «Gráfico comparativo que muestra…»)\n    </imagen>\n  </output_formato>\n\n  <notas>\n    Ajusta el tono, la longitud y los emojis según la voz de marca del cliente si se especifica más adelante.\n  </notas>\n</prompt>\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "3e1239cd-27a4-4d5c-b52e-9d4b4830897d",
      "name": "Content creator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -864,
        1136
      ],
      "typeVersion": 1.7,
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n \"title\": \"AI as Your First Content Hire: Why Founders Shouldn't Wait to Outsource Creation\",\n            \"rationale\": \"Most solopreneurs delay content scaling because they think hiring a ghostwriter is the next step — but AI can handle 80% with proper systems. This shifts content from a creative bottleneck to a scalable growth lever.\",\n            \"hook\": \"Ghostwriters are outdated. Train GPT once, and it ships LinkedIn gold in your voice daily. Welcome to hands-free thought leadership.\"\n          }]"
      },
      "id": "2b858b27-f471-4371-9eb2-30548b4836c5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1104,
        1328
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "3573b870-99fe-4edd-9d3d-5b80974d8d8e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1488,
        1328
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<prompt>\n  <rol>\n    You are a Content Research Assistant helping grow the personal LinkedIn presence of a web developer specialized in Laravel, React, Next.js, Node.js, web development, AI, and automation tools.\n  </rol>\n\n  <objetivo>\n    Return one single, highly engaging, and scroll-stopping content idea that helps increase profile visibility and spark conversation. Output must be in JSON format with the fields: title, rationale, and hook.\n  </objetivo>\n\n  <instrucciones>\n    Before generating the idea:\n    1. Access the Google Sheets file containing previous LinkedIn post titles and topics ({{ google_sheets_data }}).  \n       Ensure the new idea is significantly different from any existing title or topic in the file to avoid repetition.\n    2. Use the internet search tool to check current trending topics in web development, AI, or automation.  \n       Incorporate any relevant, fresh trends or buzz into the idea if it helps make it more engaging.\n\n    Randomly choose one of the following content formats:\n    <formato id=\"1\">💡 \"Did you know...?\" post — interesting or surprising fact about web development or AI</formato>\n    <formato id=\"2\">⚙️ Programming Hack — clever solution or productivity trick for Laravel, React, etc.</formato>\n    <formato id=\"3\">📣 New Tech Explained — simplify a trending technology or tool (e.g., Bun, Astro, Copilot)</formato>\n    <formato id=\"4\">🔥 Hot Take — bold opinion about development, automation, freelancing, or marketing</formato>\n    <formato id=\"5\">🧩 Behind the Scenes — insight or story from real dev experience</formato>\n    <formato id=\"6\">🛠️ Tool Highlight — showcase a useful but lesser-known tool or automation workflow</formato>\n  </instrucciones>\n\n  <estructura_salida>\n    Return your response in the following JSON format (inside a single array):\n    <output_format>\n      [{\n        \"title\": \"One-line catchy idea or theme title\",\n        \"rationale\": \"Brief explanation of why this topic could drive engagement or reactions\",\n        \"hook\": \"Optional punchline, challenge, opinion, or question that triggers interaction\"\n      }]\n    </output_format>\n  </estructura_salida>\n\n  <estilo>\n    <regla>Be bold, casual, and relatable — no corporate tone</regla>\n    <regla>Use emotional or curiosity-driven phrasing to stop scrolling</regla>\n    <regla>Do not repeat tools or angles unless you have a fresh take</regla>\n    <regla>Each response must feel original and specific</regla>\n  </estilo>\n</prompt>\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "2288317c-865d-4d75-bd3c-e09bcf2a6b4c",
      "name": "Content topic generator2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1376,
        1104
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "e3f19af6-59f9-4634-8fd8-d29c788c94a0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1712,
        1104
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a highly realistic, eye-catching image for a LinkedIn post using the following context: {{ $('Content creator').item.json.output['image description'] }}.  \nThe image should be visually striking, logically aligned with the context, and emotionally engaging for a professional audience.  \nUse a cinematic, photo-realistic art style with natural lighting, rich detail, and vivid colors.  \nIncorporate elements that clearly illustrate the main idea, ensuring the composition is clean and impactful.  \nIf including text, keep it short, bold, and easy to read, making it work seamlessly with the visuals.\n",
        "options": {}
      },
      "id": "610a2457-e948-48dc-9e21-28458674380e",
      "name": "Generate an image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        400,
        1104
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        1536
      ],
      "id": "e73fabb3-4959-483f-baf1-f7235d70a58a",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "person": "zOFdN9y5JB",
        "text": "={{ $('Edit Fields').item.json['contenido '] }} {{ $('Edit Fields').item.json.Hashtags }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "={{ $('Edit Fields').item.json.titulo }}"
        }
      },
      "id": "71ed662f-fae9-4c2f-af10-1e94366b7be3",
      "name": "Create a post2",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        624,
        1104
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "w5m5IDAZYdXzMLe7",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Publicacion desde video o Noticias en Linkedin",
        "height": 688,
        "width": 2848,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        0
      ],
      "typeVersion": 1,
      "id": "b1e33351-69fd-4444-bd89-45bf3a424c44",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Publicacion Automatica En Linkedin",
        "height": 752,
        "width": 2656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        928
      ],
      "typeVersion": 1,
      "id": "b0492ffc-a331-454f-8c76-f0bb7b8d525e",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI",
          "mode": "list",
          "cachedResultName": "Publicaciones orale web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now.format('yyyy-MM-dd') }}",
            "Tendencia": "={{ $json.output.tendencia_seleccionada }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tendencia",
              "displayName": "Tendencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -656,
        2064
      ],
      "id": "47722221-6289-4baf-a98e-42cdb8afc0d1",
      "name": "Agregando tendecia a la base",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v17.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "1440519953755422"
            },
            {
              "name": "client_secret",
              "value": "ceccd07121b2e09b73386e2f4cb0da9c"
            },
            {
              "name": "fb_exchange_token",
              "value": "EAAUeJTAirR4BPB0FcZCJDuFccmdEddvTXs2ZCdydjT76BNwewma34DBkG15ae9B8qfu14CquE2yk1x74etrMjVSTtJQxZAKw0Y3GPoZBl1NZBH1TicgfpkbOI6mau3QZCUa4drJCnLS7SZCeeZAgALukPzVpZCx1Le0UQm0ItzlzqjtrelIwuXRfmuW1W1ZAElIddXKezOGuzCzvKmHocZCdoRcaz2kacjkaKPTNO0pDgiuVvUZD"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        2032
      ],
      "id": "c2521c03-1bd0-4420-84bb-a1f2ef7e556c",
      "name": "Solicitar nuevo token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/61573463732776/photos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "photo",
              "inputDataFieldName": "data"
            },
            {
              "name": "message",
              "value": "={{ $('Generador de post').item.json.output.post }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "name": "access_token",
              "value": "EAAd3lCZCAZAZBQBPCyRwD7xl5BVcv3PGAnDQ6YwGNe0vAddF0EGPcN8viKcxFOKDKXxmgLPZCgrzwirZCbDBfspQYS8am27ZC4vItG6LbKIRWBuKIEAhyA06dAy8Ahx0q9XqCKAvxtZBNX9icCtbzVZBA4Cl04ijVx4EKK59XGRmZCwlAvosIZBp6lLB1tLwftZBKHmUz4tkU4m"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        2048
      ],
      "id": "d6b73896-d266-493c-9a73-1f57fdc14e7e",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1376,
        2336
      ],
      "id": "2f3df8e4-99a5-475c-a8f7-5da19968e174",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -928,
        2272
      ],
      "id": "5776998b-c042-4331-90c0-62c6ac8713b1",
      "name": "Think1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Busca tendencias",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Digital-Trend Researcher.\n\nGoal:\nFind ONE fresh, attractive topic (marketing digital, AI for business, or automations) for Spanish-speaking SMEs and freelancers.  \nThe topic must **never** match –even loosely– anything already logged.\n\nContext:\nProject: “¡Órale Web!” – web, AI & marketing agency for Hispanic entrepreneurs.  \nYou receive from n8n an array `existingTrends` with the content of the Google Sheet column “Tendencia”.\n\nInput variables (from n8n):\n- existingTrends = {{$json[\"existingTrends\"]}}   // array of strings, may be empty\n\nRules for uniqueness:\n1. Normalize each string: lowercase, trim spaces, remove accents (e.g., “IA” → “ia”, “Á” → “a”).  \n2. Treat two strings as duplicates if they are **identical** after normalization **or** if token-based similarity ≥ 0.8.  \n   • Similarity = (shared tokens ÷ longer string tokens).  \n   • Example duplicate pairs:  \n     - “Automatización de seguimiento postventa” vs “Automatizacion seguimiento de post-venta”.  \n     - “Marketing digital con realidad aumentada para pymes” vs “Realidad aumentada en marketing digital para PYMES”.\n3. Try up to 5 candidate topics; stop at the first unique one.\n\nFormatting requirements:\nReturn **only** this JSON (no markdown, no extra spaces):\n{\n  \"tema\": \"<Título conciso en español, Máx. 8 palabras, Mayúscula inicial>\"\n}\n\nAdditional constraints:\n- If `existingTrends` is empty, pick the best current trend.  \n- Avoid repeating exact brand names unless indispensable (e.g., “WhatsApp Business”).  \n- Do **NOT** invent buzzwords; keep it understandable for non-experts.  \n- If after 5 attempts no unique topic exists, return exactly:\n  {\"tema\":\"Sin tendencias únicas disponibles\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1456,
        2048
      ],
      "id": "34588329-de88-489d-acf9-97e638e3af40",
      "name": "Selector de tendencias2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.tendencias }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Community Manager specialized in technology and web development for the professional page “¡Órale Web!”. Your mission is to create educational and engaging content for entrepreneurs, shops, and SMEs that have not yet adopted digital tools or AI. Do NOT include direct promotions or sales.\n\nContext:\n- A Google Sheet records past posts with the columns: date, trend, social_network, post_link. Do not reuse any trend that appeared in the last 90 days.\n\nInput variables (provided by n8n):\n- trends = {{$json[\"output\"][\"tendencias\"]}}        // array of trend strings\n- today  = {{$now}}                                 // ISO date\n\nTasks:\n1. Remove from *trends* those already used in the last 90 days (consult the Google Sheet).\n2. Choose **one** remaining trend that will be most appealing to SMEs beginning their digital journey.\n3. Write a single Facebook post in Spanish (≤ 180 words) with the following order, each part on its own line:\n   • Hook line  \n   • Brief explanation (what the trend is)  \n   • How it works  \n   • Why it matters for SMEs, shops, or entrepreneurs  \n   • Signature + CTA → “¡Órale Web! | Síguenos para más ideas digitales”  \n   • 3-5 lowercase hashtags about technology and digital business  \n   • **Do not use emojis.**\n4. Insert exactly **one blank line**.\n5. After the blank line, write an image-generation prompt in English that visually matches the post. Make it highly descriptive (main subject, action, environment, tech elements, lighting, modern clean vibrant style, 16:9 aspect). Avoid text or logos in the image.\n\nOutput:\nReturn **only** the Facebook post, the blank line, and the English image prompt—nothing else.  \nIf there are no new trends, respond exactly:  \nSin tendencias nuevas disponibles\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1040,
        2064
      ],
      "id": "0dc7ed7a-c72a-43b7-9900-d1b951014b0b",
      "name": "Generador de post",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI",
          "mode": "list",
          "cachedResultName": "Publicaciones orale web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mM2g2EISmHdk9cuLickgWMtmofTf77v1R-mdolvi7EI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1296,
        2512
      ],
      "id": "4742141d-128d-412a-bfef-f83ae0d69ed6",
      "name": "Leyendo Tendencias usadas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n      \"tendencias\": [\n        \"Inteligencia Artificial aplicada al desarrollo web\",\n        \"Aplicaciones Web Progresivas (PWA)\",\n        \"Web3 y descentralización\",\n        \"Modo oscuro como estándar de UI\",\n        \"Integración de Realidad Aumentada (AR) y Virtual (VR)\",\n        \"Desarrollo con tecnologías como React.js, Vue.js y Svelte\",\n        \"Automatización con bajo código / sin código\",\n        \"Computación en la nube y arquitecturas serverless\"\n      ]\n    }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1232,
        2304
      ],
      "id": "e679805b-0c80-4c64-90b8-4bb932c42de3",
      "name": "Structured Output Parser4",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1488,
        2288
      ],
      "id": "c2a96349-50c3-4c92-9984-547f593665d0",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        2272
      ],
      "id": "3ca0f436-66c6-4962-a539-1332b2fc3ee6",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -864,
        2544
      ],
      "id": "9c16d66a-039a-4852-a69c-2250a30e88f9",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Generador de post').item.json.output.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        2048
      ],
      "id": "8d63a6c7-42d9-4dca-98b0-cc9e9b085be6",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1712,
        2048
      ],
      "id": "a7c04b23-7da9-40d7-84fb-84b8fc2eb5d7",
      "name": "Schedule Trigger1",
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Publicacion Automatica En Facebook",
        "height": 800,
        "width": 1872,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        1888
      ],
      "typeVersion": 1,
      "id": "bf34aaa9-d57a-41b8-9dd7-d608131a8661",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post\": \"🚀 ¿Automatización dentro del código? Flyde 1.0 lo está logrando.\\n\\nFlyde es una herramienta open source que permite crear flujos automatizados directamente en el código de tu proyecto, sin interfaces externas. Ideal para desarrolladores que necesitan control total y flexibilidad.\\n\\nSi ya usas n8n o Make, Flyde lleva el mismo concepto al siguiente nivel con mayor integración técnica.\\n\\n🔧 Personalización, ⚙️ eficiencia y 🧠 velocidad en un solo paquete.\\n\\n#DesarrolloWeb #Flyde #Automatización #WebTools\\n\\n¡Órale Web! 🚀\\nSíguenos para más tendencias cada semana.\",\n  \n  \"image_prompt\": \"IA\",\n  \"tendencia_seleccionada\": \"IA para empresas \"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -784,
        2336
      ],
      "id": "b5c1f352-6016-4c60-ac80-2c97df24f5bc",
      "name": "Structured Output Parser3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f360e2b6-89cd-411a-a681-f89115ab00a7",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        288
      ],
      "id": "b6f218a7-e5ba-4576-98b3-1eb262b46110",
      "name": "URL"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1137122626",
        "message": "=\nPost: \n\n{{ $json.message.content }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "¿Quieres Publiarlo?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "SI"
                  },
                  {
                    "option": "No"
                  },
                  {
                    "option": "Modificar"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        480
      ],
      "id": "99a7e304-9ea2-4851-95a2-822f7d7ffcee",
      "name": "Send message and wait for response",
      "webhookId": "7c2d07c4-7ade-4da3-a652-c11617faeb3c",
      "credentials": {
        "telegramApi": {
          "id": "gMK6ukKSQ9wfUP4I",
          "name": "Creador de contenido"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['¿Quieres Publiarlo?'] }}",
                    "rightValue": "SI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f893279-b874-4584-88c6-e96650747529"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea8c9ec4-9ea5-44ca-a20f-36403bdec6b0",
                    "leftValue": "={{ $json.data['¿Quieres Publiarlo?'] }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        352
      ],
      "id": "44e53005-da5d-47c2-a5c0-40edf9ad94af",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg",
          "mode": "list",
          "cachedResultName": "Publicaciones Automaticas Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema ": "={{ $('Content topic generator2').item.json.output[0].title }}",
            "Publicacion": "={{ $('Content creator').item.json.output['post content'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tema ",
              "displayName": "Tema ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publicacion",
              "displayName": "Publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -48,
        1104
      ],
      "id": "801fdcb8-6b81-4d95-9532-40e89c3ac617",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg",
          "mode": "list",
          "cachedResultName": "Publicaciones Automaticas Linkeding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fKHvGrFwK_1jgT82ddnrqT5Kzpm102xJXl249fXBSSg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1360,
        1328
      ],
      "id": "89228a88-91ae-4932-9da0-6f0ba03e7f05",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key=AIzaSyCeA65Ey2n71nOPZKb58vN1mMlvBm3e1aI&cx=228474638e8d649ba&q={{ encodeURIComponent($fromAI('busqueda_agente')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1232,
        1328
      ],
      "id": "eec77683-8795-4ac0-a216-1d0572372118",
      "name": "BUSCADOR",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        496
      ],
      "id": "82aeff6a-a035-4fdb-8283-1fdef7fdb77f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46792321-acab-448b-8e0d-805ecb59f92f",
              "name": "contenido",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "14e9ae20-8fd7-42c3-ae7b-7496be9aaeb7",
              "name": "URL",
              "value": "={{ $('Conversión HTML').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        288
      ],
      "id": "2a5509d4-bd8e-4e34-8e8d-5e76b4ea29c8",
      "name": "Estructurar post"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_plantillas",
  "repo_owner": "pakosanchez27",
  "repo_path": "https://github.com/pakosanchez27/n8n_plantillas",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    },
    "node:Google Sheets Trigger": {
      "documentId": "1gTC1TwQnNm0nGHsRVVxZjHnm_-iqnrP9v8sP2y5SZqk",
      "sheetId": 0,
      "lastIndexChecked": 3
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        228
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-30T07:16:47.434Z",
      "updatedAt": "2025-07-30T07:16:47.434Z",
      "id": "mSpHjLUfWIhOQqzc",
      "name": "Experimentos"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-08-30T15:21:50.000Z",
  "versionId": "e8e9b43f-16c5-4102-aa4b-624a956946de"
}