Workflows/A3JvOPuUxctgNPE7.json
{
  "active": true,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de Factura": {
      "main": [
        [
          {
            "node": "Agrega Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega Factura": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Datos de Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Renombrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Redis-push sms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Redis-get sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "unir mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-push sms": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-get sms": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unir mensaje": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ETIQUETA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "ETIQUETA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "ETIQUETA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA": {
      "main": [
        [
          {
            "node": "Crear Borrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA1": {
      "main": [
        [
          {
            "node": "Crear Borrador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA2": {
      "main": [
        [
          {
            "node": "Crear Borrador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador": {
      "main": [
        [
          {
            "node": "Enviar Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador1": {
      "main": [
        [
          {
            "node": "Enviar Alerta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador2": {
      "main": [
        [
          {
            "node": "Enviar Alerta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Emails": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Clasificador de Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:53:55.310Z",
  "id": "A3JvOPuUxctgNPE7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Seguimiento de facturas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1uPKvkkjL1qT7vPkcyKlExHvGOSkgYvV9",
          "mode": "list",
          "cachedResultName": "Facturas 2025",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uPKvkkjL1qT7vPkcyKlExHvGOSkgYvV9"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "927d4a50-6877-4de9-8e34-67fcb741acb5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "e4c3c0e6-1af9-44d0-ae40-0df54b560c62",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "21e5aca3-7be0-423c-9ea5-03cbe99636ba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "fecha de emision",
              "description": "Fecha de emision",
              "required": true
            },
            {
              "name": "Folio",
              "description": "Folio fiscal",
              "required": true
            },
            {
              "name": "RFC Receptor",
              "description": "RFC Receptor",
              "required": true
            },
            {
              "name": "Concepto",
              "description": "Concepto",
              "required": true
            },
            {
              "name": "Impuestostrasladados IVA 16.00%",
              "type": "number",
              "description": "Impuestostrasladados IVA 16.00%",
              "required": true
            },
            {
              "name": "Total",
              "type": "number",
              "description": "Total",
              "required": true
            },
            {
              "name": "Forma de pago",
              "description": "Forma de pago",
              "required": true
            },
            {
              "name": "Método de pago",
              "description": "Método de pago",
              "required": true
            },
            {
              "name": "Estado de pago",
              "description": "Estado de pago",
              "required": true
            },
            {
              "name": "Importe",
              "type": "number",
              "description": "Importe",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        896,
        144
      ],
      "id": "a73b7c41-65a1-420a-a02e-412e34f08e90",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        368
      ],
      "id": "dc4222a7-990e-4e32-aed9-885a8e3ac228",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cc41186-fc34-4fe7-b8b8-fbd4238c1dda",
              "name": "Fecha de Emision",
              "value": "={{ $('Information Extractor').item.json.output['fecha de emision'] }}",
              "type": "string"
            },
            {
              "id": "df0ca784-80d5-4783-8731-e86c01fdeace",
              "name": "Folio",
              "value": "={{ $('Information Extractor').item.json.output.Folio }}",
              "type": "string"
            },
            {
              "id": "8c03ef50-4f82-4af8-96b7-add29f11f608",
              "name": "RFC Receptor",
              "value": "={{ $('Information Extractor').item.json.output['RFC Receptor'] }}",
              "type": "string"
            },
            {
              "id": "62c0a63e-16ca-4eab-b390-ffee3db953ad",
              "name": "Concepto",
              "value": "={{ $('Information Extractor').item.json.output.Concepto }}",
              "type": "string"
            },
            {
              "id": "06ba14ef-37c1-41a3-9d24-92484a110413",
              "name": "IVA",
              "value": "={{ $('Information Extractor').item.json.output['Impuestostrasladados IVA 16.00%'] }}",
              "type": "number"
            },
            {
              "id": "260452f7-b00e-4bde-af0c-6c4879c55356",
              "name": "Total",
              "value": "={{ $('Information Extractor').item.json.output.Total }}",
              "type": "number"
            },
            {
              "id": "b213d107-82bb-4655-a496-3f04ede0d4f7",
              "name": "Forma de pago",
              "value": "={{ $('Information Extractor').item.json.output['Forma de pago'] }}",
              "type": "string"
            },
            {
              "id": "55c155b4-51ac-46c7-aa03-a6cfe80abe80",
              "name": "Estado de pago",
              "value": "={{ $('Information Extractor').item.json.output['Estado de pago'] }}",
              "type": "string"
            },
            {
              "id": "5d515cb3-1a90-4578-add3-514ddbe1d309",
              "name": "Importe",
              "value": "={{ $('Information Extractor').item.json.output.Importe }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        144
      ],
      "id": "5e2cfddf-94a2-4ce0-87ea-83650276cd94",
      "name": "Datos de Factura"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI",
          "mode": "list",
          "cachedResultName": "Facturas 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json['Fecha de Emision'] }}",
            "Folio": "={{ $json.Folio }}",
            "RFC Receptor": "={{ $json['RFC Receptor'] }}",
            "Concepto": "={{ $json.Concepto }}",
            "IVA": "={{ $json.IVA }}",
            "Total": "={{ $json.Total }}",
            "Forma de pago": "={{ $json['Forma de pago'] }}",
            "Método de pago": "={{ $json['Estado de pago'] }}",
            "Estado de pago": "={{ $json['Estado de pago'] }}",
            "Importe": "={{ $json.Importe }}",
            "Impuesto ISR": "={{ $json.Importe <= 25000 ? $json.Importe * 0.01 :     $json.Importe <= 50000 ? $json.Importe * 0.011 :    $json.Importe <= 83333.33 ? $json.Importe * 0.015 :    $json.Importe <= 208333.33 ? $json.Importe * 0.02 :    $json.Importe <= 3500000 ? $json.Importe * 0.025 :    0 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folio",
              "displayName": "Folio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RFC Receptor",
              "displayName": "RFC Receptor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concepto",
              "displayName": "Concepto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Importe",
              "displayName": "Importe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Impuesto ISR",
              "displayName": "Impuesto ISR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de pago",
              "displayName": "Forma de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Método de pago",
              "displayName": "Método de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado de pago",
              "displayName": "Estado de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        128
      ],
      "id": "4d90b768-4f27-4512-9493-6e858d78fcfd",
      "name": "Agrega Factura",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fullFileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c403b59-bdbd-4315-99b0-e976706ab7c5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c82d482-d6ad-406e-9c13-432cc0fbeb20",
                    "leftValue": "={{ $json.fullFileExtension }}",
                    "rightValue": "xml",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        -64
      ],
      "id": "7610d48e-af9a-4fa4-b7f3-ba3e190922a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json.output.Folio }}-{{ $json.output['fecha de emision'].split(' ')[0].split('-').reverse().join('-') }}-{{ $json.output['RFC Receptor'] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        -272
      ],
      "id": "6aeddbfc-18ab-48ad-9205-d61d73ddb3bc",
      "name": "Renombrar",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -320
      ],
      "id": "64112dc9-64dd-47d1-91da-ee6f62ddc2a5",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "xml",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        -320
      ],
      "id": "3e0f78e0-298c-4366-8087-ad0155999977",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06f83162-04a2-4d9a-b7b0-5a176e493c88",
              "name": "tipo",
              "value": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        144
      ],
      "id": "ef274e03-8df8-40b7-bcdc-5561e54f158c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "fecha de emision",
              "description": "Fecha de emision",
              "required": true
            },
            {
              "name": "Folio",
              "description": "Folio fiscal",
              "required": true
            },
            {
              "name": "RFC Receptor",
              "description": "RFC Receptor",
              "required": true
            },
            {
              "name": "Concepto",
              "description": "Concepto",
              "required": true
            },
            {
              "name": "Impuestostrasladados IVA 16.00%",
              "type": "number",
              "description": "Impuestostrasladados IVA 16.00%",
              "required": true
            },
            {
              "name": "Total",
              "type": "number",
              "description": "Total",
              "required": true
            },
            {
              "name": "Forma de pago",
              "description": "Forma de pago",
              "required": true
            },
            {
              "name": "Método de pago",
              "description": "Método de pago",
              "required": true
            },
            {
              "name": "Estado de pago",
              "description": "Estado de pago",
              "required": true
            },
            {
              "name": "Importe",
              "type": "number",
              "description": "Importe",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        896,
        -368
      ],
      "id": "afc00def-4631-4c18-a839-2dcaf329a038",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        -144
      ],
      "id": "a7f4aa03-9af0-43bc-bfd4-d95d195c8faa",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=toma esta fecha :  {{ $('Information Extractor1').item.json.output['fecha de emision'] }} y devuelveme el nombre del mes, por ejemplo \"Julio\"\n\nSolo devulveme el mes"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        -272
      ],
      "id": "0a0ac600-7c0e-4998-8e15-e4221d469aef",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Renombrar').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2144,
        -272
      ],
      "id": "9b7a11f4-3ee3-4418-8b20-5c8f82aa4028",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.message.content }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1uPKvkkjL1qT7vPkcyKlExHvGOSkgYvV9",
            "mode": "list",
            "cachedResultName": "Facturas 2025",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1uPKvkkjL1qT7vPkcyKlExHvGOSkgYvV9"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        -272
      ],
      "id": "038d6051-d3ae-4933-9903-a94cbf92dc21",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nbtBBf1dnJ1Yok6v",
          "name": "Drive Pako"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 7,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        656
      ],
      "id": "032422ef-8a6a-42c9-a373-aaf56afbb105",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.timestamp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        656
      ],
      "id": "f9f21e24-ea64-43d7-9889-2e7fe5009d26",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI",
          "mode": "list",
          "cachedResultName": "Facturas 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 28147390,
          "mode": "list",
          "cachedResultName": "Total De Impuestos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15d6DJClKg1CUmYzoNDpaoSzd_eijsFuU5iJFLRilVKI/edit#gid=28147390"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Mes",
              "lookupValue": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        864,
        656
      ],
      "id": "f0d0e719-942d-44f3-9545-f690d2983229",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Toma este mes  {{ $json.datePart }} y devuelveme el mes Anterior a este en español, solo devuelveme el mes con la primera letra en mayuscula"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        656
      ],
      "id": "aeffde08-010f-4123-abb4-a832864f4e01",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Conestos datos : \nISR: {{ $json.ISR }} \nIVA: {{ $json.IVA }}\nTotal a pagar por el mes: {{ $json['Total a pagar por mes'] }}\n\nCrea un mensaje para mi: Pako, que me diga que eso es lo que tengo que pagar por mes y recordarme en hacer mi declaracion antes del  17 del mes {{ $json.Mes }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1072,
        656
      ],
      "id": "974aff88-7244-42eb-a1ff-abb8c48dd7aa",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1137122626",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        656
      ],
      "id": "8235eccf-3824-4e6e-a89e-fbf695d4ed1e",
      "name": "Send a text message",
      "webhookId": "c7fc345e-01ac-42ad-bc2f-d5d0c92f81ab",
      "credentials": {
        "telegramApi": {
          "id": "cVtyyaLmANYTtXLn",
          "name": "Telegram Pako"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        1648
      ],
      "id": "2cc8e808-452c-498a-8a12-0c212c4eb065",
      "name": "Telegram Trigger",
      "webhookId": "e678ad6d-6647-4a0f-915a-bf601d92d8d6",
      "credentials": {
        "telegramApi": {
          "id": "cVtyyaLmANYTtXLn",
          "name": "Telegram Pako"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1978e3f5-5513-4fe1-8ebf-fb11fdb87499",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "c24b1bbd-337d-4a55-889f-384c8fc933b5",
              "name": "mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "0ff2eb7f-b918-4f14-ba20-55547d02be5a",
              "name": "id_voice",
              "value": "={{ $json.message.voice.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1648
      ],
      "id": "4be4c097-08e1-410b-95b3-a4584ab1adce",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "0dccc56b-b8d0-44a1-bc23-18923ad49aee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d8be5ed-fe2f-4b9b-b9fe-d1a850fe8910",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        1648
      ],
      "id": "26080c0d-8e81-41d2-b58d-89787cb4ac39",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1584,
        1840
      ],
      "id": "566e928e-a25d-4802-8064-da3177f9b051",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "Pako OpenIA"
        }
      }
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        1552
      ],
      "id": "9b8bfdbb-ecbd-4414-8548-b4b9f11967fe",
      "name": "Wait2",
      "webhookId": "e62f59ac-537e-4b14-aff1-69c52119609c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71036f0d-04e2-4fe4-a2f8-baa597e53caf",
              "leftValue": "={{ $json.mensaje.last() }}",
              "rightValue": "={{ $('Edit Fields2').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        1552
      ],
      "id": "e2f15b14-7b5c-40b8-b531-09d59bfcd4ca",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.chat_id }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        688,
        1552
      ],
      "id": "adf99194-aad1-4984-be9b-fcfcb6618a03",
      "name": "Redis-push sms",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensaje",
        "key": "={{ $('Edit Fields2').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1136,
        1552
      ],
      "id": "8ba13ad2-26b2-4d1f-b9f6-4192ecedfb2a",
      "name": "Redis-get sms",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        1648
      ],
      "id": "d6b1ab72-8c16-467c-8654-b6dd704f7324",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d346b0ae-305a-4e81-b4a6-a77dfe026f09",
              "name": "mensaje",
              "value": "={{ $('Redis-get sms').item.json.mensaje.join(\" \")}}",
              "type": "string"
            },
            {
              "id": "31e3c60d-fd86-40a5-96de-38fb5177048f",
              "name": "chat_id",
              "value": "={{ $('Edit Fields2').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        1456
      ],
      "id": "e6c669f5-b2f1-473f-964a-6bbcb8f41b92",
      "name": "unir mensaje"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Switch2').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1808,
        1456
      ],
      "id": "1a2c4078-6357-4f4d-8675-2e41216d9215",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Convierte audio a texto\n",
        "height": 260,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        1744
      ],
      "typeVersion": 1,
      "id": "c27fbe51-000a-45f3-987f-4de074d6057e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "123370bb-5c42-4c70-b077-90c7c20e2df6",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "aca7e537-4c9b-419b-8e55-c4306cf1a5ea",
              "name": "chat_id",
              "value": "={{ $('Edit Fields2').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        1840
      ],
      "id": "ae21442b-b363-4b12-92e4-4dbb0f4e76e8",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            },
            {
              "fieldToAggregate": "chat_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2032,
        1648
      ],
      "id": "2edb7e3e-697d-4941-8545-34fec1ded383",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.id_voice }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        1840
      ],
      "id": "56a98b81-33fa-4bc3-b33c-f7cb4361d7b0",
      "name": "Get a file",
      "webhookId": "c75dad28-ae2d-429c-ab7e-f25e9f7fc556",
      "credentials": {
        "telegramApi": {
          "id": "cVtyyaLmANYTtXLn",
          "name": "Telegram Pako"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        3504,
        336
      ],
      "id": "493c4888-07ad-47fe-a370-77f9953ca0f7",
      "name": "Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        48
      ],
      "id": "188f2d19-eb22-4ef5-a7b9-fe45c04f32ea",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        -144
      ],
      "id": "095719ad-2fa3-4965-bb2f-290a46cfe566",
      "name": "Code1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos laborales.\n\nRecibirás el asunto y el cuerpo de un correo relacionado con trabajo o comunicaciones internas.\n\nTu tarea es redactar una respuesta breve, clara y respetuosa.\n\nAsegúrate de:\n\nResponder de forma puntual a lo que se pide.\n\nMantener un tono colaborativo y profesional.\n\nSonar humano, como un colega atento.\n\nEvitar exceso de formalidad, manteniendo la comunicación sencilla.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields1').item.json.From }}\nASUNTO: {{ $('Edit Fields1').item.json.Subject }}\nBODY:{{ $('Edit Fields1').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4528,
        240
      ],
      "id": "05ae396a-6e5f-4266-a217-446c303c5af8",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        240
      ],
      "id": "989271d6-d5bb-41f6-8329-aa4b434cb222",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_770951928743596611"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5104,
        -144
      ],
      "id": "4caf661b-cfe3-4a1d-9686-87a214406f81",
      "name": "ETIQUETA",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_1825414215957450148"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5104,
        48
      ],
      "id": "d52d9821-2b95-4059-9b5a-6d8df4e0637f",
      "name": "ETIQUETA1",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_3100686264112151428"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5104,
        240
      ],
      "id": "702c2819-dd30-4ea9-aec9-e8bb8a2a04bd",
      "name": "ETIQUETA2",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_1516948341942809660"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4592,
        432
      ],
      "id": "5d0680de-ae0c-420c-a662-3bbf77fd82a9",
      "name": "ETIQUETA3",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_5696755187546353597"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4592,
        624
      ],
      "id": "c1fe2daa-2071-4ed6-804b-63951ca13f13",
      "name": "ETIQUETA4",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields1').item.json.id }}",
        "labelIds": [
          "Label_8897879677453609232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4592,
        816
      ],
      "id": "13f292cb-0251-41fb-a655-931103cd59d8",
      "name": "ETIQUETA5",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code1').item.json.subject }}",
        "message": "={{ $('Code1').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5328,
        -144
      ],
      "id": "39ac43c8-86ac-442b-80dc-166b58db4f1d",
      "name": "Crear Borrador",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code').item.json.subject }}",
        "message": "={{ $('Code').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5328,
        48
      ],
      "id": "a1da40a2-260a-4de6-9c96-dacae7a3845e",
      "name": "Crear Borrador1",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code2').item.json.subject }}",
        "message": "={{ $('Code2').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5328,
        240
      ],
      "id": "2dad824a-3afe-44d7-9249-1c353251684d",
      "name": "Crear Borrador2",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields1').item.json.From }}*\nContenido: \n{{ $('Edit Fields1').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code1').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5552,
        -144
      ],
      "id": "8269ad9d-4b0c-4668-8bcf-fa549407eee9",
      "name": "Enviar Alerta",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields1').item.json.From }}*\nContenido: \n{{ $('Edit Fields1').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5552,
        48
      ],
      "id": "5ef0db23-ac68-44e3-af4b-dcaa3028a87b",
      "name": "Enviar Alerta1",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields1').item.json.From }}*\nContenido: \n{{ $('Edit Fields1').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code2').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5552,
        240
      ],
      "id": "387496b9-3497-4e74-a273-53c779874e34",
      "name": "Enviar Alerta2",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un clasificador de correos electrónicos.\n\nRecibirás el asunto y el contenido (body) de un correo electrónico.\n\nTu tarea es analizarlo y devolver solo una palabra en mayúsculas que represente la categoría del correo.\n\nNo expliques, no des contexto, no escribas nada más aparte de la categoría.\n\nLas categorías posibles son:\n\nFINANZAS → Correos relacionados con bancos, inversiones, tarjetas, estados de cuenta, reportes financieros.\n\nNEGOCIOS → Oportunidades comerciales, clientes potenciales, propuestas de negocio, networking.\n\nTRABAJO → Mensajes laborales generales, comunicaciones de compañeros, jefes o colaboradores.\n\nFACTURA → Recibos, comprobantes, pagos, facturación, XML, aviso de cobro.\n\nSPAM → Publicidad no solicitada, promociones irrelevantes, phishing.\n\nOTROS → Si no entra en ninguna de las anteriores.\n\nResponde unicamente una palabra de la lista anterior, sin comillas.\n\nEjemplo de salida válida: \"FACTURA\"\n\nCORREO A ANALIZAR\n\nDE:{{ $json.From }}\nASUNTO:{{ $json.Subject }}\n{{ $json.snippet }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3952,
        336
      ],
      "id": "bb7411fd-d962-4f64-bfde-1c8da1eda178",
      "name": "Clasificador de Emails",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      }
    },
    {
      "parameters": {
        "content": "# Asistente Clasificador de correos \n### Descripcion\nEl asistente recibe los correos, los clasifica y agrega una etiqueta, Si son *importantes* entonces envia una alerta\n\n### Herramientas y costos \n* n8n: $5 / 20 USD /mes\n* OpenIA o Gemini : $ 5 USD /mes\n* Gmail API: Free\n* Evolution API: Free ",
        "height": 1216,
        "width": 2416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3424,
        -240
      ],
      "typeVersion": 1,
      "id": "2acd01dc-2ddd-4104-a01e-933ab911d951",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "271c8b32-9e07-48e7-b13e-f25bdfe0e7a2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ecdf72cc-4a2f-4ab7-9e03-a3a01372c2e5",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "01cc1362-398c-44cc-894b-06bca6f335d6",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "0bda10a6-9cf9-49e5-aecd-ae47f3054774",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3728,
        336
      ],
      "id": "7714cde1-21c9-438b-ad63-5e9ab8114971",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "FINANZAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1bc72bf3-ebd3-4a26-8ec0-d856f38f4d1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINANZAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3f4832e-d838-4d85-b2d0-3634b5d8bf92",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "NEGOCIOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEGOCIOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b57d8223-8097-48e3-9aec-ea5732ac3676",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "TRABAJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRABAJO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1aa66bf0-1fa9-4cd9-bcd4-896e7b8af6e3",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "FACTURA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FACTURA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb419cd8-95c6-4f92-aeba-2271bf160e3b",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "SPAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SPAM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e0e93b27-c959-446e-be38-9fa690e5722b",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "OTROS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OTROS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4304,
        272
      ],
      "id": "c2969874-cb30-427e-87c0-ed6e1ae40e5d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos de negocios.\n\nRecibirás el asunto y el cuerpo de un correo relacionado con oportunidades comerciales, propuestas o networking.\n\nTu tarea es redactar una respuesta profesional pero cercana, mostrando interés en colaborar.\n\nAsegúrate de:\n\nAgradecer el contacto de manera natural.\n\nMostrar disposición y apertura a continuar la conversación.\n\nMantener un tono positivo, cordial y entusiasta.\n\nEvitar sonar demasiado genérico. Haz que la respuesta parezca escrita para esa persona.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields1').item.json.From }}\nASUNTO: {{ $('Edit Fields1').item.json.Subject }}\nBODY:{{ $('Edit Fields1').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4528,
        48
      ],
      "id": "64d1bed4-f610-486c-a002-338e8e65728e",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos de temas financieros.\n\nRecibirás el asunto y el cuerpo de correo relacionado con finanzas (ej. bancos, reportes, estados de cuenta, inversiones).\n\nTu tarea es redactar una respuesta clara, profesional y breve, con tono humano.\n\nAsegúrate de:\n\nResponder de forma educada y concreta a lo solicitado.\n\nMantener un tono serio y confiable, como un asesor financiero.\n\nUsar frases naturales como: “Gracias por compartir esta información”, “Con gusto te apoyo con…”.\n\nNo sonar robótico ni demasiado genérico.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields1').item.json.From }}\nASUNTO: {{ $('Edit Fields1').item.json.Subject }}\nBODY:{{ $('Edit Fields1').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4528,
        -144
      ],
      "id": "d1d4c13d-4f80-4ee2-b41a-f7a2ea5fbd56",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-08-30T18:45:15Z"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Gmail": {
      "Gmail": {
        "lastTimeChecked": 1756579513,
        "possibleDuplicates": [
          "198fc4c4471974c3",
          "198fc3553f713a8f"
        ]
      }
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-30T07:16:47.434Z",
      "updatedAt": "2025-07-30T07:16:47.434Z",
      "id": "mSpHjLUfWIhOQqzc",
      "name": "Experimentos"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2025-08-30T08:24:33.000Z",
  "versionId": "37647bd6-6136-4a84-a993-7ee578d70483"
}