Workflows/DnLwpwMa7z9vqLEh.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Estructrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructrar": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Doc": {
      "main": [
        [
          {
            "node": "Eliminar Documento Anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Documento Anterior": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T15:14:46.589Z",
  "id": "DnLwpwMa7z9vqLEh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cerebro Clinica",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OZgu-kuT0iV10ttq7mQJ7wFM9103Msto",
          "mode": "list",
          "cachedResultName": "Conocimiento",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OZgu-kuT0iV10ttq7mQJ7wFM9103Msto"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        80
      ],
      "id": "04ca6d26-1822-4fec-b305-e7f81b94d5e0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g5cb7uDpfDbowyZx",
          "name": "ClinicaDrive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac310e21-e6fd-48ec-a489-9ee399c5cbb6",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        80
      ],
      "id": "e59d79bc-4303-419f-b9f6-719ddbe0986a",
      "name": "Estructrar"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        80
      ],
      "id": "6e3347a3-581f-45bf-86e3-58a77bc5d4c4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g5cb7uDpfDbowyZx",
          "name": "ClinicaDrive"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -112,
        80
      ],
      "id": "699ec7b2-7a01-462d-b96e-8401f53876a9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        80
      ],
      "id": "5691df89-da0b-4624-899f-4e22d815525a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mHIZicTICBFcdYo5",
          "name": "ClinicaVetor"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ],
      "id": "e2ed1394-887f-4325-ad2a-13c436711d17",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Estructrar').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "id": "4193e819-b81f-4b64-98d4-e364e8c6b7bb",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        512
      ],
      "id": "3d84d74c-1ba4-4938-a56b-c41742027b42",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OZgu-kuT0iV10ttq7mQJ7wFM9103Msto",
          "mode": "list",
          "cachedResultName": "Conocimiento",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OZgu-kuT0iV10ttq7mQJ7wFM9103Msto"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        720
      ],
      "id": "da23af40-2c98-4327-9857-3c3a1e4c917d",
      "name": "Actualizar Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g5cb7uDpfDbowyZx",
          "name": "ClinicaDrive"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        720
      ],
      "id": "ccda6532-5c4a-4569-b953-41cd3b8e23e5",
      "name": "Eliminar Documento Anterior",
      "credentials": {
        "supabaseApi": {
          "id": "mHIZicTICBFcdYo5",
          "name": "ClinicaVetor"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b6a4550-da83-4eac-8435-7149d7450bd5",
              "name": "fileid",
              "value": "={{ $('Actualizar Doc').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        720
      ],
      "id": "49504569-4772-43f9-a583-1d102706b50d",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -112,
        720
      ],
      "id": "25cd1c61-9de8-43e6-845f-07a8e5871b96",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit').item.json.fileid }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        720
      ],
      "id": "4a454de2-fd55-45d8-906f-4f905f59ddff",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g5cb7uDpfDbowyZx",
          "name": "ClinicaDrive"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        720
      ],
      "id": "7a32d4ac-93b1-4d9d-9033-53bf38a2e028",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        592,
        720
      ],
      "id": "69065a6e-5c06-474c-8c6f-432f27c19a86",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "mHIZicTICBFcdYo5",
          "name": "ClinicaVetor"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        944
      ],
      "id": "7e45f63c-4579-46dd-a07f-cdcf29fe6a1f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Limit').item.json.fileid }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        688,
        944
      ],
      "id": "dea77dd9-8508-4cda-b82c-0a76c88dd4ba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        768,
        1152
      ],
      "id": "e8540d34-46b1-4ae4-bd2a-604c36d37891",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-10T15:14:46.591Z",
      "createdAt": "2025-09-10T15:14:46.591Z",
      "role": "workflow:owner",
      "workflowId": "DnLwpwMa7z9vqLEh",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-11T18:08:06.000Z",
  "versionId": "b272fca6-ee52-4889-8bb6-00aa166173ba"
}