Workflows/DuObnF8ZDubxoeVA.json
{
  "active": false,
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Recuperar datos del cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar datos del cliente": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mandar Correo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        []
      ]
    },
    "Mandar Correo": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-30T05:20:15.965Z",
  "id": "DuObnF8ZDubxoeVA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recordatorios Stripe",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invoice.payment_failed"
        ],
        "apiVersion": " 2025-09-30.clover"
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "0f79aa13-30dd-40ba-a5ad-846f7d35f63d",
      "name": "Stripe Trigger",
      "webhookId": "761b5a36-cde3-4645-b268-0c863ee37f2f",
      "credentials": {
        "stripeApi": {
          "id": "hhtnDIdvI10lu5r3",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "=*Recordatorio de Renovación*\n\nHola {{$node[\"Recuperar datos del cliente\"].json[\"name\"]}},\n\nTe informamos que el pago de tu suscripción \"{{ $('Stripe Trigger').item.json.data.object.lines.data[0].description }}\" no se pudo procesar y tu acceso ha sido suspendido.\n\nSi deseas volver a darla de alta, por favor actualiza tu método de pago desde tu panel de cliente.\n\nSi prefieres cancelar tu suscripción definitivamente, responde a este mensaje con la palabra \"cancelar\".",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        896,
        -64
      ],
      "id": "b187bba5-18a5-4290-8c89-b8fa1ea1e36a",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805190857,
          "mode": "list",
          "cachedResultName": "Cancelados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=1805190857"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customerId",
              "lookupValue": "={{ $json.data.object.customer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -64
      ],
      "id": "547fff40-129e-44f6-9ab6-b6db5381e7df",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "117a551f-d60e-4362-b5ba-fcc8e2c4ec19",
              "leftValue": "={{$node[\"Get row(s) in sheet\"].json[\"customerId\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -64
      ],
      "id": "efac6850-4618-4f76-8191-7da5850dfce1",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Recordatorio Pago Fallido",
        "message": "=\n<div style=\"font-family: sans-serif; color: #333;\">\n  <h2 style=\"text-align: center; color: #D9534F;\">Aviso Importante Sobre tu Suscripción</h2>\n  \n  <p>Hola {{$node[\"Recuperar datos del cliente\"].json[\"name\"]}},</p>\n  \n  <p>Te informamos que el pago de tu suscripción de <strong>$ {{ $('Stripe Trigger').item.json.data.object.amount_due / 100 }} MXN</strong> de la suscripcion: {{ $('Stripe Trigger').item.json.data.object.lines.data[0].description }}, no se pudo procesar y tu acceso al servicio ha sido suspendido.</p>\n  \n  <p>Para volver a dar de alta tu  suscripción y no perder tus datos, por favor, actualiza tu método de pago desde tu panel de cliente.</p>\n  \n  <p>Si prefieres cancelar tu  suscripción definitivamente, simplemente responde a nuestro mensaje en WhatsApp con la palabra \"cancelar\".</p>\n  \n  <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>\n  \n  <p>Saludos cordiales,<br>\n  <strong>Al chile media</strong></p>\n  \n  <hr>\n  <p style=\"font-size: 12px; color: #777;\">\n    Recibes este correo electrónico porque el pago de tu suscripción falló.\n  </p>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -256
      ],
      "id": "a08ca6cd-e438-4165-9ef9-d2e2503e2a37",
      "name": "Mandar Correo",
      "webhookId": "78f574c2-0c79-4201-a7b1-598b01b611d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "9IRXZsbPaUfz1vu6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "customerId": "={{ $('Stripe Trigger').item.json.data.object.customer }}"
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        672,
        -64
      ],
      "id": "8d193bb9-273d-4323-99ba-f4001af6429d",
      "name": "Recuperar datos del cliente",
      "credentials": {
        "stripeApi": {
          "id": "hhtnDIdvI10lu5r3",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{$node[\"Recuperar datos del cliente\"].json[\"phone\"].replace('+', '')}}",
            "customerId": "={{ $('Recuperar datos del cliente').item.json.id }}",
            "subscriptionId": "=",
            "estado": "notificacion_enviada",
            "invoiceId": "={{ $('Stripe Trigger').item.json.data.object.id }}",
            "fechaRecordatorio2": "={{ $('Date & Time').item.json.fechaRecordatorio }}",
            "fechaRecordatorio3": "={{ $json.fechaRecordatorio3 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subscriptionId",
              "displayName": "subscriptionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechaRecordatorio2",
              "displayName": "fechaRecordatorio2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fechaRecordatorio3",
              "displayName": "fechaRecordatorio3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoiceId",
              "displayName": "invoiceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        128
      ],
      "id": "be0389ec-ffce-4fdd-ae00-89e2d3bfbb78",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "duration": 3,
        "outputFieldName": "fechaRecordatorio",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        896,
        128
      ],
      "id": "f9d34b32-3121-468d-97a5-b945e995b51c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "duration": 10,
        "outputFieldName": "fechaRecordatorio3",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ],
      "id": "6b66e106-2f4b-45dc-840d-fb62a603f4c7",
      "name": "Date & Time1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-30T05:20:15.968Z",
      "updatedAt": "2025-09-30T05:20:15.968Z",
      "role": "workflow:owner",
      "workflowId": "DuObnF8ZDubxoeVA",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": {
    "node:Stripe Trigger": {}
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T01:48:09.000Z",
  "versionId": "8909c594-2f94-4baa-a34c-2323abcd893b"
}