Workflows/Gd2KBvvXmk491kBW.json
{
  "active": true,
  "connections": {
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Extrarer Fecha y Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Mensajes del día1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Link Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Código de invitación": {
      "main": [
        [
          {
            "node": "Buscar grupos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrar por Plantilla": {
      "main": [
        [
          {
            "node": "Fijo con PDF al abrir el grupo - gpo nvo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso nueva MC - gpos anteriores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 1 - gpo nvo- reflexión 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invitación a LIVE - todos los gpos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estamos en vivo! - todos los gpos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 2 - gpo nvo - 4 señales alerta y encuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso cierre grupo - gpos anteriores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 3 - gpo nvo - tarea preguntas a hijo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 4 - gpo nvo - reflexión 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 5 - gpo nvo - Hoy es la MC y encuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 6 - gpo nvo - Falta 1 hora MC y zoom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 7 - gpo nvo - Empezó MC y zoom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 8 - gpo nvo - Último aviso MC y zoom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 9 - gpo nvo - Recordatorio compra 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 10 - gpo nvo - Recordatorio compra 2 y video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 11 - gpo nvo - Quedan 12 horas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje 11 - gpo nvo - Quedan 2 horas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar grupos2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "VARIABLES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Extraer Código de invitación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Enviar Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar documento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar imagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje antes de Encuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrarer Fecha y Hora": {
      "main": [
        [
          {
            "node": "Obtener Mensajes del día1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VARIABLES": {
      "main": [
        [
          {
            "node": "filtrar por Plantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Obtener url descargable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Obtener url descargable",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Obtener url descargable",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Video": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar documento1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Grupo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fijo con PDF al abrir el grupo - gpo nvo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso nueva MC - gpos anteriores": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 1 - gpo nvo- reflexión 1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invitación a LIVE - todos los gpos": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estamos en vivo! - todos los gpos": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 2 - gpo nvo - 4 señales alerta y encuesta": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso cierre grupo - gpos anteriores": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 3 - gpo nvo - tarea preguntas a hijo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 4 - gpo nvo - reflexión 2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 5 - gpo nvo - Hoy es la MC y encuesta": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 6 - gpo nvo - Falta 1 hora MC y zoom": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 7 - gpo nvo - Empezó MC y zoom": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 8 - gpo nvo - Último aviso MC y zoom": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 9 - gpo nvo - Recordatorio compra 1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 10 - gpo nvo - Recordatorio compra 2 y video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 11 - gpo nvo - Quedan 12 horas": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje 11 - gpo nvo - Quedan 2 horas": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encuesta": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener url descargable": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Mensaje Después de Encuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Después de Encuesta": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje antes de Encuesta": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:27:39.738Z",
  "id": "Gd2KBvvXmk491kBW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Grupos",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        448,
        4496
      ],
      "id": "0304d2fd-6b09-478d-bb57-13b8b93b6d6a",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I",
          "mode": "list",
          "cachedResultName": "Admin Enrique",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $json.Fecha }}"
            },
            {
              "lookupColumn": "Hora",
              "lookupValue": "={{ $json.Hora }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        896,
        4496
      ],
      "id": "169a6d86-bcb4-4bc1-88ad-4d5d29b53fae",
      "name": "Obtener Mensajes del día1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        4496
      ],
      "id": "aa06f427-e978-460f-8d2a-18cb106b027e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extrae el invite code de una URL de invitación de WhatsApp.\n * @param {string} url - La URL de invitación (p. ej. https://chat.whatsapp.com/ABCDE12345?mode=ac_t)\n * @returns {string|null} - El código de invitación, o null si no coincide.\n */\nfunction extractInviteCode(url) {\n  const regex = /https?:\\/\\/chat\\.whatsapp\\.com\\/([^?]+)/;\n  const match = url.match(regex);\n  return match ? match[1] : null;\n}\n\n// Ejemplo de uso\nconst url = $('Link Grupo').first().json.link_grupo;\nconst inviteCode = extractInviteCode(url);\nreturn {id: inviteCode}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        2672
      ],
      "id": "014e0271-6b86-46c7-a48e-6e98093ebac1",
      "name": "Extraer Código de invitación"
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "FelizConMiCarrera",
        "inviteCode": "={{ $json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4992,
        2656
      ],
      "id": "efb9ada5-ed09-4533-9582-6e603ebdbe20",
      "name": "Buscar grupos2",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Fijo con PDF al abrir el grupo - gpo nvo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d79ddb30-f4f9-46ea-ba0c-42726961cc5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fijo con PDF al abrir el grupo - gpo nvo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec68da9d-79ed-4de9-a55d-d4563a218020",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Aviso nueva MC - gpos anteriores",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aviso nueva MC - gpos anteriores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59bd402a-9dfa-4f9a-8c06-591a269b3de1",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 1 - gpo nvo- reflexión 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 1 - gpo nvo- reflexión 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c15d872a-10f4-4f14-a1c6-a5549000ccd4",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Invitación a LIVE - todos los gpos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invitación a LIVE - todos los gpos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a91b2bf5-6b4f-434c-9295-bd8465cfc3bf",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Estamos en vivo! - todos los gpos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estamos en vivo! - todos los gpos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a005eebb-4571-4524-ac4d-1288cd4acb30",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 2 - gpo nvo - 4 señales alerta y encuesta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 2 - gpo nvo - 4 señales alerta y encuesta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7a0d22a-b57c-4a33-93e1-3d7fc41ed59e",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Aviso cierre grupo - gpos anteriores",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aviso cierre grupo - gpos anteriores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87d17746-7830-43be-b4f6-c1c7decc0661",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 3 - gpo nvo - tarea preguntas a hijo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 3 - gpo nvo - tarea preguntas a hijo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e808e56-b7a6-4959-b857-579964dfa009",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 4 - gpo nvo - reflexión 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 4 - gpo nvo - reflexión 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "955f9300-02a7-4036-bc33-a20cfffe6bc4",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 5 - gpo nvo - Hoy es la MC y encuesta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 5 - gpo nvo - Hoy es la MC y encuesta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24b1870d-3d43-4230-a434-b566ce8d4fb4",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 6 - gpo nvo - Falta 1 hora MC y zoom",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 6 - gpo nvo - Falta 1 hora MC y zoom"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a7147d4-0aab-4cbe-a4ba-5857a013bc7d",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 7 - gpo nvo - Empezó MC y zoom",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 7 - gpo nvo - Empezó MC y zoom"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2a99e6a-33d0-4a73-b969-613cca151a29",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 8 - gpo nvo - Último aviso MC y zoom",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 8 - gpo nvo - Último aviso MC y zoom"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e55a1289-086b-4f88-934d-0259aae7e336",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 9 - gpo nvo - Recordatorio compra 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 9 - gpo nvo - Recordatorio compra 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b2cd640-0956-40ea-a42c-360a7ae2eb9f",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 10 - gpo nvo - Recordatorio compra 2 y video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 10 - gpo nvo - Recordatorio compra 2 y video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7814b183-e676-4945-8205-3cad23f467a6",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 11 - gpo nvo - Quedan 12 horas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 11 - gpo nvo - Quedan 12 horas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "34bed618-b062-4a19-80ad-dafa0131bcf9",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Mensaje 11 - gpo nvo - Quedan 2 horas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje 11 - gpo nvo - Quedan 2 horas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "094c61ff-6c2e-472a-97dc-3530529baff6",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.Mensaje }}",
                    "rightValue": "Encuesta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encuesta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2000,
        2192
      ],
      "id": "59aa237a-f62f-41bd-b573-dddc8b2e8b8a",
      "name": "filtrar por Plantilla"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FelizConMiCarrera",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "messageText": "={{ $json.Mensaje[0] }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6656,
        4592
      ],
      "id": "a862ac52-5170-4fa6-b32a-f453f5ec8551",
      "name": "Enviar texto2",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1552,
        2448
      ],
      "id": "3112c5b4-19f2-4efc-8559-2385e161e872",
      "name": "Wait1",
      "webhookId": "db902bd6-5745-4119-9012-91bc09397b96"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8a6c87c-4ea1-427e-9128-ae4eb2ce7647",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "PDF",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc5c213e-7625-455c-864b-e9f5644925f8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90fd2d81-7485-4619-82af-363ea116951b",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "Imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91541d60-7c88-4a74-986e-854a1118d7bd",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99b46b18-f8d6-40cc-86da-62f298ed0082",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "Encuesta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encuesta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fd9ee7a-937b-44a0-bada-80a93aac2eab",
                    "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
                    "rightValue": "Texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6240,
        2592
      ],
      "id": "3c5b4b34-60d9-46a5-b596-e9388bf26264",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d222e41-10ef-4b6f-91a7-2c52f8e10a4d",
              "name": "id_grupo",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "d08bea17-4cc9-45bd-b3ad-9592ee883d70",
              "name": "Mensaje",
              "value": "={{ $('Aggregate').item.json.Mensaje[0] }}",
              "type": "string"
            },
            {
              "id": "f427144e-be05-4e6e-8e7c-c605506c54a9",
              "name": "=TypeMedia",
              "value": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
              "type": "string"
            },
            {
              "id": "a2a443d7-dda1-4585-8300-1bd7e47fa752",
              "name": "UrlArchivos",
              "value": "={{ $('Obtener Mensajes del día1').item.json.MediaURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5968,
        4256
      ],
      "id": "f22c7c58-64d2-4783-8468-cd7fe36bfd00",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4544,
        2656
      ],
      "id": "c631c55b-9b0d-4329-a9b7-1e471c4c404b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Imagen"
            },
            {
              "fieldToAggregate": "url_descargable"
            },
            {
              "fieldToAggregate": "Mensaje"
            },
            {
              "fieldToAggregate": "id_grupo"
            },
            {
              "fieldToAggregate": "TypeMedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6016,
        2656
      ],
      "id": "39170b6c-995f-4c91-99f7-1d6dc926a325",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "FelizBot",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "media": "={{ $json.url_descargable[0] }}",
        "caption": "={{ $json.Mensaje[0] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6464,
        3168
      ],
      "id": "c7e238fb-3347-4f8d-aa7f-36e2987c0f39",
      "name": "Enviar imagem1",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "FelizConMiCarrera",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "media": "={{ $json.url_descargable[0] }}",
        "caption": "={{ $json.Mensaje[0] }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6464,
        2960
      ],
      "id": "5ff17f1f-22e4-4c73-a4ea-a91d720d26f3",
      "name": "Enviar documento1",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-video",
        "instanceName": "FelizConMiCarrera",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "media": "={{ $json.url_descargable[0] }}",
        "caption": "={{ $json.Mensaje[0] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6464,
        2272
      ],
      "id": "f0dd6586-188e-4ac3-be4e-14d426d68cd2",
      "name": "Enviar Video",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api.aeo-ai.com/message/sendPoll/FelizBot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "540892C5ED88-4B4D-9E7D-565642FAA65A"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.data.key.remoteJid }}\",\n  \"name\": \"Selecciona todas las que apliquen.\",\n  \"selectableCount\": 10,\n  \"values\": [\n    \"Que elija una carrera y se quiera cambiar ya estudiándola\",\n    \"No lo veo motivado ni emocionado con el tema de elección de carrera.\",\n    \"Quiero que elija algo que le guste, pero que también tenga buen campo laboral.\",\n    \"¿Cómo conocer sus habilidades y saber en qué podría ser exitoso?\",\n    \"El apoyo de Orientación de la escuela no está siendo suficiente.\",\n    \"Cambia mucho de opinión de qué le gustaría estudiar\",\n    \"Que termine en un campo de trabajo que no le guste mucho, y no sea feliz en el futuro.\",\n    \"Temo que elija por razones incorrectas (amigos, moda, prisa...).\",\n    \"El impacto futuro que vaya a tener la Inteligencia Artificial en la carrera que elija.\",\n    \"Está entre algunas carreras, pero si le pregunto, no las conoce a la profundidad necesaria.\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7088,
        5072
      ],
      "id": "89886129-0928-4e44-b74d-d2d57483e28e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "520f7c5a-d968-4285-b400-bb01c7e50ab2",
              "name": "Fecha",
              "value": "={{ $json.currentDate.toDateTime().format('dd/M/yyyy') }}",
              "type": "string"
            },
            {
              "id": "65f8873a-db3b-47ac-981f-93796256e9ed",
              "name": "Hora",
              "value": "={{ $json.currentDate.toDateTime().format('H:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        4496
      ],
      "id": "fa538541-22a2-485a-83ab-bf9dcdd08642",
      "name": "Extrarer Fecha y Hora"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        4496
      ],
      "id": "4eec5e0d-5c1a-4e63-a420-9a1f9ecfc1dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I",
          "mode": "list",
          "cachedResultName": "Admin Enrique",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1610359296,
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit#gid=1610359296"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1776,
        2448
      ],
      "id": "abd030f6-2031-45ea-9005-7f3317c9490c",
      "name": "VARIABLES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eec18f9b-7dc3-4936-b192-ecdfae364060",
              "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
              "rightValue": "Texto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ddbe94c5-63c7-456b-a40f-688349bde63b",
              "leftValue": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
              "rightValue": "Encuesta",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5216,
        2656
      ],
      "id": "9c4aa481-09df-4f9d-a4f9-bd35c0297bc9",
      "name": "If1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"url\" : \"la url descargable\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5584,
        2768
      ],
      "id": "9b307e5c-2361-413b-b487-214fe37f30f0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5456,
        2768
      ],
      "id": "09f0fb77-9e98-48fb-b846-20ff34caeb3e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d222e41-10ef-4b6f-91a7-2c52f8e10a4d",
              "name": "id_grupo",
              "value": "={{ $('Buscar grupos2').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "d08bea17-4cc9-45bd-b3ad-9592ee883d70",
              "name": "Mensaje",
              "value": "={{ $('Aggregate').item.json.Mensaje[0] }}",
              "type": "string"
            },
            {
              "id": "f427144e-be05-4e6e-8e7c-c605506c54a9",
              "name": "=TypeMedia",
              "value": "={{ $('Obtener Mensajes del día1').item.json.TypeMedia }}",
              "type": "string"
            },
            {
              "id": "a2a443d7-dda1-4585-8300-1bd7e47fa752",
              "name": "url_descargable",
              "value": "={{ $json.output.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5792,
        2544
      ],
      "id": "67e3ee69-0ca9-4e8d-a849-19b7f1d197ff",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6864,
        4816
      ],
      "id": "b0c7292a-e282-426c-85b7-b48083d478ef",
      "name": "Wait",
      "webhookId": "30ad45d9-c259-46ce-8e80-1e6b915ae6b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6668155-dd59-4039-8ac4-af408f8d3e1c",
              "name": "link_grupo",
              "value": "={{ $json.GrupoWhatsApp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        3808
      ],
      "id": "09dc1cdc-6120-48db-993a-cc668def4ded",
      "name": "Link Grupo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=¡Da clic aquí!*\n*¡Bienvenida/o al grupo exclusivo de la Masterclass!*🎓\n\nAquí recibirás la información oficial, avisos y la liga de acceso para conectarte a la sesión.\n\n📄 Como puedes ver hay un PDF anexo a este mensaje. Es la guía:\n*“3 acciones efectivas para que tu hijo se abra contigo mientras elige carrera.”*\nTómate 5 minutos para leerla hoy: puede ayudarte mucho a ser la mamá o papá que tu hijo necesita en esta etapa.\n\n⚠️ *Importante*: \nLa liga de acceso a la Masterclass se enviará *solo en este grupo*, una hora antes de la sesión. No llegará por correo ni por otra vía",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1040
      ],
      "id": "39855a51-0fe2-4f9b-b9ec-8b152cf9d8d9",
      "name": "Fijo con PDF al abrir el grupo - gpo nvo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=📣 ¡Atención, papás y mamás!\nEl {{ $json.FechaMasterClass }} daré de nuevo Masterclass gratuita: \"Elige bien tu carrera. Cambia tu vida\"\n\n{{ $json.introEleccionCarrera }}\n\n👉 Para asistir a esta nueva sesión, regístrate aquí:\n{{ $json.LigaNuevoGrupo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1232
      ],
      "id": "2f6aba3a-9849-4ca2-a660-db35f28ba10e",
      "name": "Aviso nueva MC - gpos anteriores"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=Tu hijo está a punto de tomar una de las decisiones más importantes de su vida: *elegir carrera y camino profesional*.\n\nEn la Masterclass descubrirás los errores más comunes a evitar para que que caiga en el 40% de jóvenes que después se arrepienten. 🚫🎓\n\n👉 *Aparta el espacio en tu agenda*, porque lo que aprenderás aquí puede ahorrarle años de frustración.\n\n*Mañana* te tengo una sorpresa que no querrás perderte. \n¡Revisa el mensaje que enviaré!\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1424
      ],
      "id": "41826ef9-094b-4d98-b758-09e2f1dffe95",
      "name": "Mensaje 1 - gpo nvo- reflexión 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=✨ *\"_¡Ayuda! Mi hijo ya tiene que elegir carrera_.\"*🎓\n\n🎯 *Hoy en la noche* daré un live para hablar de algunos temas importantes que no veremos en la Masterclass por tiempo, pero que son importantes.\n\nVamos a ver puntos como:\n• ¿Es bueno un año sabático?\n• ¿Cómo hacer que tu hijo te cuente lo que va descubriendo en esta etapa?\n• ¿Qué mitos debes cuidar?\n• ¿Cómo afectará la Inteligencia Artificial al futuro profesional?\n\n…Y como será una sesión abierta, también responderé todas tus preguntas.\n\n⏰ *Hora:* 7:00pm CDMX | 8:00pm Colombia\n       Durará solo 20 minutos.\n📍 *Dónde:* En mi cuenta de Instagram 👉 @felizconmicarrera\n\n*Agéndalo ¡y ponte una alarma!*: está hecho para ti.\n\n",
              "type": "string"
            },
            {
              "id": "ff336526-efe6-4f88-b05b-970b59916036",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1616
      ],
      "id": "bedfb825-581d-4c44-b41a-68a56dc22976",
      "name": "Invitación a LIVE - todos los gpos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=🚨*¡Ya estamos en vivo!*🚨\n\nSolo durará 20 minutos y estaré contestando preguntas en tiempo real. \n\n📲*¡Entra ahora mismo!\n  👉Instagram:  @felizconmicarrera\n\nPara los que preguntaron cómo entrar: \n1️⃣ Busca nuestra cuenta y síguela.  \n2️⃣ Da clic al circulo con la foto de Enrique (delineada en rojo). ",
              "type": "string"
            },
            {
              "id": "ff336526-efe6-4f88-b05b-970b59916036",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1808
      ],
      "id": "90610e92-9be0-4ddf-87ca-452a9eaf94bc",
      "name": "Estamos en vivo! - todos los gpos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=😟 Muchos papás nos buscan después de escuchar a su hijo decir: \"_La carrera no era lo que esperaba…ya no quiero seguir ahí._\"\n\nEse momento duele. Y lo puedes prevenir.\n\nEn la Masterclass conocerás:\n✅ Los *3 elementos clave a considerar* para una buena elección de carrera.\n✅ Cómo lo podemos ayudar a elegir sintiéndose emocionado, seguro y confiado con su decisión. *Garantizado*.\n{{ $json.linkEncuestaMasterclass }}\n👉 Hoy quiero *conocerte más* para poder *ayudarte mejor*.\n\nResponde esta encuesta de solo 3 minutos.\nEl contenido de la Masterclass lo voy a ajustar según lo que más preocupe a ustedes. \nSi no respondes, se corre el riesgo de que no hable de lo que justo más te importa.\n",
              "type": "string"
            },
            {
              "id": "ff336526-efe6-4f88-b05b-970b59916036",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2000
      ],
      "id": "98fb3719-024e-48ce-8aaa-bb6d0a22a92a",
      "name": "Mensaje 2 - gpo nvo - 4 señales alerta y encuesta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=🚨 Vamos a cerrar este grupo.\n\n✅ Si te perdiste la Masterclass anterior y quieres un lugar en la siguiente del {{ $json.FechaMasterClass }}, únete al nuevo grupo de Whatsapp.\n\n⚠️ Es importante que te unas al nuevo grupo de WhatsApp, ya que solo ahí enviaremos la liga de acceso a la sesión.\n\nSolo da clic aquí ⬇️\n{{ $json['link registro '] }}\n",
              "type": "string"
            },
            {
              "id": "ff336526-efe6-4f88-b05b-970b59916036",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2192
      ],
      "id": "d3e33986-5764-4ae6-a3f2-990e73c5e0ac",
      "name": "Aviso cierre grupo - gpos anteriores"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=🌎 *Más de 1,500 jóvenes en 10 países* han elegido su carrera con *nuestro método*.\n\nTerminaron seguros y confiados con su elección, y los papás tranquilos de saber que sus hijos eligieron BIEN.\n\nNos dará mucho gusto poder ayudar a tu hijo (y a ti) también.\n\nTengo una actividad que te ayudará a sensibilizarte en cómo está:\n*Hazle estas preguntas a tu hijo hoy*:\n1️⃣ ¿Qué palabras te vienen a la mente cuando piensas en que ya tienes que elegir carrera?\n2️⃣ ¿Qué tan seguro te sientes de tener *toda* la información para elegir bien y por qué te sientes así?\n\n👉 Lo que tu hijo responda puede sorprenderte… y en la Masterclass veremos cómo interpretar esas respuestas\n",
              "type": "string"
            },
            {
              "id": "ff336526-efe6-4f88-b05b-970b59916036",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2384
      ],
      "id": "ccc2e462-2610-4d9f-a039-dbe7ed9c88f8",
      "name": "Mensaje 3 - gpo nvo - tarea preguntas a hijo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=⚠️ *Las cosas ya no son como antes.*\nHoy existen casi 200 carreras y el mundo laboral está cambiando más rápido de lo que podemos imaginar.\n\nEl contexto tan complejo que le tocó a tu hijo hace que los apoyos tradicionales para elegir carrera ya no sean suficientes.\n\nEn la Masterclass conocerás cómo sí es posible que con nuestro método tu hijo descubra *una carrera que le guste mucho y que lo pueda encaminar a un futuro feliz y exitoso*. \n\nTu hijo solo vivirá este momento de elegir una vez (si lo hace bien). \nEstás a dos días de descubrir *cómo lograrlo, a la primera.*",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2576
      ],
      "id": "2da7cc80-b123-4f7d-ae5e-280c9a69b454",
      "name": "Mensaje 4 - gpo nvo - reflexión 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=*¡Hoy es el día que puede cambiarlo todo!*\n\nLa sesión es para padres, pero si tu hijo quiere estar presente, ¡ideal!\n\n✨ Prepara todo para *aprovechar al máximo*:\n🕖 *Hora*: 7:00 pm CDMX |  8:00 pm Colombia\n🖊️ Libreta para tomar notas.\n💻 Conéctate desde una computadora (no del celular) para que puedas ver la información correctamente.\n📲 *Antes de la sesión recibirás el enlace de conexión* aquí mismo.\n\n¡Nos vemos por la tarde para transformar el futuro de tu hijo!\n\nSi no lo has hecho, responde esta encuesta de solo 3 minutos para que pueda abarcar en la Masterclass los temas que más te importan.\n{{ $json.linkEncuestaMasterclass }}\n\nUn abrazo,\nEnrique Molina\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2784
      ],
      "id": "c53c5ea6-61f5-4ce6-89e9-f2788d89da79",
      "name": "Mensaje 5 - gpo nvo - Hoy es la MC y encuesta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=*La Masterclass empieza en una hora.*\n\n⏰ Nos vemos a las 7:00pm CDMX | 8:00pm Colombia\n\n✅ ¡Sigue en este grupo! \nPorque al terminar la sesión enviaremos aquí la liga con la grabación e información importante de cierre.\n\n📲  Aquí te dejo el link para entrar: \n\n{{ $json.LinkZoom }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2976
      ],
      "id": "16de5a39-efa6-4c5c-94ab-215007cc1103",
      "name": "Mensaje 6 - gpo nvo - Falta 1 hora MC y zoom"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=🚨¡La sesión ya empezó!🚨\n\nEntra ya. Lo que verás puede hacer una diferencia importante para tu hijo.\n\n👉 Entra aquí: \n{{ $json.LinkZoom }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        3152
      ],
      "id": "3b04c7af-3aeb-4ceb-90f5-706c8e8726b6",
      "name": "Mensaje 7 - gpo nvo - Empezó MC y zoom"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=¿Te estás perdiendo la Masterclass?\n\n👉 *En 5 minutos* empezamos la parte que puede marcar la diferencia en la forma en la que tu hijo elegirá su carrera. \n*¡Conéctate ya!*\n\n{{ $json.LinkZoom }}\n\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        3344
      ],
      "id": "74bceb17-2f79-447d-be54-982e2323037e",
      "name": "Mensaje 8 - gpo nvo - Último aviso MC y zoom"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=🙏🏼 Gracias a todas las familias que ya confirmaron su lugar.\n\nYa lo verán… *¡vamos a trabajar increíble con y por sus hijos!*\n\nSi hoy apenas lo vas a platicar en casa, hazlo pronto.\nCada hora cuenta, porque el precio especial vence el viernes en la noche.\n\n*Recuerda:*\nEl precio especial estará disponible hasta el \n*{{ $json.FechaMaxima }}*.\n\nhttps://www.felizconmicarrera.com/method-precio-especial/\n\n📲 Para cualquier duda solo envía un WhatsApp al número de este grupo:\n+52 1 55 1172 1680.\n\n¡Abrazo grande!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        3536
      ],
      "id": "0b4e46ab-cfb6-4e5f-8bf1-9c7baa6c1d9f",
      "name": "Mensaje 9 - gpo nvo - Recordatorio compra 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=⭐ *Ellos ya lo vivieron… y esta puede ser tu historia también*.\n\nMira cómo papás como tú vieron a sus hijos terminar seguros y emocionados con la carrera que eligieron gracias a nuestro método.\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        3728
      ],
      "id": "01cb7634-8b58-4361-9638-25ed5cbb00fa",
      "name": "Mensaje 10 - gpo nvo - Recordatorio compra 2 y video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=⏳ *¡Últimas 12 horas a precio especial!*\n\nElegir carrera no es solo un paso académico…\nEs la primera gran decisión de vida que *tendrá un impacto en su futuro*.\n\nRegálale el mejor acompañamiento posible para que lo viva con claridad y confianza.\n\nAprovecha el precio especial antes de que termine:\nhttps://www.felizconmicarrera.com/method-precio-especial/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        3920
      ],
      "id": "bc748f3b-af9b-4e98-9fc2-89574b90f6c5",
      "name": "Mensaje 11 - gpo nvo - Quedan 12 horas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=No es solo \"elegir carrera\". \nEs dar *el primer paso que lo guiará hacia un futuro u otro*.\n\nDale el apoyo que *merece* para elegir bien.\n\n⏰ Quedan solo *2 horas* para aprovechar el *precio especial*.\n\nHazlo aquí: https://www.felizconmicarrera.com/method-precio-especial/\n\n\n ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        4112
      ],
      "id": "78ca6e5c-2fe3-493b-ac31-803692e1e2f5",
      "name": "Mensaje 11 - gpo nvo - Quedan 2 horas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d7a848-540f-418a-ac34-e644c10b8247",
              "name": "Mensaje",
              "value": "=Te comparto las preocupaciones más comunes entre más de 2,000 padres.\n\n¿Cuáles te preocupan a ti? \n*Responde ahora*, así mañana podré hablar de lo que más te preocupa a ti.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        4304
      ],
      "id": "b3faf946-cf2e-475a-b86b-ad62db5e0c45",
      "name": "Encuesta"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Obtener Mensajes del día1').item.json.MediaURL }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=vas a rescibir una url debes converir esa url a una url descargable como esta : https://drive.google.com/uc?id=[idimagen]&export=download  solo devuelve la url descargable  y nada mas  en un formato JSON   { \"url\" : \"la url descargable\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        5440,
        2544
      ],
      "id": "7137cf39-819e-4827-a280-2ab2c651b683",
      "name": "Obtener url descargable"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6640,
        5072
      ],
      "id": "2c853390-530d-4561-a8dd-55a3b5b9c72c",
      "name": "Wait2",
      "webhookId": "404083de-1b6f-4d1a-b60c-361e2038db0d"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FelizConMiCarrera",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "messageText": "=Claro que si tu hijo se equivoca en su elección puede cambiarse de carrera...\n\nPero, *si hubiera algo que hacer para evitar que eso suceda, ¿por qué no hacerlo?*\nComo padres debemos reducir al máximo la probabilidad del desgaste emocional y el impacto económico que trae consigo una mala elección.\n\n✨ Mañana puede ser el punto de inflexión para que tu hijo elija bien. Con seguridad y confianza.\nNos vemos en la Masterclass.",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6864,
        4976
      ],
      "id": "a68be425-4576-4fb3-8cc2-96709c45b26e",
      "name": "Mensaje Después de Encuesta",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FelizConMiCarrera",
        "remoteJid": "={{ $json.id_grupo[0] }}",
        "messageText": "={{ $json.Mensaje[0] }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6640,
        4816
      ],
      "id": "546fce5c-6841-4796-bcd2-afd0c9f6ba14",
      "name": "Mensaje antes de Encuesta",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-06T19:27:39.748Z",
      "updatedAt": "2025-08-06T19:27:39.748Z",
      "role": "workflow:owner",
      "workflowId": "Gd2KBvvXmk491kBW",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-08T00:34:40.507Z",
      "updatedAt": "2025-08-08T00:34:40.507Z",
      "id": "xQQ7Z5UfAnk57rXd",
      "name": "Enrique"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-18T23:50:24.000Z",
  "versionId": "7ccf4ae9-da01-4918-884c-451b43c915df"
}