Workflows/HLRhERzWF62otyJ8.json
{
  "active": false,
  "connections": {
    "HubSpot Trigger": {
      "main": [
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperando mensaje WP2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Redis-push sms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Existe en CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe en CRM": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Detectar Intención",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Detectar Intención",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención": {
      "main": [
        [
          {
            "node": "Intetencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Asesor Experto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Asesor Experto",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Intetencion": {
      "main": [
        [
          {
            "node": "Agendador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asesor Experto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asesor Experto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asesor Experto": {
      "main": [
        [
          {
            "node": "Respuesta al cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agendador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agendador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agendador": {
      "main": [
        [
          {
            "node": "Respuesta al cliente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creador de contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Creador de contacto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Creador de contacto",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact in HubSpot": {
      "ai_tool": [
        [
          {
            "node": "Creador de contacto",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendar2": {
      "ai_tool": [
        [
          {
            "node": "Creador de contacto",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Creador de contacto": {
      "main": [
        [
          {
            "node": "Respuesta al cliente4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact1": {
      "main": [
        [
          {
            "node": "Datos del contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del contacto": {
      "main": [
        [
          {
            "node": "Detectar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agendador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Redis-get sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-push sms": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-get sms": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "unir mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unir mensaje": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T17:30:25.060Z",
  "id": "HLRhERzWF62otyJ8",
  "isArchived": false,
  "meta": null,
  "name": "Agente Ventas",
  "nodes": [
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "d7be9dff-955b-4842-82ce-d4b7630db8d9",
      "name": "HubSpot Trigger",
      "webhookId": "08a88854-a24c-48b8-9629-33e77d55c8dc"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.contactId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        288,
        112
      ],
      "id": "46820aa8-c5a9-4b46-9ca4-fe7580688ed7",
      "name": "Get a contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b9b6f60-d6ad-4c20-9658-1fd68ec136bf",
              "name": "Nombre",
              "value": "={{ $('Get a contact').item.json.properties.firstname.value }}",
              "type": "string"
            },
            {
              "id": "76cdbe6d-ffc6-4977-95ca-28a5c67ddc62",
              "name": "Ocupacion",
              "value": "={{ $('Get a contact').item.json.properties.jobtitle.value }}",
              "type": "string"
            },
            {
              "id": "f26420d9-3b0a-4763-89d9-79967967133e",
              "name": "Telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "0d22cccc-5052-4316-99d1-6a4a52f97476",
              "name": "Email",
              "value": "={{ $('Get a contact').item.json.properties.email.versions[0].value }}",
              "type": "string"
            },
            {
              "id": "98332be2-dfdd-4db5-8a43-1e6f1cadd678",
              "name": "Id_usuario",
              "value": "={{ $('Get a contact').item.json.properties.hs_is_unworked.versions[0]['updated-by-user-id'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        112
      ],
      "id": "44b834f3-9b22-4813-80ad-112793a73f6a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields').item.json.Telefono }}"
            },
            {
              "name": "body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        112
      ],
      "id": "14e726a4-8e51-4410-ac35-b2fb39680f84",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<usuario>\nTu tarea es redactar un mensaje personalizado de seguimiento para WhatsApp.\n\n🧩 Datos:\n- Nombre del cliente: {{ $json.Nombre }}\n- Ocupación: {{ $json.Ocupacion }}\n- Tipo de servicio: **debes preguntarlo**\n\n📌 Reglas:\n- No digas \"mi nombre es...\"; usa \"somos del equipo de Órale Web\".\n- Usa solo los emojis necesarios, acordes al contenido, sin saturar el mensaje.\n- El mensaje debe ser breve, directo y amigable.\n- Usa la ocupación del cliente como referencia para ofrecer un beneficio claro o ejemplo práctico.\n- El cliente ya sabe que hubo un contacto, así que solo menciona: \"sabemos que tienes interés en alguno de nuestros servicios\".\n- Presenta los servicios en formato de lista con emojis:\n  • 🌐 Desarrollo Web  \n  • 📱 Desarrollo Móvil  \n  • 🤖 Automatizaciones con IA  \n  • 📣 Marketing Digital\n</usuario>\n",
        "options": {
          "systemMessage": "<system>\nActúa como un agente de ventas profesional.\n\nTrabajas para una empresa de desarrollo de software y marketing llamada **Órale Web!**  \nOfrecemos los siguientes servicios:\n- Desarrollo Web  \n- Desarrollo Móvil  \n- Automatizaciones con IA  \n- Marketing Digital  \n\nEl cliente ya tuvo un contacto previo con nosotros (por algún medio) y fue registrado en HubSpot por el equipo de Órale Web.\n</system>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1024,
        112
      ],
      "id": "bb19ccb0-baa9-4ee3-a033-55c3d704703e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Valor original (puede venir de tu input)\nlet numero = $input.first().json.properties.hs_calculated_phone_number.value;\n\n// Asegúrate de que el valor es una cadena\nnumero = String(numero);\n\n// Quitar el \"+\"\nnumero = numero.replace('+', '');\n\n// Verificar que empieza con \"52\" y agregar \"1\" después\nif (numero.startsWith('52')) {\n  numero = '52' + '1' + numero.slice(2);\n}\n\nreturn [{ json: { telefono: numero } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "92345794-bd60-4d9f-8d01-5b11a963feb6",
      "name": "Code2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        304
      ],
      "id": "db0ffc64-7df7-4978-b22f-5d8817d7753d",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "content": "## Mensaje de Bienvenida\nCrea mesaje de bienvenida despues de que se crea el contacto en **Hubspot** y se lo envia al cliente por whastapp.",
        "height": 420,
        "width": 1760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "4d3fb249-cef9-46b9-b041-abe0ec624226",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// Reemplaza los \"\\n\" (literales) por saltos de línea reales\nconst cleanText = raw.replace(/\\\\n/g, \"\\n\");\n\n// Devuelve como JSON para usar en el siguiente nodo\nreturn [\n  {\n    json: {\n      message: cleanText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        112
      ],
      "id": "0fa5db61-3ff9-46f7-bb79-bb6acbdaa098",
      "name": "Code3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a8451905-e128-4916-bbc6-9b5d3b11f9f0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        960
      ],
      "id": "8b773b21-3cf5-42ac-916b-2db1857762fe",
      "name": "Esperando mensaje WP2",
      "webhookId": "a8451905-e128-4916-bbc6-9b5d3b11f9f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1978e3f5-5513-4fe1-8ebf-fb11fdb87499",
              "name": "chat_id",
              "value": "={{ $json.body.messages[0].chat_id }}",
              "type": "string"
            },
            {
              "id": "2a02f6eb-11cd-4ad5-9f02-0fb4b810c1e6",
              "name": "whatsapp",
              "value": "={{ $json.body.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "ddb3c5ac-fe8d-4bbf-a675-d3e3ca0eff1e",
              "name": "type",
              "value": "={{ $json.body.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "0f4b2b6c-cf75-424f-bd2e-564ebb481222",
              "name": "url_audio",
              "value": "={{ $json.body.messages[0].voice.link }}",
              "type": "string"
            },
            {
              "id": "c24b1bbd-337d-4a55-889f-384c8fc933b5",
              "name": "mensaje",
              "value": "={{ $json.body.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        960
      ],
      "id": "b6bf433c-f5d4-4580-aa20-64f1661dd4e7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0dccc56b-b8d0-44a1-bc23-18923ad49aee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d8be5ed-fe2f-4b9b-b9fe-d1a850fe8910",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        960
      ],
      "id": "f36bf012-0c97-48cd-bf39-beed8f01d951",
      "name": "Switch2"
    },
    {
      "parameters": {
        "url": "={{ $json.url_audio }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        1280
      ],
      "id": "32a235c3-31b9-4aee-8dd3-d05902cd2082",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1264,
        1280
      ],
      "id": "00e7ac06-41e7-4448-a18d-e7aa1cd521b6",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            },
            {
              "fieldToAggregate": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2128,
        944
      ],
      "id": "09b69d5e-b01d-4584-b31e-18dc42e42115",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "hs_searchable_calculated_phone_number|phone_number",
                    "value": "={{ $('Switch2').item.json.whatsapp.substring(3) }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        2352,
        944
      ],
      "id": "dbc38317-02a4-45ba-9ed7-753e4b3be07e",
      "name": "Existe en CRM",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3552,
        752
      ],
      "id": "fd5065e3-0dec-4be3-b286-eb5f83594c3c",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensaje\": \"¿Me podrían agendar para el jueves por favor?\",\n  \"intencion\": \"agendar\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3728,
        752
      ],
      "id": "5769ee42-cc6c-4b35-bc11-a1d9eb2cc374",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Aggregate').item.json.mensaje[0] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un asistente experto en clasificación de mensajes de clientes. Tu tarea es analizar cuidadosamente el mensaje de un usuario y clasificar su intención principal en una de las siguientes categorías:  1. agendar → El usuario quiere agendar una cita, reunión o llamada. 2. duda → El usuario tiene una pregunta o necesita aclaración sobre un tema. 3. queja → El usuario expresa una inconformidad, problema o molestia. 4. continuidad → El usuario retoma una conversación o seguimiento previo, pero sin pedir agendar ni expresar duda o queja. 5. sin_intencion → El mensaje no encaja claramente en ninguna de las categorías anteriores o no expresa una intención específica (por ejemplo: saludos, mensajes vacíos, emojis, etc).  Tu respuesta debe ser en formato JSON, sin texto adicional.   Incluye solo las claves: - \"mensaje\": el contenido exacto del mensaje original - \"intencion\": una de las opciones: agendar, duda, queja, continuidad, sin_intencion"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3552,
        480
      ],
      "id": "f214d0d9-ed7f-4e15-b7c0-1682eb3496b7",
      "name": "Detectar Intención"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intencion }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a18cfa8-91cd-4acf-baac-825e66bcf31e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b00e9ac2-10e9-4063-89ab-eb95085a7f9b",
                    "leftValue": "={{ $json.output.intencion }}",
                    "rightValue": "duda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06d49ce0-d752-404a-9c36-483459234cbe",
                    "leftValue": "={{ $json.output.intencion }}",
                    "rightValue": "sin_intencion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sin_intencion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c952922-1e5b-41fd-8d19-2f2037cfb80f",
                    "leftValue": "={{ $json.output.intencion }}",
                    "rightValue": "queja",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queja"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3904,
        448
      ],
      "id": "e799021b-7236-4948-8fc5-4a8a39c465fb",
      "name": "Intetencion"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4688,
        912
      ],
      "id": "8562212f-4b24-40a2-b03c-a16fb3d401f8",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch2').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4832,
        928
      ],
      "id": "79964563-2295-4330-afed-a0e0362294da",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields2').item.json.whatsapp }}"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        688
      ],
      "id": "ab5c43b4-2107-4bd6-a6bb-37b21de27ad6",
      "name": "Respuesta al cliente2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.mensaje }}",
        "options": {
          "systemMessage": "=<prompt>\n    Eres un asesor digital experto de la agencia Al Chile Media.\n\n    <contexto>\n        Al Chile Media es una agencia especializada en desarrollo web, tiendas en línea y automatizaciones con inteligencia artificial. Más de 300 marcas nos respaldan. Somos partners certificados de Google, Shopify y Replo.\n\n        Nos enfocamos en crear sitios rápidos, responsivos y optimizados para generar conversiones desde el primer clic. También automatizamos procesos con IA usando las mejores herramientas del mercado para que nuestros clientes vendan más, inviertan menos tiempo y escalen fácilmente.\n\n        Servicios disponibles:\n        - Diseño y desarrollo de sitios web orientados a resultados 📱💻\n        - Tiendas en línea con Shopify y Replo, listas para vender 🛒\n        - Automatizaciones con inteligencia artificial 🤖\n        - Estrategia digital para guiar a los usuarios hacia la acción 📊\n        - Capacitación para autogestión del sitio 👨‍🏫\n        - Soporte continuo y escalabilidad 🔧\n\n        Diferenciales clave:\n        - Proyectos entregados en semanas, no meses ⚡\n        - Garantía de 10 años y soporte real\n        - Diseño basado en datos, no en gustos\n        - Flexibilidad en pagos: anticipo y contra entrega\n        - Certificaciones oficiales (Google, Shopify, Replo)\n\n        No puedes ofrecer servicios que no estén en esta lista ni inventar soluciones. Solo responde temas relacionados con Al Chile Media. Si el usuario pregunta algo fuera de contexto, indícale que estás para ayudar solo con temas de nuestros servicios.\n\n    </contexto>\n\n    <objetivo>\n        Tu misión es responder de forma clara, breve y útil. Identifica si el usuario es un cliente potencial con base en sus preguntas. Si notas interés o está calificado, invítalo a agendar una llamada con nuestro equipo 🤝\n\n        Tu estilo es profesional, directo y amigable. Usa emojis solo cuando ayuden a comunicar mejor, sin abusar. No uses lenguaje técnico innecesario ni exageres.\n\n        Nunca salgas de tu rol como asesor de Al Chile Media.\n    </objetivo>\n\n    <ejemplos>\n        [usuario]: ¿Cuánto tardan en entregar un sitio web?\n        [IA]: Entregamos en semanas, no meses ⚡. Así puedes empezar a vender cuanto antes. ¿Te gustaría una llamada para revisar tu proyecto?\n\n        [usuario]: ¿Incluyen capacitación?\n        [IA]: Sí 👨‍🏫. Te enseñamos a gestionar tu sitio de forma sencilla. También damos soporte continuo si lo necesitas. ¿Quieres saber más?\n\n        [usuario]: ¿Ofrecen manejo de redes sociales?\n        [IA]: No, nos especializamos en sitios web, tiendas en línea y automatizaciones con IA 🤖. ¿Te interesa alguno de esos servicios?\n\n        [usuario]: ¿Puedo pagar en partes?\n        [IA]: Claro 💸. Ofrecemos esquemas flexibles, como anticipo y contra entrega. ¿Te gustaría agendar una llamada para cotizar?\n\n    </ejemplos>\n</prompt>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4720,
        688
      ],
      "id": "cc4f095c-32b5-49d1-a004-241325d47434",
      "name": "Asesor Experto"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4384,
        400
      ],
      "id": "7e91d1de-450c-45c5-9ea2-1bba5f957def",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch2').item.json.chat_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4512,
        384
      ],
      "id": "054ad3ec-a9d4-4afb-8222-36ee7240a284",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Switch2').item.json.whatsapp }}"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        240
      ],
      "id": "1ef9c399-d71f-431f-a5ac-2635b19fadca",
      "name": "Respuesta al cliente3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.mensaje }}",
        "options": {
          "systemMessage": "=<prompt>\nActúa como un agente que agenda citas del equipo de Al Chile Media.\n\n<contexto>\n    Al Chile Media es una agencia especializada en desarrollo web, tiendas en línea y automatizaciones con inteligencia artificial. Más de 300 marcas nos respaldan. Somos partners certificados de Google, Shopify y Replo.\n\n    Nos enfocamos en crear sitios rápidos, responsivos y optimizados para generar conversiones desde el primer clic. También automatizamos procesos con IA usando herramientas líderes del mercado, ayudando a nuestros clientes a vender más, ahorrar tiempo y escalar con facilidad.\n\n    Servicios disponibles:\n    - Diseño y desarrollo de sitios web orientados a resultados 📱💻\n    - Tiendas en línea con Shopify y Replo, listas para vender 🛒\n    - Automatizaciones con inteligencia artificial 🤖\n    - Estrategia digital para guiar a los usuarios hacia la acción 📊\n    - Capacitación para autogestión del sitio 👨‍🏫\n    - Soporte continuo y escalabilidad 🔧\n\n    Diferenciales clave:\n    - Proyectos entregados en semanas, no meses ⚡\n    - Garantía de 10 años y soporte real\n    - Diseño basado en datos, no en gustos\n    - Flexibilidad en pagos: anticipo y contra entrega\n    - Certificaciones oficiales (Google, Shopify, Replo)\n\n    ⚠️ IMPORTANTE: Los mensajes que recibirás **provienen de clientes**, no del equipo de Al Chile Media.  \n    Tu rol es responder como agente profesional de la empresa, **sin asumir que quien escribe es parte del equipo**.\n\n    Estás conversando con un cliente que ya mostró interés en nuestros servicios. Tu objetivo es:\n\n   \n    1. Guiar al cliente para agendar una videollamada.\n    2. Si el cliente desea agendar por primera vez:\n        -usa la herrmaienta correspondiete\n        - Usa la herramienta **\"Comprobar Disponibilidad\"** para obtener los eventos ya agendados.\n        - Verifica horarios disponibles entre **9:00 a.m. y 6:00 p.m.**, de lunes a viernes.\n        - Solo propone **días y horas futuras** a partir de la fecha actual: **{{ $now }}**.\n        - Evita sugerir horarios donde ya existan eventos.\n        - Si no se encuentran eventos (array vacío), considera todo el horario como disponible.\n        - Propón **horarios específicos** al cliente (ej. *mañana a las 10:00 a.m. o 3:30 p.m.*).\n        - Usa la herramienta **\"Crear Evento\"** para agendar una videollamada de 30 minutos en el horario elegido.\n        - Incluye siempre un enlace de videollamada (Google Meet).\n        - Confirma la cita mencionando **fecha, hora y enlace de la reunión**.\n\n    4. Si el cliente desea **reagendar su cita**:\n        - Usa **\"Consultar Disponibilidad\"** para obtener los eventos existentes.\n        - Busca el evento cuyo asistente tenga el email: **{{ $('Datos del contacto').item.json.email }}**.\n        - Si lo encuentras, **elimínalo** usando la herramienta correspondiente.\n- Usa la herramienta **\"Comprobar Disponibilidad\"** para obtener los eventos ya agendados.\n        - Verifica horarios disponibles entre **9:00 a.m. y 6:00 p.m.**, de lunes a viernes.\n        - Solo propone **días y horas futuras** a partir de la fecha actual: **{{ $now }}**.\n        - Evita sugerir horarios donde ya existan eventos.\n        - Luego, agenda un **nuevo evento** con la nueva fecha y hora elegidas.\n        - Usa \"Crear evento\" para generar la nueva reunión (30 minutos por Google Meet).\n        - Confirma al cliente la nueva fecha, hora y proporciona el nuevo enlace.\n\n    5. Si el cliente desea **cancelar la cita**:\n        - Usa **\"Comprobar Disponibilidad\"** para obtener los eventos existentes.\n        - Busca el evento cuyo asistente tenga el email: **{{ $('Datos del contacto').item.json.email }}**.\n        - Si lo encuentras, **elimínalo** usando la herramienta correspondiente.\n        - Confirma al cliente que la cita ha sido cancelada exitosamente.\n\n    Datos del cliente:\n    - Nombre: **{{ $('Datos del contacto').item.json.Nombre }}**\n    - Email: **{{ $('Datos del contacto').item.json.email }}**\n    - Fecha actual: **{{ $now }}**\n</contexto>\n\n<reglas>\n    - Nunca compartas, describas ni hagas referencia a eventos de otros clientes **ni eventos internos de Al Chile Media**.\n    - Nunca menciones el tipo, nombre o descripción de ningún evento (por ejemplo: cumpleaños, reuniones, etc.).\n    - Si un horario está ocupado, simplemente indica que **no está disponible**.\n    - Si el cliente pregunta por otros horarios ocupados o eventos ajenos, responde amablemente que no puedes compartir esa información por motivos de privacidad.\n    - Solo puedes mencionar **horarios disponibles**.\n    - Solo puedes sugerir **fechas y horas posteriores** a {{ $now }}.\n    - Recuerda que los mensajes provienen de **clientes externos**, no del equipo de Al Chile Media.\n    - Mantente siempre en el rol de **agente de Al Chile Media**.\n    - No hables sobre temas o servicios que no ofrecemos.\n    - Usa un tono **amable, claro y profesional**. Puedes utilizar hasta **2 emojis** si ayudan al tono conversacional.\n    - Siempre incluye el **enlace de Google Meet** al agendar o reagendar una cita.\n    - Al listar horarios disponibles para una fecha específica (ej. mañana), menciona la fecha solo una vez y luego enumera solo las horas. Ejemplo:\n        \"Mañana, 16 de julio, tengo disponibles los siguientes horarios:\n        - 9:00 a.m.\n        - 10:00 a.m.\n        - 1:30 p.m.\"\n</reglas>\n</prompt>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4448,
        160
      ],
      "id": "4c60b13c-8852-4b04-951f-c13c804384be",
      "name": "Agendador"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae595836-bef7-44a5-8238-587f9a91e7c4",
              "leftValue": "={{ $('Existe en CRM').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        944
      ],
      "id": "24251a12-d6cb-472c-841e-b14f0dfad316",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcd24b6d-4334-47c8-81b7-de67ee047cf0",
              "name": "Mesnaje",
              "value": "={{ $('Aggregate').item.json.mensaje[0] }}",
              "type": "string"
            },
            {
              "id": "50657175-89a3-4a15-b388-42e1960cef05",
              "name": "chat_id",
              "value": "={{ $('Edit Fields2').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "4babd99e-e7db-44c7-a46d-9b67b6f939a7",
              "name": "telefono",
              "value": "={{ $('Switch2').item.json.whatsapp.substring(3) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        944
      ],
      "id": "979bb48a-0f05-4574-8d56-9d482599b1e0",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3744,
        1488
      ],
      "id": "29612217-b616-4894-8ba0-8b251f53fa03",
      "name": "OpenAI Chat Model6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3888,
        1520
      ],
      "id": "c74223fd-d22e-423c-9a95-26393bad00ff",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create or update a contact in HubSpot",
        "authentication": "appToken",
        "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
        "additionalFields": {
          "firstName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
          "jobTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_Title', ``, 'string') }}",
          "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
          "phoneNumber": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        4032,
        1504
      ],
      "id": "e290b7bf-df2d-47d0-a41d-feeb24fc52a5",
      "name": "Create or update a contact in HubSpot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields2').item.json.whatsapp }}"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        1280
      ],
      "id": "5b35a2cf-afb3-4f5c-9add-0a99aa6075a7",
      "name": "Respuesta al cliente4"
    },
    {
      "parameters": {
        "sseEndpoint": "https://pakopc98.app.n8n.cloud/mcp/bb175322-bfef-45f2-9ff5-859306c7e394/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        4160,
        1440
      ],
      "id": "c8df3fe4-5863-4628-9d4d-dfc50f2d7463",
      "name": "MCP Calendar2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mesnaje }}",
        "options": {
          "systemMessage": "=<prompt>\n    Eres un asesor digital experto de la agencia Al Chile Media.\n\n    <contexto>\n        Al Chile Media es una agencia especializada en desarrollo web, tiendas en línea y automatizaciones con inteligencia artificial. Más de 300 marcas nos respaldan. Somos partners certificados de Google, Shopify y Replo.\n\n        Creamos sitios rápidos, responsivos y orientados a conversiones desde el primer clic. Automatizamos procesos con IA usando las mejores herramientas del mercado, ayudando a nuestros clientes a vender más y ahorrar tiempo.\n\n        <servicios>\n            - Diseño y desarrollo de sitios web 📱💻  \n            - Tiendas en línea con Shopify y Replo 🛒  \n            - Automatizaciones con IA 🤖  \n            - Estrategia digital 📊  \n            - Capacitación para autogestión 👨‍🏫  \n            - Soporte continuo y escalabilidad 🔧  \n        </servicios>\n\n        <diferenciales>\n            - Entregas en semanas ⚡  \n            - Garantía de 10 años  \n            - Diseño basado en datos  \n            - Pagos flexibles (anticipo y contra entrega)  \n            - Certificaciones oficiales (Google, Shopify, Replo)  \n        </diferenciales>\n\n        ⚠️ Solo puedes ofrecer los servicios listados. Si el usuario pregunta algo fuera de contexto, responde amablemente que solo puedes apoyar con temas relacionados a los servicios de Al Chile Media.\n    </contexto>\n\n    <objetivo>\n        Tu misión es responder con claridad, brevedad y utilidad. Identifica si el usuario es un cliente potencial según sus preguntas. Si detectas interés, invítalo a agendar una videollamada 🤝\n\n        <estilo>\n            - Profesional, directo y amigable  \n            - Usa emojis solo cuando aporten claridad (máximo 2)  \n            - Evita tecnicismos o lenguaje exagerado  \n        </estilo>\n\n        Si el usuario acepta agendar una cita, primero debes registrarlo en HubSpot usando la herramienta correspondiente. El cliente **no debe saber** que lo estás registrando.\n\n        Solicita los datos uno por uno, en este orden:\n        1. Nombre → *¿Me compartes tu nombre, por favor?*  \n        2. Correo electrónico → *¿Cuál es tu correo? Ahí te enviaremos la confirmación.*  \n        3. Ocupación → *¿A qué te dedicas actualmente?*  \n        4. WhatsApp → *¿Y cuál es tu número de WhatsApp para enviarte el recordatorio?*  \n           - Si responde con algo como *“Este mismo”* o no lo menciona, usa: `{{ $json.telefono }}`  \n\n        Confirma cada dato antes de pasar al siguiente.  \n        Cuando hayas registrado exitosamente el contacto, puedes agendar la cita.\n\n        <proceso_agendar>\n            - Usa **\"Consultar Disponibilidad\"** para ver los eventos agendados  \n            - Revisa horarios disponibles de **9:00 a.m. a 6:00 p.m.**, lunes a viernes  \n            - Solo propone horarios **posteriores a**: `{{ $now }}`  \n            - No propongas horarios ocupados  \n            - Si no hay eventos, considera todo el horario como disponible  \n            - Sugiere horarios específicos (ej. *mañana a las 10:00 a.m. o 3:30 p.m.*)  \n            - Una vez elegido, usa **\"Crear Cita\"** para agendar una videollamada de 30 minutos  \n            - Incluye siempre un enlace de Google Meet  \n            - Confirma la cita con **fecha, hora y enlace**  \n        </proceso_agendar>\n\n        No debes salir nunca de tu rol como asesor digital de Al Chile Media.\n    </objetivo>\n</prompt>\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3824,
        1280
      ],
      "id": "e9ee2081-7d8f-49ad-be14-9b0f8b481ca7",
      "name": "Creador de contacto"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $('Existe en CRM').item.json.id }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        3088,
        768
      ],
      "id": "0eca574c-ca17-49f7-b482-4146b8b88744",
      "name": "Get a contact1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1b64aab-ad0b-4c58-9d4d-9c82ab8b5256",
              "name": "Nombre",
              "value": "={{ $json.properties.firstname.value }}",
              "type": "string"
            },
            {
              "id": "159b5900-9cfa-4191-baf2-ace7b8ef961b",
              "name": "email",
              "value": "={{ $json.properties.email.value }}",
              "type": "string"
            },
            {
              "id": "768ad80a-0e91-431c-b104-ef10c993546a",
              "name": "ocupacion",
              "value": "={{ $json.properties.jobtitle.value }}",
              "type": "string"
            },
            {
              "id": "9832434f-eda7-4f66-8bc2-deb8f1110be8",
              "name": "telefono",
              "value": "={{ $('Aggregate').item.json.whatsapp[0].substring(3) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        704
      ],
      "id": "93dd9600-1838-43b7-beb8-b17b2120a52f",
      "name": "Datos del contacto"
    },
    {
      "parameters": {
        "sseEndpoint": "https://pakopc98.app.n8n.cloud/mcp/bb175322-bfef-45f2-9ff5-859306c7e394/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        4608,
        384
      ],
      "id": "528ac7c2-ff38-41de-a230-c1e44c6d2f40",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        768
      ],
      "id": "2cd04cb1-b045-45c8-be7c-1d932c855157",
      "name": "Wait2",
      "webhookId": "e62f59ac-537e-4b14-aff1-69c52119609c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71036f0d-04e2-4fe4-a2f8-baa597e53caf",
              "leftValue": "={{ $json.mensaje.last() }}",
              "rightValue": "={{ $('Edit Fields2').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        768
      ],
      "id": "540f769e-e1d9-47e3-b27d-4b38086d3738",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.chat_id }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        672,
        768
      ],
      "id": "10d4144c-e75b-4242-9c8a-05418292dbb1",
      "name": "Redis-push sms"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensaje",
        "key": "={{ $('Edit Fields2').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        768
      ],
      "id": "b52c95b9-bc75-4384-a15f-cbe5da091336",
      "name": "Redis-get sms"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1552,
        864
      ],
      "id": "af584a88-7d05-45ab-895b-0f2a43eac9c5",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d346b0ae-305a-4e81-b4a6-a77dfe026f09",
              "name": "mensaje",
              "value": "={{ $('Redis-get sms').item.json.mensaje.join(\" \")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        672
      ],
      "id": "53b26628-501b-4e92-bcaf-4a969d30b9eb",
      "name": "unir mensaje"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Switch2').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        672
      ],
      "id": "eb646268-08ed-4772-b83e-217ca5248c2c",
      "name": "Redis"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5733c503-a4e0-4257-9da2-eb1b0596fe38",
              "leftValue": "={{ $json.properties.donde_viene.value }}",
              "rightValue": "Manual",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        160
      ],
      "id": "790a1c0b-5fe4-426c-98eb-73266b845079",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "5838b9f9-e3ce-4ea5-a8bf-9b068be08619",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Espera un mensaje \nEspera un mensaje y lo clasifica si es vos o audio ",
        "height": 280,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        864
      ],
      "typeVersion": 1,
      "id": "cd468b85-400e-4f36-b977-aad59eb2eb0b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Convierte audio a texto\n",
        "height": 260,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        1200
      ],
      "typeVersion": 1,
      "id": "f6150559-a02c-4367-84b2-1492d1cae111",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Espera que el usuario termine de mandar mensajes",
        "height": 400,
        "width": 1320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        624
      ],
      "typeVersion": 1,
      "id": "278367c9-54e8-4205-abed-efb9d2c598a5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "123370bb-5c42-4c70-b077-90c7c20e2df6",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        1280
      ],
      "id": "77b63db2-2e39-4556-a762-fca053be7246",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Verifica si el usaurio esta en el CRM\n",
        "height": 260,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        864
      ],
      "typeVersion": 1,
      "id": "d78f71fd-a631-44f6-b17b-9de8966a24d8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Registra al usuario en el CRM y agenda la llamada",
        "height": 520,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        1184
      ],
      "typeVersion": 1,
      "id": "339b9818-1819-4b88-908e-a1281a9edfda",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Resuelve dudas",
        "height": 520,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4624,
        592
      ],
      "typeVersion": 1,
      "id": "0b1aef79-371a-4d17-9281-5a65a4c15baa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Agenda llamdas",
        "height": 460,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4304,
        80
      ],
      "typeVersion": 1,
      "id": "69292bbd-1ed7-4229-8a9c-e8c5bc36f109",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {
    "Esperando mensaje WP2": [
      {
        "json": {
          "headers": {
            "host": "pakopc98.app.n8n.cloud",
            "content-length": "327",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=prod,sentry-public_key=470cc684690a2466aa1d4006cc631fb8,sentry-trace_id=d978e9986ec88cde943ae447a9648aa7",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "157.180.9.223",
            "cf-ew-via": "15",
            "cf-ipcountry": "FI",
            "cf-ray": "95fbd15c3168c7da-TLL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "d978e9986ec88cde943ae447a9648aa7-b0482e6f1f4c6f75",
            "x-forwarded-for": "157.180.9.223, 172.69.136.211",
            "x-forwarded-host": "pakopc98.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-59-5786bcf55-g548g",
            "x-is-trusted": "yes",
            "x-real-ip": "157.180.9.223"
          },
          "params": {},
          "query": {},
          "body": {
            "messages": [
              {
                "id": "P0x3LDMSOQi9iw-gAUEvlYORU8",
                "from_me": false,
                "type": "text",
                "chat_id": "5215534073167@s.whatsapp.net",
                "timestamp": 1752609329,
                "source": "mobile",
                "device_id": 16,
                "text": {
                  "body": "hola"
                },
                "from": "5215534073167",
                "from_name": "Pako Sánchez 😎"
              }
            ],
            "event": {
              "type": "messages",
              "event": "post"
            },
            "channel_id": "THOROD-XE8PQ"
          },
          "webhookUrl": "https://pakopc98.app.n8n.cloud/webhook-test/a8451905-e128-4916-bbc6-9b5d3b11f9f0",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-18T17:30:25.071Z",
      "updatedAt": "2025-07-18T17:30:25.071Z",
      "role": "workflow:owner",
      "workflowId": "HLRhERzWF62otyJ8",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-30T07:16:47.434Z",
      "updatedAt": "2025-07-30T07:16:47.434Z",
      "id": "mSpHjLUfWIhOQqzc",
      "name": "Experimentos"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-22T04:11:26.000Z",
  "versionId": "23d702ac-7ed7-4df7-91ee-f6865fca78ec"
}