Workflows/kObaPJ7LOeLCGdem.json
{
  "active": true,
  "connections": {
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST VENTA": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Crear Registro": {
      "ai_tool": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Registro": {
      "ai_tool": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registros": {
      "ai_tool": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar": {
      "main": [
        [
          {
            "node": "POST VENTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Estructurar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "POST VENTA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Asignador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orientadoras": {
      "ai_tool": [
        [
          {
            "node": "Asignador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Normalizar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Asignador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Escucha un nuevo registro": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos": {
      "main": [
        [
          {
            "node": "Asignador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignador": {
      "main": [
        [
          {
            "node": "Actualizar Orientadora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Orientadora": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Estrucutura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrucutura": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Guarda el mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Obtener mensaje ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "unir mensaje1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unir mensaje1": {
      "main": [
        [
          {
            "node": "Eliminar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guarda el mensaje": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener mensaje ": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar mensaje": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Robertito Asistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Robertito Asistente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Robertito Asistente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Robertito Asistente",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Robertito Asistente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "VARIABLES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T01:56:08.522Z",
  "id": "kObaPJ7LOeLCGdem",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Registro Postventa",
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            },
            {
              "fieldToAggregate": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2400,
        1632
      ],
      "id": "4483acb4-3444-40a0-b269-62d9d049f4df",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un agente conversacional de la empresa \"Feliz con mi carrera\", un programa que acompaña a jóvenes y familias a elegir la carrera universitaria más adecuada y satisfactoria. Atiendes en WhatsApp, con un tono casual, amigable y estilo mexicano (usa emojis donde aplique).\n\nTu función es:\n1. Responder preguntas frecuentes usando únicamente la información institucional proporcionada. Jamás inventes ni asumas.\n2. Registrar a los alumnos que hayan adquirido un programa, siguiendo este flujo exacto y **preguntando siempre de una en una**. No avances a la siguiente pregunta si no has recibido ni registrado respuesta válida de la anterior.\n\n👀 Siempre revisa el historial del chat antes de responder o seguir.\n\n---\n\n🧾**FLUJO DE REGISTRO DE COMPRA**\n\nAntes de usar \"Crear Registro\", busca en la hoja si ya existe una fila con el mismo ID: `{{ $('Edit Fields2').item.json.chat_id }}`.\n- Si ya existe, no hagas nada y continúa con las preguntas usando \"Actualizar Registro\".\n- Si no existe, usa \"Crear Registro\" para iniciar el registro del alumno.\n\nPrimero valida el comprobante de pago. Sólo si `comprobante_valido = true`, continúa el proceso:\n\nPídele al usuario que envíe su comprobante en formato imagen o PDF.\n\n1. Usa la herramienta **\"Crear Registro\"** para registrar:\n   - `ID`: `{{ $('Edit Fields2').item.json.chat_id }}`\n   - `Forma de pago`: `metodo`\n   - `Fecha compra`: `fecha`\n   - Luego pregunta: *¿Cuál es el nombre del programa que adquiriste?*\n     - Guarda en campo `PRODUCTO`.\n\n2. Usa **\"Actualizar Registro\"** con ID para guardar la info.\n\n---\n\n📝**PREGUNTAS OBLIGATORIAS (una por una, en este orden):**\n\nPor cada pregunta:\n\n1. Espera la respuesta.\n2. Valida si aplica (email, teléfono, etc.).\n3. Usa la herramienta **\"Registros\"** para obtener los datos actuales del alumno por su `ID`.\n4. Combina el nuevo dato con los datos existentes (sin borrar nada).\n5. Usa la herramienta **\"Actualizar Registro\"** para guardar **toda la fila completa con el nuevo campo actualizado**.\n6. Sólo después de guardar correctamente, haz la siguiente pregunta.\n\nPreguntas:\n\n- ¿Cuál es el nombre del alumno? → CAMPO: `Nombre Estudiante`\n- ¿Cuál es el email del alumno? → CAMPO: `email alumno` *(validar formato)*\n- ¿Cuál es el número del alumno? → CAMPO: `Celular Alumno` *(validar teléfono)*\n- ¿Cuál es el nombre del padre o tutor? → CAMPO: `Nombre Completo Tutor`\n- ¿Cuál es el celular del padre o tutor? → CAMPO: `Cel tutor` *(validar teléfono)*\n- ¿Cuál es el nombre del colegio del alumno? → CAMPO: `Colegio`\n- ¿Cuál es su idioma? → CAMPO: `Idioma`\n- ¿En qué ciudad viven? → CAMPO: `Ciudad`\n- ¿Necesita empezar en una fecha distinta a la semana del {{ $json.FechaMaster }}? ¿Cuándo? → CAMPO: `Fecha Inicio`\n\n---\n\n🧩**PREGUNTAS EXTRA (una por una, al final):**\n\n10. ¿Qué año está cursando? → CAMPO: `Año Cursando` *(solo para resumen, no se guarda en sheet)*\n11. ¿Tiene alguna restricción de días u horarios para tomar sus sesiones? → CAMPO: `Restricciones Horario` *(interno)*\n12. Si no recibiste \"Fecha Inicio\", vuelve a preguntarla. → CAMPO: `Fecha Inicio`\n13. ¿Tiene alguna necesidad educativa especial o tema de salud emocional? Ej.: TDAH, ansiedad, etc. → CAMPO: `Necesidad Especial` *(interno)*\n\n---\n\n📌**RESUMEN FINAL (obligatorio):**\n\nRedacta un párrafo claro y descriptivo combinando:\n\n- Año cursado\n- Necesidades educativas/emocionales\n- Restricciones de horarios\n- Otros detalles relevantes del alumno\n\nEjemplo:\n> \"3 año de preparatoria. Está diagnosticada con TDA y ansiedad. Tiene terapia conductual y psiquiátrica. Lunes y miércoles no puede de 6 a 8 pm.\"\n\nGuarda el texto en el campo `Notas` usando **\"Actualizar Registro\"**, asegurándote de combinarlo con los datos actuales de la fila (usando la herramienta \"Registros\").\n\n---\n\n⚠️**RESTRICCIONES IMPORTANTES**:\n\n- Nunca muestres ni reveles datos de otros registros.\n- Nunca avances si no tienes respuesta válida.\n- Nunca inventes datos ni rellenes campos sin recibirlos.\n- Recuerda que la fecha actual es: `{{ $now }}`\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1744,
        1632
      ],
      "id": "2322435b-4368-4366-b5fc-057cb1bbe71b",
      "name": "POST VENTA",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1920,
        1904
      ],
      "id": "326ac696-af82-416a-ac8d-803c7793ab06",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FelizBot",
        "remoteJid": "={{ $('Edit Fields2').item.json.chat_id }}",
        "messageText": "={{ $json.output.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1392,
        1616
      ],
      "id": "66181d0f-5e20-4ab4-b181-008b23e7aa8f",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"mensaje\": \"Mensaje del al usuario\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1168,
        1840
      ],
      "id": "7e84bc32-c81e-4a13-9319-32750f16290b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        2000
      ],
      "id": "0b023acc-ebcc-49f6-85fb-f93ea1c16733",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields2').item.json.chat_id }}",
            "Forma de Pago": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Forma_de_Pago', ``, 'string') }}",
            "PRODUCTO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PRODUCTO', ``, 'string') }}",
            "Fecha Compra": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Compra', ``, 'string') }}",
            "Nombre Estudiante": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Estudiante', ``, 'string') }}",
            "email alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_alumno', ``, 'string') }}",
            "Celular Alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Celular_Alumno', ``, 'string') }}",
            "Idioma": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Idioma', ``, 'string') }}",
            "Colegio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Colegio', ``, 'string') }}",
            "Ciudad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ciudad', ``, 'string') }}",
            "Fecha Inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Inicio', ``, 'string') }}",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
            "Cel tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cel_tutor', ``, 'string') }}",
            "Nombre Completo Tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo_Tutor', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pago",
              "displayName": "Forma de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Compra",
              "displayName": "Fecha Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Estudiante",
              "displayName": "Nombre Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email alumno",
              "displayName": "email alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular Alumno",
              "displayName": "Celular Alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Completo Tutor",
              "displayName": "Nombre Completo Tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cel tutor",
              "displayName": "Cel tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idioma",
              "displayName": "Idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Colegio",
              "displayName": "Colegio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Orientadora",
              "displayName": "Orientadora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1504,
        1936
      ],
      "id": "da019db1-4c9b-4d60-ae4c-68eab6a809f9",
      "name": "Crear Registro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields2').item.json.chat_id }}",
            "Forma de Pago": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Forma_de_Pago', ``, 'string') }}",
            "PRODUCTO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PRODUCTO', ``, 'string') }}",
            "Fecha Compra": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Compra', ``, 'string') }}",
            "Nombre Estudiante": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Estudiante', ``, 'string') }}",
            "email alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_alumno', ``, 'string') }}",
            "Celular Alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Celular_Alumno', ``, 'string') }}",
            "Idioma": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Idioma', ``, 'string') }}",
            "Colegio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Colegio', ``, 'string') }}",
            "Ciudad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ciudad', ``, 'string') }}",
            "Fecha Inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Inicio', ``, 'string') }}",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
            "row_number": 0,
            "Cel tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cel_tutor', ``, 'string') }}",
            "Nombre Completo Tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo_Tutor', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Forma de Pago",
              "displayName": "Forma de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Compra",
              "displayName": "Fecha Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Estudiante",
              "displayName": "Nombre Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email alumno",
              "displayName": "email alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular Alumno",
              "displayName": "Celular Alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Completo Tutor",
              "displayName": "Nombre Completo Tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cel tutor",
              "displayName": "Cel tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idioma",
              "displayName": "Idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Colegio",
              "displayName": "Colegio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OV",
              "displayName": "OV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Columna 1",
              "displayName": "Columna 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Columna 2",
              "displayName": "Columna 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1712,
        2032
      ],
      "id": "d5cbbde7-ff42-48f2-9956-40084726c914",
      "name": "Actualizar Registro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1600,
        2016
      ],
      "id": "acb5ac4b-7fdd-4a7b-9bd7-4971ec5513b6",
      "name": "Registros",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4a268b3-a057-459f-89cd-f8893b1b0f7d",
              "name": "mensaje",
              "value": "={{ $('Aggregate2').item.json.mensaje[0] }}",
              "type": "string"
            },
            {
              "id": "460e2f62-e56c-4263-a5d7-00e0ff3be590",
              "name": "id_usuario",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "91fc5a29-230e-475c-a11a-4bf7a9b01b30",
              "name": "FechaMaster",
              "value": "={{ $json.FechaMasterClass }}",
              "type": "string"
            },
            {
              "id": "85333985-56eb-4efa-902d-f549d738707f",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        1632
      ],
      "id": "b3043035-dba1-477b-8b13-7118ef2d039b",
      "name": "Estructurar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I",
          "mode": "list",
          "cachedResultName": "Admin Enrique",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1610359296,
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit#gid=1610359296"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2192,
        1632
      ],
      "id": "57f9e34d-ed38-453b-9789-22ad6eb370e7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1824,
        1984
      ],
      "id": "30061f96-a826-4cf1-a562-13cab2cb4ad4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "74h0q7M5LKQy0D94",
          "name": "Pruebas"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3856,
        1872
      ],
      "id": "879b2373-d343-4539-8f76-2a428753499f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sS1g_kyp-zlObmFfQ2gx65Ds7eRsGL4QNQJp5wwY94Q",
          "mode": "list",
          "cachedResultName": "Tabla de orientadoras",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS1g_kyp-zlObmFfQ2gx65Ds7eRsGL4QNQJp5wwY94Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 761238751,
          "mode": "list",
          "cachedResultName": "Características",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS1g_kyp-zlObmFfQ2gx65Ds7eRsGL4QNQJp5wwY94Q/edit#gid=761238751"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -3728,
        1920
      ],
      "id": "920c1153-4d58-4165-a172-e6b3b9d67ac4",
      "name": "Orientadoras",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4224,
        1632
      ],
      "id": "99f33c3d-f7c8-49f9-9b26-4d3c4752d12e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"orientadora\": \"nombre\",\n  \"razon\": \"explicación breve\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3600,
        1872
      ],
      "id": "315804c4-ccf9-4974-87d3-add8f9f3b1c7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Notas"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -4432,
        1632
      ],
      "id": "df5c1402-2309-4903-bc6b-02c35fdeb094",
      "name": "Escucha un nuevo registro",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1ITrO0tTQ2CGCA1P",
          "name": "ApiEquipo"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afc095a8-6e51-4f2b-9929-af9d8f991f8c",
              "name": "Resumen",
              "value": "={{ $json.Notas }}",
              "type": "string"
            },
            {
              "id": "42cf031b-2a29-4e2d-9ea0-2bb72031d0a6",
              "name": "Fecha Inicio",
              "value": "={{ $json['Fecha Inicio'] }}",
              "type": "string"
            },
            {
              "id": "7bf18232-5435-43ad-a48f-4b1e54fe9bb7",
              "name": "Idioma",
              "value": "={{ $json.Idioma }}",
              "type": "string"
            },
            {
              "id": "91f1cb6e-16d1-4ed6-9de9-8599db4dabbd",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4000,
        1664
      ],
      "id": "25225409-df10-4d89-b9cd-646eee71984e",
      "name": "Normalizar datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Resumen }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Recibirás un resumen de un alumno. El idioma es: {{ $json.Idioma }}.\nCon base en ese resumen, revisa la tabla de orientadoras y elige a la más adecuada para atenderlo.\nDevuelve únicamente un JSON con este formato:\n\n{\n  \"orientadora\": \"nombre\",\n  \"razon\": \"explicación breve\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3808,
        1648
      ],
      "id": "e8589037-66b2-4729-9e57-0af37700b5a4",
      "name": "Asignador"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Normalizar datos').item.json.ID }}",
            "Orientadora": "={{ $json.output.orientadora }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Forma de Pago",
              "displayName": "Forma de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Compra",
              "displayName": "Fecha Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre Estudiante",
              "displayName": "Nombre Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email alumno",
              "displayName": "email alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Celular Alumno",
              "displayName": "Celular Alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre Completo Tutor",
              "displayName": "Nombre Completo Tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cel tutor",
              "displayName": "Cel tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Idioma",
              "displayName": "Idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Colegio",
              "displayName": "Colegio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Orientadora",
              "displayName": "Orientadora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3456,
        1648
      ],
      "id": "dba251ae-7ae2-4246-a029-29bf4d41f896",
      "name": "Actualizar Orientadora",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "content": "# Recepción de mensajes",
        "height": 816,
        "width": 2400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4512,
        -960
      ],
      "typeVersion": 1,
      "id": "12d7deaf-c0b9-4853-9f14-f9bfa935e479",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cc85574d-077a-4ad2-87f5-ac7426c97e1d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4368,
        -512
      ],
      "id": "419125a2-ac61-4d49-9f73-8be57e7c0def",
      "name": "Webhook",
      "webhookId": "cc85574d-077a-4ad2-87f5-ac7426c97e1d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d023988f-d7e2-4b63-91cf-616ea4ee31bf",
              "name": "sessionid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "0d548fd2-ae5c-4e5c-923e-c6663501a74f",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "81663426-0de4-40ac-9ef9-0a82946ee0c7",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "1f79b540-d3e0-4167-85cb-936cdf348f5d",
              "name": "data_time",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toLocal() }}",
              "type": "string"
            },
            {
              "id": "b5389bc4-d274-4cb3-a18c-339e728963f4",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4144,
        -512
      ],
      "id": "824e3310-8015-471a-8774-725937981171",
      "name": "Estrucutura"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0dccc56b-b8d0-44a1-bc23-18923ad49aee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d8be5ed-fe2f-4b9b-b9fe-d1a850fe8910",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f01f244-de7f-4378-915d-f40806867093",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3920,
        -544
      ],
      "id": "27cd0d01-8203-409b-83f5-a0ef8dc7c1c9",
      "name": "Switch3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3472,
        -800
      ],
      "id": "0475f163-465c-45f6-a18c-24100c864d4d",
      "name": "Wait3",
      "webhookId": "e62f59ac-537e-4b14-aff1-69c52119609c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71036f0d-04e2-4fe4-a2f8-baa597e53caf",
              "leftValue": "={{ $json.mensaje.last() }}",
              "rightValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3024,
        -800
      ],
      "id": "9e448c5a-6bb5-456d-9520-d144c02e3524",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2800,
        -704
      ],
      "id": "9d63521e-22bd-4ade-98fe-52358e4ff9bf",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d346b0ae-305a-4e81-b4a6-a77dfe026f09",
              "name": "mensaje",
              "value": "={{ $('Obtener mensaje ').item.json.mensaje.join(\" \")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -896
      ],
      "id": "0ab709e4-c8c0-49e4-842c-eba99d379470",
      "name": "unir mensaje1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2352,
        -512
      ],
      "id": "48cbb9f8-d0a7-4e14-a5af-7292517f1ecc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.sessionid }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3696,
        -800
      ],
      "id": "eedeaea1-10fe-4f0a-996f-fbfdb7ced623",
      "name": "Guarda el mensaje",
      "credentials": {
        "redis": {
          "id": "LLPuIMb6fxHQTCeg",
          "name": "Enrique Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensaje",
        "key": "={{ $json.sessionid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3248,
        -800
      ],
      "id": "dbcb500f-3828-42d8-bd4c-b29597a68618",
      "name": "Obtener mensaje ",
      "credentials": {
        "redis": {
          "id": "LLPuIMb6fxHQTCeg",
          "name": "Enrique Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Estrucutura').item.json.sessionid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2576,
        -896
      ],
      "id": "d28c8ebf-baeb-4bfb-8b9b-557c60bbefb2",
      "name": "Eliminar mensaje",
      "credentials": {
        "redis": {
          "id": "LLPuIMb6fxHQTCeg",
          "name": "Enrique Redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "FelizConMiCarrera",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}\n\n"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3248,
        -512
      ],
      "id": "2f1ee8e3-0f2f-4093-9179-a5eb5470ebb3",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3024,
        -512
      ],
      "id": "50b0598c-ab78-457d-9827-c062d5ede77d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2800,
        -512
      ],
      "id": "cc8fa942-8b0f-488b-97ce-92e647aa4fbf",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467595ad-3ab5-45b3-b3f5-097790b51422",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -512
      ],
      "id": "7d150950-b29f-40e2-9f26-b7bc79457365",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Rol: eres un analizador de imagenes OCR\n\nObjetivo: \n\nAnaliza la imagen que te manda el usuario.\n\nIdentifica si corresponde a un comprobante de pago, transferencia, ticket o recibo.\n\nSi es un comprobante de pago, extrae y explica la información:\n\nTipo de pago (transferencia, ticket, recibo, otro).\n\nMonto pagado.\n\nFecha y hora de la transacción.\n\nBanco o institución emisora (si aplica).\n\nSi la imagen no corresponde a un comprobante o pago, describe brevemente lo que ves en la imagen.\n\nenviaras esta descripcion a un agente principal que se encarga de registrar datos del usuario que manda la imagen ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2800,
        -320
      ],
      "id": "6c56011c-c7b3-4202-83cb-a294528ea7f3",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "FelizConMiCarrera",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3248,
        -320
      ],
      "id": "1ad47b4f-da48-4ec4-a04f-ecb28fd93958",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "PmLHlyqZKQXgGIBQ",
          "name": "EnriqueAPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3024,
        -320
      ],
      "id": "eb5818e3-c1eb-405c-bae3-8cca56702b5a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08623eb6-2229-45b1-a73e-a66b991820a0",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -320
      ],
      "id": "72ff371a-f396-4278-8a1b-544b827508a0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2480,
        432
      ],
      "id": "48d3765b-0354-4445-9482-fe40f8c9ddab",
      "name": "When chat message received",
      "webhookId": "6dd7b2fe-4bf1-42c8-9bd2-bf64e1a5d1de"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2320,
        576
      ],
      "id": "23a1eac3-712c-4910-b5ee-42f9b15345a9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rol \nEres un Asistente de ventas para BBVA. \n\n# Objetivo \nTu objetivo es capturar la informacion de los clientes que se comunican desde whatasapp para guardarla en una base de datos. Tu proceso es importante para el perfilamiento de nuevos clientes por lo que es crucial que la informacion sea correcta y completa. \nlos datos a capturar son: \nNombre\nEdad\nEmal\ntelefono\n\n# Personalida del bot \n- Se amigable,\n- usa emojis \n- se casual\n\n# Validacion de datos\n- Nombre: Debeser un nombre con dos apellidos estrictamente.\n- Edad: un numero de 18 a 100 años si es mas indica que si esta seguro si es menos indica que el tramite es solo para mayores de edad. \n- email: Valida que sea un email valido\n- telefono: solicita un telefono a 10 digitos.\n\n# Tools \n- **Enviar Cliente **: Se utiliza para agregar datos a un google sheet y estos los campos : \nID: id unico \nForma de Pago: colocar la forma que pago, \n\n# Flujo \n\nHay dos escenarios posibles: \n1 ) El cliente manda un saludo \n  * Debes contestar el saludo de forma amable eh iniciar el proceso \n2 ) El cliente te externa una duda sobre el banco, en este caso indica que solo eres un bot que registra para TDC. \n\n## Proceso \n  1) Pregunta el nombre  y almacenalo en el json \n  2) Pregunta la edad  y alamacenala en el json \n  3) pregunta el email \n  4) Pregunta el telefono \n  5) Ya que tengas todos los datos envialos usando la herramienta \"Registar Cleinte\"\n\n# Salida Json \n{\n \"nombre\": \"\",\n \"edad\": \"\", \n \"telefono\": \"\",\n}\n\n\n  \n\n# Reglas Estrictas \n- Nunca te salgas de tu rol, si te pregunta algo que no tenga que ver con tu rol disculpate amable mente eh indica en que puedes ayudar\n- Las preguntas deben ser una por mensaje.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2192,
        432
      ],
      "id": "41d49146-9e66-4c35-aa99-5246031b9bf0",
      "name": "Robertito Asistente"
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2144,
        608
      ],
      "id": "399d47b5-7cd4-494d-8548-d0dd2f811cb3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensaje\": \"Un mensaje para el cliente\",\n \"nombre\": \"\",\n \"edad\": \"\", \n \"telefono\": \"\"\n}\n  ",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1904,
        608
      ],
      "id": "2e80b7cd-7273-4b70-b4bc-e5f1bf8084c8",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registra el usaurio solo cuando tengas todos los datos",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
          "mode": "list",
          "cachedResultName": "Vendidos Prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1566833164,
          "mode": "list",
          "cachedResultName": "29 de Julio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4/edit#gid=1566833164"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Forma de Pago": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Forma_de_Pago', ``, 'string') }}",
            "PRODUCTO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PRODUCTO', ``, 'string') }}",
            "Fecha Compra": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Compra', ``, 'string') }}",
            "email alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_alumno', ``, 'string') }}",
            "Nombre Estudiante": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Estudiante', ``, 'string') }}",
            "Celular Alumno": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Celular_Alumno', ``, 'string') }}",
            "Nombre Completo Tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo_Tutor', ``, 'string') }}",
            "Cel tutor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cel_tutor', ``, 'string') }}",
            "Idioma": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Idioma', ``, 'string') }}",
            "Colegio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Colegio', ``, 'string') }}",
            "Ciudad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ciudad', ``, 'string') }}",
            "Fecha Inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Inicio', ``, 'string') }}",
            "Orientadora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Orientadora', ``, 'string') }}",
            "Notas nuevas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas_nuevas', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pago",
              "displayName": "Forma de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Compra",
              "displayName": "Fecha Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Estudiante",
              "displayName": "Nombre Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email alumno",
              "displayName": "email alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular Alumno",
              "displayName": "Celular Alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Completo Tutor",
              "displayName": "Nombre Completo Tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cel tutor",
              "displayName": "Cel tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idioma",
              "displayName": "Idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Colegio",
              "displayName": "Colegio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas nuevas",
              "displayName": "Notas nuevas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Orientadora",
              "displayName": "Orientadora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2032,
        608
      ],
      "id": "111f8908-02f8-4f71-b85b-39ac4ba2e051",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1920,
        880
      ],
      "id": "dabdab83-e4bb-4e99-a384-a99697107ad3",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I",
          "mode": "list",
          "cachedResultName": "Admin Enrique",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1610359296,
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfaM1ttI3di1u6vCDY11gMf2HAbeq9tHXwG1RFJeH1I/edit#gid=1610359296"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2144,
        -512
      ],
      "id": "8f481204-41c6-44fa-82df-0b2e204b1ded",
      "name": "VARIABLES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-08T01:56:08.527Z",
      "updatedAt": "2025-08-08T01:56:08.527Z",
      "role": "workflow:owner",
      "workflowId": "kObaPJ7LOeLCGdem",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
      "sheetId": 1566833164,
      "lastRevision": 234,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4&revision=234&exportFormat=xlsx"
    },
    "node:Escucha un nuevo registro": {
      "documentId": "1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4",
      "sheetId": 1566833164,
      "lastRevision": 257,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1zuy3rT5LHo3BMA4ycLjT7jWn62VS7rcxW7sROztthQ4&revision=257&exportFormat=xlsx"
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-08T00:34:40.507Z",
      "updatedAt": "2025-08-08T00:34:40.507Z",
      "id": "xQQ7Z5UfAnk57rXd",
      "name": "Enrique"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-09-25T23:41:40.000Z",
  "versionId": "5b817852-0a54-4e51-bbb2-e0f0c98a90eb"
}