Workflows/NJGbp4LD71JwPziL.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Redis-push sms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Redis-get sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "unir mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-push sms": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-get sms": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unir mensaje": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro Inicial": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a vendedor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Presupuesto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presupuesto": {
      "main": [
        [
          {
            "node": "Evaluador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Evaluador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscador": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modelo 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Estructura de salida": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Wordpress": {
      "main": [
        [
          {
            "node": "Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluador": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fecha actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Respuesta3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activador Cada Hora": {
      "main": [
        [
          {
            "node": "Obtener registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener registros": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha actual": {
      "main": [
        [
          {
            "node": "Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fechas": {
      "main": [
        [
          {
            "node": "Comparador de Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comparador de Fechas": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informacion_dptos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-28T20:26:49.603Z",
  "id": "NJGbp4LD71JwPziL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Inmobiliaria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c106942c-01f5-4fd1-8145-88a01a7ccd74",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2608,
        -336
      ],
      "id": "779530f2-9bfd-46ce-9f28-f7091aa57ceb",
      "name": "Webhook",
      "webhookId": "c106942c-01f5-4fd1-8145-88a01a7ccd74"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1978e3f5-5513-4fe1-8ebf-fb11fdb87499",
              "name": "chat_id",
              "value": "={{ $json.body.messages[0].chat_id }}",
              "type": "string"
            },
            {
              "id": "2a02f6eb-11cd-4ad5-9f02-0fb4b810c1e6",
              "name": "whatsapp",
              "value": "={{ $json.body.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "ddb3c5ac-fe8d-4bbf-a675-d3e3ca0eff1e",
              "name": "type",
              "value": "={{ $json.body.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "0f4b2b6c-cf75-424f-bd2e-564ebb481222",
              "name": "url_audio",
              "value": "={{ $json.body.messages[0].voice.link }}",
              "type": "string"
            },
            {
              "id": "c24b1bbd-337d-4a55-889f-384c8fc933b5",
              "name": "mensaje",
              "value": "={{ $json.body.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        -240
      ],
      "id": "24f18d92-6e32-4d59-9d88-63d73c169f6e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0dccc56b-b8d0-44a1-bc23-18923ad49aee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d8be5ed-fe2f-4b9b-b9fe-d1a850fe8910",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1936,
        -256
      ],
      "id": "5b85a8a8-fb3c-401f-abc0-d57e06006e86",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -816,
        -240
      ],
      "id": "41a3e409-ab49-4f6f-8515-db40526e168b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            },
            {
              "fieldToAggregate": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -368,
        -336
      ],
      "id": "a3ba8db9-2a28-49d1-9e75-9835238c9287",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1488,
        -432
      ],
      "id": "518e7550-b564-465c-b4cc-fdb7273380ad",
      "name": "Wait2",
      "webhookId": "e62f59ac-537e-4b14-aff1-69c52119609c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71036f0d-04e2-4fe4-a2f8-baa597e53caf",
              "leftValue": "={{ $json.mensaje.last() }}",
              "rightValue": "={{ $('Edit Fields2').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -432
      ],
      "id": "e5047bf5-9fd8-4674-9636-5c3737be71f6",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.chat_id }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1712,
        -432
      ],
      "id": "fa097ab9-898a-48cd-b524-cce4ac405cbf",
      "name": "Redis-push sms",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensaje",
        "key": "={{ $('Edit Fields2').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1264,
        -432
      ],
      "id": "dfd90658-f649-4952-a644-c4f72b7b1e81",
      "name": "Redis-get sms",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        -432
      ],
      "id": "1fc9e172-4205-4a61-a974-9788075d218f",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d346b0ae-305a-4e81-b4a6-a77dfe026f09",
              "name": "mensaje",
              "value": "={{ $('Redis-get sms').item.json.mensaje.join(\" \")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        -624
      ],
      "id": "d424065e-28d1-4416-9543-09c490c778c6",
      "name": "unir mensaje"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Switch2').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -592,
        -624
      ],
      "id": "7a20dc9b-f0ca-4968-98cc-995b28f9f1eb",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "T48Det2oI7qfAeeA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Espera un mensaje \nEspera un mensaje y lo clasifica si es vos o audio ",
        "height": 392,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2706,
        -472
      ],
      "typeVersion": 1,
      "id": "186f7779-1321-43f5-997d-1683b137c8b0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Convierte audio a texto\n",
        "height": 224,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1078,
        -304
      ],
      "typeVersion": 1,
      "id": "95f9b04a-ed2a-4367-90b4-3969b7d83218",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Espera que el usuario termine de mandar mensajes",
        "height": 608,
        "width": 1704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1956,
        -672
      ],
      "typeVersion": 1,
      "id": "f8ac68a7-dc4c-4bcd-8410-77790ec14991",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "123370bb-5c42-4c70-b077-90c7c20e2df6",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -240
      ],
      "id": "20414a95-fe0e-4d1d-b123-bb84170bb420",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "={{ $json.url_audio }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        -240
      ],
      "id": "30799f3a-4821-4713-82b9-84c152bbf203",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b43519a4-a46b-469e-8240-2db22b991bf5",
              "leftValue": "={{ $json.body.messages[0].from_me }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "46ba1039-6e3d-46f2-bcc9-4d26986b5256",
              "leftValue": "={{ $json.body.statuses[0].status }}",
              "rightValue": "read",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2384,
        -336
      ],
      "id": "42d26ea5-d828-4e57-88ba-e1538d781ead",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2160,
        -432
      ],
      "id": "8d5cc0d9-4451-4abb-97ed-22f9a7f5f362",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea un mensaje de bienvenida para: {{ $json.Nombre }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Rol**  \nActúa como un asesor inmobiliario digital, cálido y profesional, experto en guiar a prospectos interesados en comprar un departamento.\n\n**Objetivo**  \n1) Registrar prospecto en la base de datos.  \n2) Enviar mensaje de bienvenida personalizado con **mensaje_salida**.\n\n**Contexto**  \nEres asesor de **Residencial Torre Ángeles**, desarrollo exclusivo de 40 departamentos en Santiago Tepalcapa, Cuautitlán Izcalli. Unidades de 110 a 121 m² (incluye penthouses), con elevador, vigilancia, salón social, áreas verdes y estacionamiento techado. Ubicación estratégica, cerca de autopistas, centros comerciales y universidades. Tu misión: resolver dudas y ayudar a elegir el departamento ideal con plusvalía y diseño moderno.\n\n**Variables**  \n- nombre: `{{ $json.Nombre }}`  \n- telefono: `{{ $json.Whatsspp }}`  \n- email: `{{ $json.email }}`  \n\n\n**PROCESO 1: Registro**  \n1. Valida **telefono** con **buscador**.  \n2. Si existe, termina aquí.  \n3. Si no existe:  \n   - Valida **nombre**: si contiene caracteres aleatorios, sin sentido o menos de 3 letras válidas, deja el campo vacío.  \n   - Guarda **nombre** (solo si es válido) en columna *nombre*.  \n   - Guarda **telefono** en columna *telefono*.  \n   - Guarda **email** en columna *email*.  \n   - Guarda **hora** en columna *hora*.  \n   - Escribe *Pendiente* en columna *proceso*.  \n\n**PROCESO 2: Mensaje de bienvenida**  \n- Ejecutar solo si el Proceso 1 se completó.  \n- Redacta mensaje ≤ 250 caracteres (incluyendo espacios y emojis) basado en **mensaje_salida**.  \n- Si **nombre** es válido, personaliza con el nombre.  \n- Si **nombre** no es válido, redacta mensaje sin nombre.  \n- Añade 1–2 emojis (hogar, saludo o lupa).  \n- Usa español neutro con calidez mexicana.  \n\n**Reglas**  \n- No exceder 250 caracteres.  \n- Tono cordial y profesional.  \n- Evitar abreviaturas confusas.  \n- Máximo 2 emojis.  \n- No crear registro si **telefono** ya existe.  \n- Verificar que si se alla registrado el nombre, whatsapp y email.\n\n**Mensaje_salida (si nombre válido)**  \n> Hola **nombre** 👋 Gracias por tu interés en Residencial Torre Ángeles. Platícanos qué buscas 🏡\n\n**Mensaje_salida (si nombre inválido)**  \n> Hola 👋 Gracias por tu interés en Residencial Torre Ángeles. Platícanos qué buscas 🏡\n\n**Notas**  \n- Formatea **telefono** con prefijo “521” si falta.  \n- Verifica longitud del mensaje antes de enviarlo.  \n\n**Tools**  \n- **buscador**: Verifica si el cliente ya existe en la base de datos.  \n- **registro_inicial**: Crea o actualiza el registro del usuario.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2192,
        -1424
      ],
      "id": "a80cea45-fda9-4909-8086-399156543d59",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Whatsspp }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2208,
        -1200
      ],
      "id": "91037270-f510-4455-b6c0-6cfab1e9d04d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "g8KToWfYqq74nKEg",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje[0] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n\n**Rol:** Eres un bot asistente de ventas para el Residencial Torre Ángeles. Atiendes consultas, verificas datos de clientes usando su número de WhatsApp (`whatsapp_number`), y envías un resumen al vendedor cuando se cumplen ciertas condiciones.\n\n**Variable Principal:**\n- La variable `whatsapp_number` que su la valor sera: {{ $('Edit Fields2').item.json.whatsapp }}  contendrá el número de WhatsApp del cliente. Esta variable se usará para buscar en el Google Sheet, crear una nueva fila si no existe o actualizar la fila existente con los datos del cliente.\n\n**Contexto y Flujo de Trabajo:**\n- **Verificación Inicial:** Usa `whatsapp_number` para buscar en la herramienta \"Clientes\" si ya existe un registro en el Google Sheet. Si el registro existe, verifica si tiene nombre, email y presupuesto. Si falta alguno, pídelo.\n\n- **Manejo de la Conversación:** Responde preguntas y redirige la conversación para completar datos si es necesario. Usa `whatsapp_number` con \"Crear\" para una nueva fila o con \"Actualizar\" para completar datos en una fila existente.\n\n**Restricciones:**\n1. No proporciones información de otros clientes.  \n2. No envíes el mensaje al vendedor si los datos no están completos (nombre, email, teléfono y resumen).  \n3. Si el presupuesto proporcionado por el cliente es menor a 2.8 millones de pesos, no envíes la información al vendedor y dile al cliente que no tenemos departamentos en ese rango de precio.  \n4. Si el cliente no proporciona un presupuesto pero muestra interés, sí envía la información al vendedor.  \n5. Mantén un tono humano y amigable, pero siempre preséntate como un bot.\n\n6. **No ofrezcas servicios no programados:**  \n   - El bot no debe sugerir agendar visitas, enviar fichas directamente ni ofrecer servicios adicionales por su cuenta.  \n   - Su objetivo es únicamente recopilar los datos y guiar al cliente para que un asesor humano se comunique con él.  \n   - Si el cliente pregunta algo fuera del contexto proporcionado (por ejemplo, cómo agendar una visita directamente), simplemente indícale que un asesor se pondrá en contacto con él para esos detalles.\n\n\n\n- **Envío al Vendedor:** Usa la herramienta \"Enviar a vendedor\" con la plantilla solo cuando se cumplan las condiciones anteriores:\n\n  ```\n  Hay un nuevo cliente potencial:  \n  Nombre: [nombre]  \n  Email: [email]  \n  Teléfono: [teléfono]  \n  Presupuesto: [presupuesto o 'No dio presupuesto']  \n  Detalle: [resumen de la conversación]\n  ```\n\n- **Sección de Consulta de Información Adicional:**  \n  ### Sección de Consulta de Información Adicional\n\n**Proyecto: Residencial Torre Ángeles**\n\n**Ubicación:**\n- Dirección: Av. Primero de Mayo 8, Santiago Tepalcapa, Cuautitlán Izcalli, 54720, Edo. de Méx.\n- Zona: Santiago Tepalcapa, Cuautitlán Izcalli\n- Referencias: —\n\n**Características generales:**\n- Torres: 2\n- Niveles por torre: 5\n- Total de departamentos: 40\n- Modelos distintos: 4\n- Medidas (aproximadas en m²): 110.91, 112.25, 119.74, 121\n- Tipos disponibles: departamentos y penthouses\n\n**Amenidades destacadas:**\n- Elevador\n- Salón de usos múltiples\n- Roof garden con asadores (por confirmar)\n\n**Ventajas del proyecto:**\n- Baja densidad\n- Privacidad\n- Espacios amplios\n\n**Notas importantes:**\n- Las distribuciones y amenidades pueden variar según el modelo o la etapa.\n- El roof garden y los asadores mostrados en publicaciones deben confirmarse en la ficha vigente.\n- Precios y disponibilidad varían según el nivel y el calendario comercial.\n\n---\n\n**Preguntas frecuentes (FAQ):**\n\n**¿Dónde están ubicados?**  \nAv. Primero de Mayo 8, Santiago Tepalcapa, Cuautitlán Izcalli, 54720, Edo. de Méx. ¿Te comparto opciones para agendar visita o enviarte la ficha?\n\n**¿Cuántas torres y niveles tiene el proyecto?**  \nSon 2 torres de 5 niveles; en total hay 40 departamentos.\n\n**¿Qué tamaños tienen los departamentos?**  \nHay 4 modelos distintos, con medidas que van de aproximadamente 110 a 121 m² (110.91, 112.25, 119.74, 121 m²).\n\n**¿Cuántas recámaras tienen?**  \nEn publicaciones se muestran 3 recámaras y 2.5 baños; la distribución exacta se confirma en la ficha técnica de cada modelo.\n\n**¿Qué amenidades incluyen?**  \nElevador, salón social, y en algunos materiales se menciona roof garden con asadores (a confirmar).\n\n**¿Tienen penthouses?**  \nSí, los más grandes son de 119.74 y 121 m².\n\n**¿Precios y disponibilidad?**  \nDepende del modelo y del nivel. Con tu medida y forma de pago te podemos cotizar y decir qué unidades hay disponibles.\n\n**¿Qué formas de pago aceptan?**  \nDepende del caso, pero puede incluir crédito, enganche y más. Se confirma en la cotización oficial. ¿Te la envío?\n\n**¿Cómo está el tema de mantenimiento, estacionamiento, mascotas?**  \nVaría por etapa o modelo. Lo confirmamos al enviarte la ficha o durante la visita.\n\n**¿Cómo agendo una visita?**  \nSolo necesito tu nombre, WhatsApp, medida de interés y día/hora preferida. Te agendo una cita presencial o virtual y te comparto la ficha y la cotización.\n\n**¿Hay opciones de financiamiento disponibles? **\nSí, aceptamos distintos esquemas de financiamiento, incluyendo créditos hipotecarios bancarios, Cofi e Infonavit Total. Nuestro equipo puede ayudarte a simular tu crédito y encontrar la mejor opción para ti.\n\n**Tono:** Mantén un tono cordial y profesional, pero siempre identifícate como un bot.\n**Mensajes Finales y Pedidos de Presupuesto:**\n- Al pedir el presupuesto, usa un mensaje como:  \n  ```\n  ¿Cuál es tu presupuesto aproximado para el departamento? 🏠\n  ```\n  (No menciones que es opcional).\n\n- Al finalizar, tras enviar los datos al vendedor, agrega el mensaje:  \n  ```\n  ¡Perfecto! 😊 Tus datos ya fueron registrados. Un asesor se pondrá en contacto contigo pronto, así que quédate pendiente.\n  ```\n\n- Usa emojis en saludos (por ejemplo, un 👋), confirmaciones (como un ✅) y en mensajes finales para hacerlo más amigable y casual.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        296,
        -336
      ],
      "id": "e3480313-032c-41f0-ad5d-40ab8637122a",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        -112
      ],
      "id": "d107b6ee-bda8-42ef-b2eb-95403581318d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.messages[0].from.substring(3) }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -16,
        -112
      ],
      "id": "c04659b8-decf-4b5f-b279-d9cdcc1184f9",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "g8KToWfYqq74nKEg",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"mensaje\": \"Mensaje creado para el cliente\",\n\t\"numero\": \"Numero del cliente formateado\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        -112
      ],
      "id": "d7d3bcd9-6f00-408c-928f-5794b2241f3b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        96
      ],
      "id": "56607ac2-8556-446b-be7d-567a3feb0626",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "Presupuesto ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Presupuesto_', ``, 'string') }}",
            "Proceso ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Proceso_', ``, 'string') }}",
            "Califico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Califico', ``, 'string') }}",
            "Hora": "={{ $now.format('yyyy-MM-dd HH-mm-ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto ",
              "displayName": "Presupuesto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Califico",
              "displayName": "Califico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proceso ",
              "displayName": "Proceso ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1952,
        -1120
      ],
      "id": "d10f475e-f7c0-4adf-a9e4-93d4db04fafb",
      "name": "Registro Inicial",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $('Edit Fields2').item.json.whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        112,
        -112
      ],
      "id": "ef92aadc-c857-4914-8963-6654759a6dfd",
      "name": "Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registra nuevos clientes",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "telefono": "={{ $('Edit Fields2').item.json.whatsapp }}",
            "Presupuesto ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Presupuesto_', ``, 'string') }}",
            "Califico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Califico', ``, 'string') }}",
            "Proceso ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Proceso_', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "Hora": "={{ $now.format('yyyy-MM-dd HH-mm-ss') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Presupuesto ",
              "displayName": "Presupuesto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Califico",
              "displayName": "Califico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proceso ",
              "displayName": "Proceso ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        240,
        -112
      ],
      "id": "b218f40a-4cad-4859-8470-54d88c75ddf7",
      "name": "Crear",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualiza datos de alugun registro",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ $('Edit Fields2').item.json.whatsapp }}",
            "Presupuesto ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Presupuesto_', ``, 'string') }}",
            "Califico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Califico', ``, 'string') }}",
            "Proceso ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Proceso_', ``, 'string') }}",
            "Hora": "={{ $now.format('yyyy-MM-dd HH-mm-ss') }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto ",
              "displayName": "Presupuesto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Califico",
              "displayName": "Califico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proceso ",
              "displayName": "Proceso ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        368,
        -112
      ],
      "id": "629be21f-8364-433d-aae6-7d62a435897e",
      "name": "Actualizar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        496,
        -112
      ],
      "id": "55d9173e-7624-4ca8-b7e7-84a2554764d8",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Envia datos del cliente al vendedor",
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "5215579388295"
            },
            {
              "name": "body",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        624,
        -112
      ],
      "id": "5f52890f-cf46-43d5-b025-12f5c2d199af",
      "name": "Enviar a vendedor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields2').item.json.whatsapp }}"
            },
            {
              "name": "body",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        -336
      ],
      "id": "455305ac-e19a-45be-91af-2cd2325e7037",
      "name": "Respuesta",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/u/2/d/1vqWSaH_Ti8rdXYXtqqxqhr4EeFc0BVLNvdbFenNlBBY/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vqWSaH_Ti8rdXYXtqqxqhr4EeFc0BVLNvdbFenNlBBY/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -1440
      ],
      "id": "fe688315-696d-4fbf-a7a2-4cff80ca3f1f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1ITrO0tTQ2CGCA1P",
          "name": "ApiEquipo"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07829c7f-343c-4813-a6a9-17698355f2fe",
              "name": "presupuesto",
              "value": "={{ $json.presupuesto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -1440
      ],
      "id": "93627a05-55cb-4d24-a0e0-bf87bceba74d",
      "name": "Presupuesto"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        -1216
      ],
      "id": "edce5d72-a65b-4005-8949-da5d6d731742",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"aprobado\": true,\n  \"monto\": \"$40,000,000 - $60,000,000 MXN\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -496,
        -1216
      ],
      "id": "2fb89eeb-1010-4ad1-aa17-d98351539926",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        -1072
      ],
      "id": "879539e8-8fdb-48a2-9688-1b1dd36ad83b",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfc5b42c-45fb-47af-ab54-5f0a33322409",
              "leftValue": "={{ $json.output.aprobado }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -1440
      ],
      "id": "813b6470-fe36-4fc4-9a09-ba7ab5770a2c",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        -1344
      ],
      "id": "2ff6ebab-a331-4477-9aa2-e24bd69b380c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3638aefd-6970-40a1-a992-b2b90ae9bacc",
              "name": "full_name",
              "value": "={{ $('Google Sheets Trigger').item.json.full_name }}",
              "type": "string"
            },
            {
              "id": "5ba4ff33-401b-4681-84d8-ffd20ff217dc",
              "name": "email",
              "value": "={{ $('Google Sheets Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "3af98b67-4d11-4f54-891b-32116521e2f2",
              "name": "phone_number",
              "value": "={{ $('Google Sheets Trigger').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "fa0c6091-e866-4037-bccb-7751c8940d0e",
              "name": "Mensaje",
              "value": "=Hay un nuevo cliente potencial: Nombre: {{ $('Google Sheets Trigger').item.json.full_name }} Email: {{ $('Google Sheets Trigger').item.json.email }} Teléfono: {{ $('Google Sheets Trigger').item.json.phone_number }} Presupuesto: {{ $('Evaluador').item.json.output.monto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -1536
      ],
      "id": "e4709a1f-ed87-4266-ad13-19537d9f7159",
      "name": "Mensaje"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"typing_time\": 0,\n  \"to\": \"5215579388295\",\n  \"body\": \"{{ $json.Mensaje }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -1536
      ],
      "id": "f380c415-47cb-4693-8f9f-6b265084e7f0",
      "name": "Respuesta1",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Recibe los datos del form de Wordprees",
        "height": 624,
        "width": 1256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        -1568
      ],
      "typeVersion": 1,
      "id": "2a20197a-b26b-427f-9512-64744e12b3f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -2096,
        -1104
      ],
      "id": "07e73c9f-5159-449f-a1ac-3340f56c97fb",
      "name": "buscador",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2336,
        -1248
      ],
      "id": "695c4100-b8b5-4f20-a034-a245ec437026",
      "name": "Modelo 4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"typing_time\": 0,\n  \"to\": \"{{ ($json.output.numero) ? $json.output.numero : $('Switch2').item.json.whatsapp}}\",\n  \"body\": \"{{ $json.output.mensaje }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -1424
      ],
      "id": "cb46a718-f3d8-4ded-b466-8434bdd26d8a",
      "name": "Enviar Mensaje"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"mensaje\": \"Mensaje creado para el cliente\",\n\t\"numero\": \"Numero del cliente formateado\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -1216
      ],
      "id": "4c3162b5-128d-4c2c-98ac-20b7a831081d",
      "name": "Estructura de salida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3ebbadc-d5b8-4863-bab9-8cebf6be33fe",
              "name": "Nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "135ffdb9-d8cf-48d7-bbe1-31bb90790dbb",
              "name": "Whatsspp",
              "value": "=521{{ $json.body.whatsapp }}",
              "type": "number"
            },
            {
              "id": "f8ea47c6-de54-4978-ab33-c5df8df2c778",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        -1424
      ],
      "id": "54d1ae3f-7ca5-423e-be8d-719b7f0f490d",
      "name": "Datos"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1d02c141-53a0-4dda-a0d4-3c6b25d5efa6",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 302
            }
          },
          "responseHeaders": {
            "entries": [
              {
                "name": "Location",
                "value": "https://residencialtorreangeles.com/thank-you-page/?success=1"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2640,
        -1424
      ],
      "id": "e4120e44-3021-4225-9955-793f39522c6c",
      "name": "Form Wordpress",
      "webhookId": "1d02c141-53a0-4dda-a0d4-3c6b25d5efa6"
    },
    {
      "parameters": {
        "content": "## Recibe los datos Meta\nEscucha en archivo de Google Sheets, los datos alimentados por una campaña de meta, evalua el presupuesto. \n* Si el presupuesto es el esperado entonces manda datos a vendedores.\n* Si no no hace nada",
        "height": 624,
        "width": 1640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -1584
      ],
      "typeVersion": 1,
      "id": "9272d843-452a-4839-94a8-d5289f30c9d1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.presupuesto }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista financiero encargado de recibir mensajes con presupuestos expresados en diferentes formatos, incluyendo abreviaturas comunes como \"K\" (mil), \"M\" o \"MM\" (millones).\n\nTu tarea es:\n\n1. Identificar y extraer el monto o rango presupuestal mencionado en el mensaje, incluyendo abreviaturas (ejemplo: \"3M\" debe interpretarse como 3,000,000).\n2. Suponer que la moneda es pesos mexicanos (MXN) a menos que el mensaje indique explícitamente otra moneda, en cuyo caso debes convertirla a pesos mexicanos usando una tasa estándar razonable.\n3. Convertir el monto o rango a un número o par de números que puedan ser comparados numéricamente.\n4. Evaluar si el valor mínimo del rango es mayor o igual a 2,800,000 MXN. Si es mayor o igual, `aprobado` será true, de lo contrario false.\n5. Regresar únicamente un JSON con estas llaves:\n   - `aprobado`: booleano que refleja la evaluación.\n   - `monto`: el monto o rango convertido a formato moneda MXN (ejemplo: \"$2,000,000\" o \"$2,000,000 - $3,000,000\").\n\nEjemplo de entrada: \"Mi presupuesto es de $2,000,000 MXN.\"\nEjemplo de salida:\n{\n  \"aprobado\": false,\n  \"monto\": \"$2,000,000 MXN\"\n}\n\nEjemplo de entrada: \"Presupuesto de 3M a 4M pesos.\"\nEjemplo de salida:\n{\n  \"aprobado\": true,\n  \"monto\": \"$3,000,000 - $4,000,000 MXN\"\n}\n\nResponde únicamente con el JSON sin texto adicional.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -592,
        -1440
      ],
      "id": "269e3b82-063b-444e-94df-090ce596644b",
      "name": "Evaluador"
    },
    {
      "parameters": {
        "content": "## Registra al usaurio en google sheets (si es que no existe) y envia sus datos a vendedores (si es que aprueba el presupuesto)",
        "height": 736,
        "width": 2648,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -156,
        -496
      ],
      "typeVersion": 1,
      "id": "3c877c72-4877-4007-a9a0-52f5e487a924",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"typing_time\": 0,\n  \"to\": \"{{ $('Edit Fields2').item.json.whatsapp }}\",\n  \"body\": \"Por ahora, solo podemos recibir texto y audio. No aceptamos imágenes ni archivos adjuntos. ¡Gracias por tu comprensión! 😊\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        -96
      ],
      "id": "66c2a3fa-3124-4952-97ff-7bfa0010deae",
      "name": "Respuesta2",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1648,
        688
      ],
      "id": "192910f1-b999-4005-9323-b19afab09b0f",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.message.content)\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        432
      ],
      "id": "96976ccf-3d33-448a-af18-c1952b1ac924",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        592
      ],
      "id": "1126a5fd-6026-4ce2-ae2e-b10973535bf7",
      "name": "No Operation, do nothing3",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89b4609d-2bd6-46f5-8a0c-9590209f26a7",
              "leftValue": "={{ $json.tiempo }}",
              "rightValue": "despues_2horas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        432
      ],
      "id": "702941e4-caf4-4783-9719-f88b98fda2e5",
      "name": "If3",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fb85296-70ac-4edc-8fb0-0ac7e5533a36",
              "leftValue": "={{ $('Loop Over Items').item.json.nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ffff9b8d-e6e0-4db2-8a61-144bdcee4323",
              "leftValue": "={{ $('Loop Over Items').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e4fecf7c-7cc5-410a-aa95-099da391edd3",
              "leftValue": "={{ $('Loop Over Items').item.json['Presupuesto '] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        400
      ],
      "id": "ad8fddf2-e7c1-467e-8f73-51cf8b64d9e6",
      "name": "If4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer i9BUjhKHUPTUCwsrYH4BvAOsnUddO7Ec"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"typing_time\": 0,\n  \"to\": \"{{ $('Obtener registros').item.json.telefono }}\",\n  \"body\": \"¡Hola! 😊 Solo pasaba a ver si todo va bien. Hace un rato nos escribiste por info de los deptos en Torre Ángeles, ¿quieres que retomemos la plática?\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        400
      ],
      "id": "38dace70-594e-43c5-915c-0dea1d4a95ef",
      "name": "Respuesta3",
      "executeOnce": false,
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "height": 544,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        304
      ],
      "typeVersion": 1,
      "id": "e79a5117-744d-4209-84a2-5bb7a843d421",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        688
      ],
      "id": "7bb3cbb5-ee0b-4704-a294-424b80c7bb41",
      "name": "Activador Cada Hora",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM",
          "mode": "list",
          "cachedResultName": "Prospectos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e74o36UtgYz0g9N_Ak6rfOPzcXVatXl5CIFXfOJJ6iM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1872,
        688
      ],
      "id": "ca6bffc8-47e4-495f-aa34-3c65f6883a40",
      "name": "Obtener registros",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pK2Ttm8zQJOEOOz",
          "name": "Torre Ángeles"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1424,
        432
      ],
      "id": "4ec41c37-793b-4dac-9151-13a660ef1662",
      "name": "Fecha actual",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d515bb6c-0844-4121-aef0-a963daf29415",
              "name": "Hora",
              "value": "={{ $('Obtener registros').item.json.Hora }}",
              "type": "string"
            },
            {
              "id": "802cd34b-3de4-4d83-b575-58b6b24fec12",
              "name": "fecha actual",
              "value": "={{ $json.currentDate.toDateTime().format(\"yyyy-MM-dd HH-mm-ss\") }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        432
      ],
      "id": "0f809e47-f59b-4fbd-9682-b236aa1f5a8c",
      "name": "Fechas",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Valida que esta fecha :  {{ $json.Hora }} y esta fecha:  {{ $json['fecha actual'] }} si ya paso mas de 2 horas pero menos de 3 horas de la primera fecha devuelve despues_2horas, si ha pasado menos de dos horas responde en_tiempo y si paso mas de 3 hras responde fuera_tiempo \n\nreglas: solo debes devolver  despues_2horas | en_tiempo | fuera_tiempo \nSi no tienen alguna fecha responde null\n\nla salida es en json:\n{\n\"tiempo\":  \" despues_2horas | en_tiempo | fuera_tiempo | null  \"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -976,
        432
      ],
      "id": "37f8cac7-8e57-4cbc-adb2-3359aa59e76e",
      "name": "Comparador de Fechas",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "100SIbcmQXW2SRsQaMyAOWggSD01peAClZxBDOTzhZv8",
          "mode": "list",
          "cachedResultName": "Prospectos-Pruebas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100SIbcmQXW2SRsQaMyAOWggSD01peAClZxBDOTzhZv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 313565313,
          "mode": "list",
          "cachedResultName": "depts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100SIbcmQXW2SRsQaMyAOWggSD01peAClZxBDOTzhZv8/edit#gid=313565313"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        752,
        -112
      ],
      "id": "fbc13a02-c6f0-40cb-8466-21ac92ece487",
      "name": "informacion_dptos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5mleh0eyxZZcpMp2",
          "name": "Sheets Pako"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.mensaje }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un editor de texto. Recibirás un mensaje largo y tu tarea es dividirlo en varios mensajes más cortos, cuidando que:  - Cada fragmento tenga máximo {{max_chars}} caracteres. - Los cortes sean naturales: de preferencia por párrafos u oraciones completas. - No debes modificar el texto original ni cambiar palabras. - El tono del mensaje debe mantenerse igual. - Devuelve la respuesta como un JSON válido con este formato:  {   \"mensajes\": [     \"primer fragmento aquí...\",     \"segundo fragmento aquí...\",     \"tercer fragmento aquí...\"   ]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1248,
        -336
      ],
      "id": "d27f3a61-dbf2-4551-a9fa-3a869b8e3c30",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        -112
      ],
      "id": "8752a427-d23a-4baf-90c5-c46e56eb2470",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.text;\n\n// 1. Parsear el texto JSON\nconst parsed = JSON.parse(rawText);\n\n// 2. Obtener el array de mensajes\nconst mensajes = parsed.mensajes;\n\n// 3. Transformar cada mensaje en objeto válido para n8n\nreturn mensajes.map(mensaje => {\n  return {\n    json: {\n      mensaje: mensaje\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -336
      ],
      "id": "12c6f181-919b-4b23-8a42-06c806b8d041",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        -336
      ],
      "id": "cc34de6b-7f23-437a-b520-70d502e22e41",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        -408
      ],
      "id": "86312e68-01c7-4d20-a865-6870f0edb8a4",
      "name": "Wait",
      "webhookId": "fbc21bd3-f134-4205-8f42-8a9d8f5bba31"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-07-28T20:26:49.611Z",
      "createdAt": "2025-07-28T20:26:49.611Z",
      "role": "workflow:owner",
      "workflowId": "NJGbp4LD71JwPziL",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1vqWSaH_Ti8rdXYXtqqxqhr4EeFc0BVLNvdbFenNlBBY",
      "sheetId": 0,
      "lastIndexChecked": 3
    },
    "node:Activador Cada Hora": {
      "recurrenceRules": [
        5
      ]
    }
  },
  "tags": [
    {
      "updatedAt": "2025-07-30T07:18:24.060Z",
      "createdAt": "2025-07-30T07:18:24.060Z",
      "id": "7rCC8Ii971uGqcPm",
      "name": "Torre Ángeles"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-10-03T18:06:54.000Z",
  "versionId": "1b634d01-1ad4-43b7-baa6-6d0e1a14c2b4"
}