Workflows/nZ2TohcGs3xSujdA.json
{
  "active": false,
  "connections": {
    "ObtenerDiagrama1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reparar Mermaid Code 1": {
      "main": [
        [
          {
            "node": "ObtenerDiagrama1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Reparar Mermaid Code 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T19:24:52.830Z",
  "id": "nZ2TohcGs3xSujdA",
  "isArchived": false,
  "meta": null,
  "name": "Generador de Diagramas",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://mermaid:7000/png",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $('Reparar Mermaid Code 1').item.json.message.content }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        32
      ],
      "id": "236629e7-a609-445e-9e93-64bc8e8cc85b",
      "name": "ObtenerDiagrama1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.pasos }}"
            },
            {
              "content": "=Recibiras un codigo para mermaid, debes verificar que este correcto en sus sintaxis y corregir cual quier error, solo devueleve el codigo, sin comillas ni nada\n\nEjemplo de codigo correcto: \n\ngraph TD\n    A[\"Crear correcciones\"] --> B[\"Subir correcciones a git\"]\n    B --> C[\"Verificar que las correcciones estén correctas\"]\n    C -->|No están correctas| D[\"Mandar a corregir nuevamente\"]\n    C -->|Están correctas| E[\"Aprobar los cambios\"]\n    D --> A\n\nTomar en cuenta : \n\nEn flowchart TD, los nodos con texto entre comillas deben escribirse como [\"texto\"] o ([\"texto\"]), pero nunca mezclados.\n\nEvita las comillas dobles escapadas dentro de los nodos (usa comillas simples o sin comillas).\n\nLos nodos de fin/inicio deben tener el mismo estilo para consistencia.\n\nno omitas, y pon enfasis en las ramas de desición, no deben faltar  ninguna en los pasos \n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        32
      ],
      "id": "90d775dc-f111-4693-a165-941029c70f13",
      "name": "Reparar Mermaid Code 1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "litoOpenIA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generador-diagrama",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        32
      ],
      "id": "52280e9f-aba8-47d0-aeec-c74de38da126",
      "name": "Webhook",
      "webhookId": "7b66b292-18ba-4b0a-a82e-66a0407d76c0"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        32
      ],
      "id": "5861b9f1-1906-4567-a139-8ca842a08d36",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mermaid:7000/png",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "graph TD;   A[Inicio] --> B[Proceso];   B --> C[Fin];",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "diagrama.png"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        272
      ],
      "id": "3d0afb87-487a-4a8c-b1fc-870086aad5c0",
      "name": "ObtenerDiagrama"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-15T19:24:52.834Z",
      "createdAt": "2025-10-15T19:24:52.834Z",
      "role": "workflow:owner",
      "workflowId": "nZ2TohcGs3xSujdA",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-10-15T19:25:02.593Z",
      "createdAt": "2025-10-15T19:25:02.593Z",
      "id": "EjEilkHw32uq8pdQ",
      "name": "No borrar"
    },
    {
      "updatedAt": "2025-09-04T14:59:17.899Z",
      "createdAt": "2025-09-04T14:59:17.899Z",
      "id": "NJCajeulEkuGXGh4",
      "name": "Litoprocess"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-13T00:39:12.000Z",
  "versionId": "0c24c36c-0bfa-4c6b-ab2d-12c2773e21db"
}