Workflows/nZ2TohcGs3xSujdA.json
{
  "active": true,
  "connections": {
    "ObtenerDiagrama1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reparar Mermaid Code 1": {
      "main": [
        [
          {
            "node": "ObtenerDiagrama1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Reparar Mermaid Code 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T19:24:52.830Z",
  "id": "nZ2TohcGs3xSujdA",
  "isArchived": false,
  "meta": null,
  "name": "Generador de Diagramas",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://mermaid:7000/png",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.message.content }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        32
      ],
      "id": "236629e7-a609-445e-9e93-64bc8e8cc85b",
      "name": "ObtenerDiagrama1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.pasos }}"
            },
            {
              "content": "=Recibiras un codigo para mermaid, debes verificar que este correcto en sus sintaxis y corregir cual quier error, solo devueleve el codigo, sin comillas ni nada\n\nEjemplo de codigo correcto: \n\nflowchart TD\n    A([\"Inicio\"]) --> P1[\"1. Cliente envía Orden de Compra (Ventas)\"]\n    P1 --> P2[\"2. Genera el Combo (Ventas)\"]\n    P2 --> P3[\"3. Entrega el Combo a Operaciones (Ventas)\"]\n    P3 --> P4[\"4. Recibe y clasifica información del Combo (Jefe de Operaciones)\"]\n    P4 --> D1{\"5. ¿Requiere compra externa? (Jefe de Operaciones)\"}\n    D1 -- Sí --> P6[\"6. Genera solicitud a Compras (Jefe de Operaciones)\"]\n    D1 -- No --> P7[\"7. Envía cotización y OP a Maquilas (Jefe de Operaciones)\"]\n    P6 --> P8[\"8. Genera carta de envío con especificaciones y dummy (Maquilas)\"]\n    P7 --> P8\n    P8 --> P9[\"9. Registra solicitud en sistema para OC (Maquilas)\"]\n    P9 --> P10[\"10. Emite Orden de Compra (Compras)\"]\n    P10 --> P11[\"11. Recibe carta y OC, valida información (Proveedor)\"]\n    P11 --> P12[\"12. Solicita liberación de productos y registra salida (Maquilas)\"]\n    P12 --> D2{\"13. ¿Requisitos de productos válidos? (Calidad)\"}\n    D2 -- Sí --> P14[\"14. Libera material (Calidad)\"]\n    D2 -- No --> P15[\"15. Reporta no conformidad (Calidad)\"]\n    P14 --> P16[\"16. Coordina transporte al proveedor (Entregas)\"]\n    P15 --> Z([\"Fin\"])\n    P16 --> P17[\"17. Recibe producto y elabora muestra (Proveedor)\"]\n    P17 --> P18[\"18. Solicita Vo. Bo. a Calidad, si aplica (Proveedor)\"]\n    P18 --> D3{\"19. ¿Muestra cumple requisitos? (Calidad)\"}\n    D3 -- Sí --> P20[\"20. Autoriza inicio de proceso (Calidad)\"]\n    D3 -- No --> P21[\"21. Solicita ajustes (Calidad)\"]\n    P20 --> P22[\"22. Realiza operaciones con orden y autorizaciones (Proveedor)\"]\n    P21 --> P22\n    P22 --> P23[\"23. Registra bitácora de envíos/recepciones (Maquilas)\"]\n    P23 --> P24[\"24. Controla entradas y notifica (Vigilancia)\"]\n    P24 --> P25[\"25. Verifica cantidades y condiciones (Entregas)\"]\n    P25 --> D4{\"26. ¿Inspección es conforme? (Calidad)\"}\n    D4 -- Sí --> P27[\"27. Libera productos (Calidad)\"]\n    D4 -- No --> P28[\"28. Reporta no conformidad e informa a responsables (Calidad)\"]\n    P27 --> P29[\"29. Firman facturas al recibir (Almacén/Maquilas/Producción)\"]\n    P28 --> P30[\"30. Informa sobre cambios solicitados por cliente (Ventas)\"]\n    P29 --> P30\n    P30 --> Z([\"Fin\"])\n\nTomar en cuenta : \n\nEn flowchart TD, los nodos con texto entre comillas deben escribirse como [\"texto\"] o ([\"texto\"]), pero nunca mezclados.\n\nEvita las comillas dobles escapadas dentro de los nodos (usa comillas simples o sin comillas).\n\nLos nodos de fin/inicio deben tener el mismo estilo para consistencia.\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        32
      ],
      "id": "90d775dc-f111-4693-a165-941029c70f13",
      "name": "Reparar Mermaid Code 1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generador-diagrama",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        32
      ],
      "id": "52280e9f-aba8-47d0-aeec-c74de38da126",
      "name": "Webhook",
      "webhookId": "7b66b292-18ba-4b0a-a82e-66a0407d76c0"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        32
      ],
      "id": "5861b9f1-1906-4567-a139-8ca842a08d36",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T19:24:52.834Z",
      "updatedAt": "2025-10-15T19:24:52.834Z",
      "role": "workflow:owner",
      "workflowId": "nZ2TohcGs3xSujdA",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-15T19:25:02.593Z",
      "updatedAt": "2025-10-15T19:25:02.593Z",
      "id": "EjEilkHw32uq8pdQ",
      "name": "No borrar"
    },
    {
      "createdAt": "2025-09-04T14:59:17.899Z",
      "updatedAt": "2025-09-04T14:59:17.899Z",
      "id": "NJCajeulEkuGXGh4",
      "name": "Litoprocess"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T19:25:06.000Z",
  "versionId": "fa22150b-762c-4731-b5de-3cfdb1d2d139"
}