Workflows/OHkHCISrOt0lMIoi.json
{
  "active": false,
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Clasificador de Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ETIQUETA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ETIQUETA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "ETIQUETA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "ETIQUETA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA": {
      "main": [
        [
          {
            "node": "Crear Borrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA1": {
      "main": [
        [
          {
            "node": "Crear Borrador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETIQUETA2": {
      "main": [
        [
          {
            "node": "Crear Borrador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador": {
      "main": [
        [
          {
            "node": "Enviar Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador1": {
      "main": [
        [
          {
            "node": "Enviar Alerta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Borrador2": {
      "main": [
        [
          {
            "node": "Enviar Alerta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Emails": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-30T06:56:32.747Z",
  "id": "OHkHCISrOt0lMIoi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bots  Pruebas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        288
      ],
      "id": "09a9c456-0c1e-4a73-b7b8-cfeb997a33f3",
      "name": "Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "271c8b32-9e07-48e7-b13e-f25bdfe0e7a2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ecdf72cc-4a2f-4ab7-9e03-a3a01372c2e5",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "01cc1362-398c-44cc-894b-06bca6f335d6",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "0bda10a6-9cf9-49e5-aecd-ae47f3054774",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        288
      ],
      "id": "a5d0efae-fd2d-45cb-bd5a-51ccaafbb84e",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "FINANZAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1bc72bf3-ebd3-4a26-8ec0-d856f38f4d1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINANZAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3f4832e-d838-4d85-b2d0-3634b5d8bf92",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "NEGOCIOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEGOCIOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b57d8223-8097-48e3-9aec-ea5732ac3676",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "TRABAJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRABAJO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1aa66bf0-1fa9-4cd9-bcd4-896e7b8af6e3",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "FACTURA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FACTURA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb419cd8-95c6-4f92-aeba-2271bf160e3b",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "SPAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SPAM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e0e93b27-c959-446e-be38-9fa690e5722b",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "OTROS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OTROS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        224
      ],
      "id": "12a5325a-1292-46b9-bbdc-758ecddfdc37",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos de negocios.\n\nRecibirás el asunto y el cuerpo de un correo relacionado con oportunidades comerciales, propuestas o networking.\n\nTu tarea es redactar una respuesta profesional pero cercana, mostrando interés en colaborar.\n\nAsegúrate de:\n\nAgradecer el contacto de manera natural.\n\nMostrar disposición y apertura a continuar la conversación.\n\nMantener un tono positivo, cordial y entusiasta.\n\nEvitar sonar demasiado genérico. Haz que la respuesta parezca escrita para esa persona.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields').item.json.From }}\nASUNTO: {{ $('Edit Fields').item.json.Subject }}\nBODY:{{ $('Edit Fields').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "c4bfce6c-eaf5-466b-88cf-64d1179cb213",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ],
      "id": "16255d5b-6d8d-4ba2-88b2-e1c52a6b14ef",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos de temas financieros.\n\nRecibirás el asunto y el cuerpo de correo relacionado con finanzas (ej. bancos, reportes, estados de cuenta, inversiones).\n\nTu tarea es redactar una respuesta clara, profesional y breve, con tono humano.\n\nAsegúrate de:\n\nResponder de forma educada y concreta a lo solicitado.\n\nMantener un tono serio y confiable, como un asesor financiero.\n\nUsar frases naturales como: “Gracias por compartir esta información”, “Con gusto te apoyo con…”.\n\nNo sonar robótico ni demasiado genérico.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields').item.json.From }}\nASUNTO: {{ $('Edit Fields').item.json.Subject }}\nBODY:{{ $('Edit Fields').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        -192
      ],
      "id": "96b37e86-24c7-4156-b4fb-7fa8b4fb09d9",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -192
      ],
      "id": "ea74a2e4-08eb-4dfa-985e-ddd71a91b40a",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente especializado en responder correos laborales.\n\nRecibirás el asunto y el cuerpo de un correo relacionado con trabajo o comunicaciones internas.\n\nTu tarea es redactar una respuesta breve, clara y respetuosa.\n\nAsegúrate de:\n\nResponder de forma puntual a lo que se pide.\n\nMantener un tono colaborativo y profesional.\n\nSonar humano, como un colega atento.\n\nEvitar exceso de formalidad, manteniendo la comunicación sencilla.\n\nEl output debe estar únicamente en JSON con este formato:\n\n{\n  \"subject\": \"texto en plain text del asunto de la respuesta\",\n  \"body\": \"texto en plain text del cuerpo de la respuesta\"\n}\n\n\nCORREO RECIBIDO : \nDE: {{ $('Edit Fields').item.json.From }}\nASUNTO: {{ $('Edit Fields').item.json.Subject }}\nBODY:{{ $('Edit Fields').item.json.snippet }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        192
      ],
      "id": "f0e39693-06dd-48e0-9673-f112ee9baee4",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const string = $input.first().json.content.parts[0].text;\nconst json = JSON.parse(string)\n\nreturn json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        192
      ],
      "id": "3cd81c0f-6cc2-4cd3-a5cd-42936efba167",
      "name": "Code2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_770951928743596611"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        -192
      ],
      "id": "adfa825a-f46a-4b9a-a18c-ecf3ff9aaa05",
      "name": "ETIQUETA",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_1825414215957450148"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "id": "7073ed62-9311-4a53-af6b-80a37ffbd141",
      "name": "ETIQUETA1",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_3100686264112151428"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        192
      ],
      "id": "6fadb6cd-4030-4db8-8c9c-2d241ae0de9e",
      "name": "ETIQUETA2",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_1516948341942809660"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        384
      ],
      "id": "2bb677d8-6999-40fe-a3df-a5c650d9b8c2",
      "name": "ETIQUETA3",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_5696755187546353597"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        576
      ],
      "id": "778c4cf0-d7db-4e4e-b251-2d4f508df38f",
      "name": "ETIQUETA4",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.id }}",
        "labelIds": [
          "Label_8897879677453609232"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        768
      ],
      "id": "af8ed16b-bc92-4203-a0fc-5d3fdb90b97c",
      "name": "ETIQUETA5",
      "webhookId": "f71d1862-2607-4401-ad5f-46d219fcf80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code1').item.json.subject }}",
        "message": "={{ $('Code1').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        -192
      ],
      "id": "06ee6bc0-b257-4872-bf12-94c47cad8caa",
      "name": "Crear Borrador",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code').item.json.subject }}",
        "message": "={{ $('Code').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        0
      ],
      "id": "373f7fcc-f39c-42f8-9882-c7b08bbb4c0c",
      "name": "Crear Borrador1",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code2').item.json.subject }}",
        "message": "={{ $('Code2').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        192
      ],
      "id": "81fd0f73-f2c8-4dc3-acad-9b1318217093",
      "name": "Crear Borrador2",
      "webhookId": "7a52e0d7-3cc5-4d39-9d3c-9a3ac1bcef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysXYnPoghR9xwiuT",
          "name": "Gmail Pako"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields').item.json.From }}*\nContenido: \n{{ $('Edit Fields').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code1').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2048,
        -192
      ],
      "id": "b7782008-e371-46be-9074-b7d7cb6787f9",
      "name": "Enviar Alerta",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields').item.json.From }}*\nContenido: \n{{ $('Edit Fields').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2048,
        0
      ],
      "id": "4f8e6a01-1605-47af-a613-b608effa8d1c",
      "name": "Enviar Alerta1",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bot_Pruebas_IA",
        "remoteJid": "5215534073167",
        "messageText": "=Recibiste un correo acerca de:  *{{ $('Clasificador de Emails').item.json.content.parts[0].text }}*\nTe lo envio: \n*{{ $('Edit Fields').item.json.From }}*\nContenido: \n{{ $('Edit Fields').item.json.snippet }}\n\nSe genero el siguiente borrador: \n{{ $('Code2').item.json.body }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2048,
        192
      ],
      "id": "b0b14289-8e9c-46fb-9dae-ca74700e98b6",
      "name": "Enviar Alerta2",
      "credentials": {
        "evolutionApi": {
          "id": "Yxv2trQ4ePWkxDQ4",
          "name": "Bot Prueba IA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un clasificador de correos electrónicos.\n\nRecibirás el asunto y el contenido (body) de un correo electrónico.\n\nTu tarea es analizarlo y devolver solo una palabra en mayúsculas que represente la categoría del correo.\n\nNo expliques, no des contexto, no escribas nada más aparte de la categoría.\n\nLas categorías posibles son:\n\nFINANZAS → Correos relacionados con bancos, inversiones, tarjetas, estados de cuenta, reportes financieros.\n\nNEGOCIOS → Oportunidades comerciales, clientes potenciales, propuestas de negocio, networking.\n\nTRABAJO → Mensajes laborales generales, comunicaciones de compañeros, jefes o colaboradores.\n\nFACTURA → Recibos, comprobantes, pagos, facturación, XML, aviso de cobro.\n\nSPAM → Publicidad no solicitada, promociones irrelevantes, phishing.\n\nOTROS → Si no entra en ninguna de las anteriores.\n\nResponde unicamente una palabra de la lista anterior, sin comillas.\n\nEjemplo de salida válida: \"FACTURA\"\n\nCORREO A ANALIZAR\n\nDE:{{ $json.From }}\nASUNTO:{{ $json.Subject }}\n{{ $json.snippet }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        288
      ],
      "id": "326bd043-49bc-468d-8b53-8dd598ebe525",
      "name": "Clasificador de Emails",
      "credentials": {
        "googlePalmApi": {
          "id": "pdB77gCjQoMxFDV3",
          "name": "Pako Gemini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Asistente Clasificador de correos \n### Descripcion\nEl asistente recibe los correos, los clasifica y agrega una etiqueta, Si son *importantes* entonces envia una alerta\n\n### Herramientas y costos \n* n8n: $5 / 20 USD /mes\n* OpenIA o Gemini : $ 5 USD /mes\n* Gmail API: Free\n* Evolution API: Free ",
        "height": 1216,
        "width": 2416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -288
      ],
      "typeVersion": 1,
      "id": "2b8c1409-7312-4a03-9a60-10c98e627281",
      "name": "Sticky Note",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-30T06:56:32.752Z",
      "createdAt": "2025-08-30T06:56:32.752Z",
      "role": "workflow:owner",
      "workflowId": "OHkHCISrOt0lMIoi",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-30T07:16:47.434Z",
      "createdAt": "2025-07-30T07:16:47.434Z",
      "id": "mSpHjLUfWIhOQqzc",
      "name": "Experimentos"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-30T08:26:55.000Z",
  "versionId": "71bfcf4e-8c63-4ed8-b66d-6ce55f0802d8"
}