Workflows/tRAhEF7nIP5xIfqm.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA RAG  Litoprocess",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA RAG  Litoprocess",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agente IA RAG  Litoprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Informacion",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Informacion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Informacion": {
      "ai_tool": [
        [
          {
            "node": "Agente IA RAG  Litoprocess",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T14:59:05.328Z",
  "id": "tRAhEF7nIP5xIfqm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chat Agent RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cefc1837-002d-4625-8f87-214551f480da",
      "name": "When chat message received",
      "webhookId": "18da4604-821b-4376-92eb-bba58ae7c64a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=Eres \"Lito\", el Asistente IA de Litoprocess.  \nTu especialidad es ayudar al personal a resolver dudas sobre procedimientos internos estandarizados de la empresa.\n\nInstrucciones:  \n- Preséntate como **\"LITO, Asistente IA de Litoprocess\"** únicamente en la primera interacción o cuando el usuario te salude.  \n- Responde con un tono cálido, feliz y entusiasta.  \n- Da respuestas detalladas y claras. Además de contestar la pregunta, explica un poco el contexto o el procedimiento relacionado.  \n- Siempre que lo necesites, utiliza la herramienta **Vector Store Tool** para obtener la información necesaria antes de responder.  \n- Revisa a fondo la información recuperada del Vector Store antes de dar una respuesta y no omitas detalles relevantes del documento.  \n- Si no encuentras información suficiente, indícalo de forma amable y sugiere al usuario consultar al área correspondiente.  \n- No inventes datos ni ofrezcas servicios o actividades que no estén documentadas o programadas.  \n- Limítate a responder preguntas: **no sugieras acciones adicionales ni ofrezcas ejecutar tareas** (ejemplo: no digas “¿quieres que haga esto ahora?”).  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "3328ee4c-05e7-4345-bba5-237dd07f2b93",
      "name": "Agente IA RAG  Litoprocess"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "238ae315-b68b-45d6-ba47-3f2820a6255d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "e5ff8b62-1d2c-4530-9cb1-a45258a591f2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "VS9LlojPUjkXGlOu",
          "name": "Litoprocess"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59e510d2-cf43-467e-a181-0734a1154468",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "e85b6b89-77f6-4136-88fa-b16dc0cf84ef",
              "name": "mensaje",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0451050d-9cc7-4eb4-a7d5-57cdd985baeb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        384
      ],
      "id": "81cc0be0-284e-4fde-b14d-c1d1f2385a2d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qPQpcK61ikwZUdOZ",
          "name": "VectorBaseLitoprocess"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        576
      ],
      "id": "5a4080c1-9614-4727-8199-2d097ac54f54",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        336
      ],
      "id": "387d479e-be5f-48ec-9281-19f58760dc9a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "description": "Obtener informacion sobre los procedimientos de la empresa "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        576,
        208
      ],
      "id": "633e0629-6022-4fc2-97dd-11a400c9c205",
      "name": "Informacion"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T14:59:05.333Z",
      "updatedAt": "2025-09-04T14:59:05.333Z",
      "role": "workflow:owner",
      "workflowId": "tRAhEF7nIP5xIfqm",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-04T14:59:17.899Z",
      "updatedAt": "2025-09-04T14:59:17.899Z",
      "id": "NJCajeulEkuGXGh4",
      "name": "Litoprocess"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-05T00:56:14.000Z",
  "versionId": "8d1d8fc6-77a2-4d97-a467-ae06fc017984"
}