Workflows/vWOzvu9QM65fYbGd.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T18:13:04.174Z",
  "id": "vWOzvu9QM65fYbGd",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recordatorio de reuniones",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eb40e3c5-4d05-494d-aaaa-10d51c0080f9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "3655ab58-972f-41b5-8a64-ddd36850d076",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "text": "=<prompt>\n  <instruccion>\n    Extrae de {{ $json.descripcion }} los siguientes datos:\n    <datos>\n      <dato>Nombre de la persona: identifica el nombre propio de la persona involucrada en el evento.</dato>\n      <dato>Razón del evento: identifica el motivo o propósito de la reunión o evento.</dato>\n      <dato>Teléfono: extrae el número de teléfono; si no inicia con \"521\", anteponlo al número.</dato>\n    </datos>\n  </instruccion>\n  <reglas>\n    <regla>Si no encuentras alguno de estos valores, coloca \"Sin detalles\".</regla>\n    <regla>El nombre nunca debe ser la palabra “junta”, “reunión”, “evento”, ni frases similares; identifica únicamente el nombre propio o el dato que claramente sea un nombre de persona.</regla>\n    <regla>La razón del evento debe ser una frase que explique el motivo de la reunión, evitando nombres propios o títulos.</regla>\n    <regla>El teléfono debe quedar en formato internacional mexicano: iniciar con “521”.</regla>\n  </reglas>\n  <ejemplo>\n    Si el texto es: Junta con margot, para determinar facturas del mes de julio, 5534073167\n    <resultado>\n      <nombre>Margot</nombre>\n      <razon>determinar facturas del mes de julio</razon>\n      <telefono>5215534073167</telefono>\n    </resultado>\n  </ejemplo>\n</prompt>\n",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"nombre\": \"francisco\",\n\t\"razon\": \"Para determinar el uso de whapi\",\n  \"telefono\": 5534073167\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        912,
        16
      ],
      "id": "bbf57c16-3d41-4468-8436-b0142a27d6e8",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        192
      ],
      "id": "949eb7f2-c061-4826-839e-64ba4c413570",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c93b679-be80-489a-924d-98e838356e07",
              "name": "descripcion",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        16
      ],
      "id": "4dbd8a34-57e8-44f7-bbee-a09c3435699f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4052444e-04f6-47f0-9147-3b5c47d90b00",
              "name": "Nombre",
              "value": "={{ $json.output.nombre }}",
              "type": "string"
            },
            {
              "id": "5aad56c2-571b-4482-93df-a1c33668483c",
              "name": "Razon",
              "value": "={{ $json.output.razon }}",
              "type": "string"
            },
            {
              "id": "a3410ea9-928b-4a12-ac8e-50645fb9153c",
              "name": "Telefono",
              "value": "={{ $json.output.telefono }}",
              "type": "string"
            },
            {
              "id": "1fc46201-dd1d-4a25-a288-2095dce90984",
              "name": "link",
              "value": "https://www.google.com/calendar/event?eid=N21ycGluc24xMW1lZmYyY2Z1djluaGlzNmcgamF2aWVyLnNhbmNoZXpqcHMyN0Bt",
              "type": "string"
            },
            {
              "id": "2438db75-a826-4c5c-a8c7-610d8e35787d",
              "name": "conference_link",
              "value": "={{ $('Get many events').item.json.conferenceData.entryPoints[0].uri }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        16
      ],
      "id": "5b51f38d-d92a-49c1-9c64-9a0f35ab819a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<!-- Instrucciones para el agente -->\n<instrucciones>\n  Crea un mensaje de recordatorio dirigido a la persona destinataria sobre una junta programada. Usa las siguientes variables:\n  <variables>\n    <variable>Asunto de la reunión: {{ $json.Razon }}</variable>\n    <variable>Link de detalles: {{ $json.link }}</variable>\n    <variable>Link para videollamada: {{ $json.conference_link }} (puede ser null)</variable>\n    <variable>Nombre de la persona destinataria: {{ $json.Nombre }}</variable>\n  </variables>\n</instrucciones>\n\n<!-- Reglas -->\n<reglas>\n  <regla>\n    Si {{ $json.Nombre }} es distinto de \"Sin detalles\" o similar, comienza el mensaje dirigiéndote a esa persona (ejemplo: “Hola Margot,”).\n  </regla>\n  <regla>\n    Si el nombre es \"Sin detalles\" o similar, omite el nombre y empieza el mensaje de forma general.\n  </regla>\n  <regla>\n    Si {{ $json.conference_link }} NO es null, agrega una línea indicando que puede unirse a la videollamada usando ese enlace.\n  </regla>\n  <regla>\n    El mensaje debe estar dirigido a la persona destinataria, no hablar sobre ella.\n  </regla>\n</reglas>\n\n<!-- Formato de salida -->\n<salida>\n  Devuelve SOLO el siguiente JSON:\n  <codigo>\n    {\n      \"mensaje\": \"mensaje generado\",\n      \"telefono\": \"{{ $json.Telefono }}\"\n    }\n  </codigo>\n</salida>\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1488,
        16
      ],
      "id": "df05cc60-473e-41d8-83fa-d9633f0fe373",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        224
      ],
      "id": "006ef72b-548c-4036-941f-60432c99c13d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mensaje\": \"mensaje generado\", \n  \"telefono\": \"{{ $json.Telefono }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1632,
        224
      ],
      "id": "ede92a18-847a-48bd-b88d-7ed7fcac4037",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "javier.sanchezjps27@gmail.com",
          "mode": "list",
          "cachedResultName": "javier.sanchezjps27@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus(1, 'days').set({ hour: 23, minute: 59, second: 0, millisecond: 0 }) }}",
        "timeMax": "={{ $now }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "be0440ca-d7dd-4f1b-b422-ec67ee5f8efd",
      "name": "Get many events",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "owpreAujh5MQWXFx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=5215534073167"
            },
            {
              "name": "body",
              "value": "={{ $json.output.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        16
      ],
      "id": "899be5ac-e340-40b4-9175-3be32f377d19",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "w7wTxc1wonUykWxy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=5215534073167"
            },
            {
              "name": "body",
              "value": "={{ $json.Mesaje_listo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -240
      ],
      "id": "8a6f00f6-e7f8-4d93-9f61-52617ff9f769",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "w7wTxc1wonUykWxy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca0eedc-ab36-43a9-98c3-2a3b88845089",
              "name": "Mesaje_listo",
              "value": "Hola, se han enviado los recordatorios de tus juntas de hoy ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -176
      ],
      "id": "f7413748-f72f-4ac0-a590-923384862aa7",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-22T18:13:04.178Z",
      "createdAt": "2025-07-22T18:13:04.178Z",
      "role": "workflow:owner",
      "workflowId": "vWOzvu9QM65fYbGd",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T22:22:13.000Z",
  "versionId": "0236183e-57da-4c35-a438-f50f7b7989b2"
}