Workflows/X9r4uZyUlwPnh6SI.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-13T19:35:45.356Z",
  "id": "X9r4uZyUlwPnh6SI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cancelacion Stripe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dcb4aee0-3128-47cc-8060-48007bd48141",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        416
      ],
      "id": "a775fc6b-4167-4e74-8027-8531abfff86b",
      "name": "Webhook",
      "webhookId": "dcb4aee0-3128-47cc-8060-48007bd48141"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c29b6b87-27f6-4774-9ff0-c21b6d935744",
              "name": "decision_key",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}_{{$node[\"Get row(s) in sheet\"].json.estado}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        416
      ],
      "id": "80069ecf-f8a8-4f61-a593-a501c34b115a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "94832776-367d-4045-8da4-3feddc007f07"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b95ef1a6-366d-432d-b4df-78f48b38e48d",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25914a7d-498e-40ca-860b-2f412dff97c4",
                    "leftValue": "={{ $json.decision_key }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        672,
        400
      ],
      "id": "88c31e63-c4f5-473c-bc37-119912c3e84b",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
        "messageText": "Entendido. \nLamentamos que consideres irte.  \nAntes de procesar tu cancelación, nos gustaría saber si hay algo en lo que podamos ayudarte o si tienes alguna sugerencia para mejorar nuestro servicio. Tu opinión es muy importante para nosotros.  \nSi no hay nada más y deseas continuar con la baja definitiva, por favor responde a este mensaje con la palabra \"Confirmar\".",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1184,
        -176
      ],
      "id": "24dd0e06-1251-4da7-9523-c9904cf4a905",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Get row(s) in sheet').item.json.telefono }}",
            "estado": "retencion_enviada"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subscriptionId",
              "displayName": "subscriptionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechaRecordatorio2",
              "displayName": "fechaRecordatorio2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fechaRecordatorio3",
              "displayName": "fechaRecordatorio3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoiceId",
              "displayName": "invoiceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        -176
      ],
      "id": "80d83f41-ebd1-415c-8eee-875ad9ef356d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Get row(s) in sheet').item.json.subscriptionId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        416
      ],
      "id": "ebb0de52-9758-4b7d-8169-bccd94896bbf",
      "name": "HTTP Request",
      "credentials": {
        "stripeApi": {
          "id": "hhtnDIdvI10lu5r3",
          "name": "Stripe account"
        },
        "httpHeaderAuth": {
          "id": "FOxvsRQ52X7TDxsP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805190857,
          "mode": "list",
          "cachedResultName": "Cancelados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=1805190857"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customerId": "={{$node[\"Get row(s) in sheet\"].json[\"customerId\"]}}"
          },
          "matchingColumns": [
            "customerId"
          ],
          "schema": [
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        416
      ],
      "id": "4ec74229-03f6-47cc-82fe-9a55aa8155bb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
        "messageText": "Tu suscripción ha sido cancelada exitosamente. Ha sido un placer tenerte como cliente. \nSi cambias de opinión en el futuro, ¡nuestras puertas siempre estarán abiertas!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1824,
        416
      ],
      "id": "e05ebbd5-1843-4b6d-b061-5c73182f29be",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e5cfa06-9737-4362-b6ef-9b2dda2ed049",
              "leftValue": "={{$node[\"Get row(s) in sheet\"].json[\"estado\"]}}",
              "rightValue": "retencion_enviada",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -28
      ],
      "id": "3529ac25-1a7e-4a10-8bc1-ff5756c2e346",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23c708e7-1075-42a4-a28b-90619ec00e98",
              "leftValue": "={{$node[\"Get row(s) in sheet\"].json[\"estado\"]}}",
              "rightValue": "retencion_enviada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        416
      ],
      "id": "26d1e61d-ba63-44b7-9ea2-83a739d3dc2b",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "Eres un asistente de soporte amigable y servicial para Converging Works. Ayudas a clientes cuyo pago de suscripción ha fallado. Tu objetivo principal es ayudarles a actualizar su método de pago o entender por qué quieren cancelar. NO ofrezcas descuentos no autorizados. Si no puedes ayudar o el cliente se frustra, dirígelo a soporte humano en equipo@converging.work. Recuerda siempre al cliente que puede escribir 'CONFIRMAR' para cancelar su suscripción.\n\n**Si el cliente pregunta CÓMO actualizar su método de pago o pide los pasos, explícale lo siguiente:**\n\n\"¡Claro! Actualizar tu método de pago es sencillo. Sigue estos pasos:\n1.  Visita tu página de cuenta aquí: https://stripe.com/es.\n2.  Inicia sesión si es necesario.\n3.  Busca la sección 'Métodos de Pago' o 'Facturación'.\n4.  Haz clic en 'Agregar Método de Pago' e introduce los datos de tu nueva tarjeta.\n5.  (Opcional, si aplica) Asegúrate de marcar la nueva tarjeta como método de pago predeterminado.\nUna vez actualizado, intentaremos cobrar de nuevo automáticamente en las próximas horas.\"\n\nSi el cliente solo pregunta DÓNDE actualizar, simplemente dale el enlace: \"Puedes actualizar tu método de pago visitando tu página de cuenta aquí: Stripe.com/es.\"\n\nSi parece querer cancelar pero no usó la palabra clave, o si expresa alguna queja, intenta entender su problema amablemente. Si pregunta algo que no sabes, dirígelo a soporte humano.\n\nEn todas tus respuestas, recuerda añadir al final: \"Si deseas cancelar tu suscripción, solo responde con la palabra Cancelar.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1472,
        652
      ],
      "id": "1a6ac78d-02e4-4060-a27e-d86dbdae74e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1544,
        876
      ],
      "id": "6e6ccaad-52d0-42cc-93ac-f6de6da8403d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1824,
        660
      ],
      "id": "40a84d39-a7bf-456d-b043-972b36ef856f",
      "name": "Enviar texto2",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "feedback": "={{ $('Webhook').item.json.body.data.message.conversation }}",
            "customerId": "={{ $('Get row(s) in sheet').item.json.customerId }}"
          },
          "matchingColumns": [
            "customerId"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customerId",
              "displayName": "customerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subscriptionId",
              "displayName": "subscriptionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechaRecordatorio2",
              "displayName": "fechaRecordatorio2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechaRecordatorio3",
              "displayName": "fechaRecordatorio3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoiceId",
              "displayName": "invoiceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        756
      ],
      "id": "d3e6a188-2fbc-41f9-90f2-4d7bac2da22c",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jorge.serrano.coba30@gmail.com",
        "subject": "=Nuevo Feedback de Cancelación - Cliente: {{$node[\"Get row(s) in sheet\"].json.customerId}}",
        "message": "=<p>Hola equipo,</p>\n<p>Un cliente ha respondido a nuestro mensaje de retención con su opinión, justo antes de confirmar su cancelación. Por favor, revisen si es posible contactarlo.</p>\n\n<hr>\n\n<h3>Feedback del Cliente:</h3>\n<blockquote style=\"border-left: 4px solid #ccc; padding-left: 10px; font-style: italic;\">\n  {{ $('Webhook').item.json.body.data.message.conversation }}\n</blockquote>\n\n<hr>\n\n<h3>Datos del Cliente:</h3>\n<ul>\n  <li><strong>Teléfono:</strong> {{$node[\"Get row(s) in sheet\"].json.telefono}}</li>\n  <li><strong>ID Cliente:</strong> {{$node[\"Get row(s) in sheet\"].json.customerId}}</li>\n  <li><strong>ID Suscripción:</strong> {{$node[\"Get row(s) in sheet\"].json.subscriptionId}}</li>\n</ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        852
      ],
      "id": "2042666a-0fb3-4888-bf8c-36514717b90b",
      "name": "Send a message",
      "webhookId": "c00426ec-81ea-46f8-9c68-820b69dfb856",
      "credentials": {
        "gmailOAuth2": {
          "id": "9IRXZsbPaUfz1vu6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU",
          "mode": "list",
          "cachedResultName": "Pagos Stripe ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QSEG4MIhSiNoOWrSZAcLjhml6nWSTqZ2xJOnvdDpVRU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('521', '52') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        416
      ],
      "id": "7182e9aa-13bf-46c0-a761-6e915195583e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cea98969-356e-4eef-8a4b-d962be3a6359",
              "leftValue": "={{$node[\"Get row(s) in sheet\"].json.feedback}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        904
      ],
      "id": "49afc560-a414-4f5d-8a5c-05b8c489476a",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "Eres un asistente de soporte. El cliente ya te ha dado su opinión sobre por qué quería cancelar, y esa opinión ya ha sido guardada.\n\nAhora, el cliente ha enviado un mensaje de seguimiento (probablemente \"Gracias\", \"ok\", o tal vez otra pregunta simple).\n\nTu trabajo es:\n1.  Responder amablemente a este mensaje de seguimiento.\n2.  NO necesitas guardar este nuevo mensaje.\n3.  NO necesitas alertar a un humano.\n4.  Lo más importante: en CADA respuesta, sin importar lo que digas, debes recordarle al cliente que si aún desea cancelar, debe responder con la palabra \"CONFIRMAR\".\n\nEjemplo si el cliente dice \"Gracias\": \"De nada. Recuerda, si deseas continuar con la cancelación definitiva, solo responde con la palabra CONFIRMAR.\"\nEjemplo si el cliente dice \"ok\": \"Entendido. Si decides cancelar, solo responde con la palabra CONFIRMAR.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        1052
      ],
      "id": "f2c9d3da-bd17-4d87-9268-09e805bd916d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1192,
        1276
      ],
      "id": "1d17a255-5d24-47b5-ab9f-5c98c17109b0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1536,
        1052
      ],
      "id": "ca054214-853b-4cc0-a58b-8ea744a89530",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "Eres un asistente de soporte. El cliente ya te ha dado su opinión sobre por qué quería cancelar, y esa opinión ya ha sido guardada.\n\nAhora, el cliente ha enviado un mensaje de seguimiento (probablemente \"Gracias\", \"ok\", o tal vez otra pregunta simple).\n\nTu trabajo es:\n1.  Responder amablemente a este mensaje de seguimiento.\n2.  NO necesitas guardar este nuevo mensaje.\n3.  NO necesitas alertar a un humano.\n4.  Lo más importante: en CADA respuesta, sin importar lo que digas, debes recordarle al cliente que si aún desea cancelar, debe responder con la palabra \"CONFIRMAR\".\n\nEjemplo si el cliente dice \"Gracias\": \"De nada. Recuerda, si deseas continuar con la cancelación definitiva, solo responde con la palabra CONFIRMAR.\"\nEjemplo si el cliente dice \"ok\": \"Entendido. Si decides cancelar, solo responde con la palabra CONFIRMAR.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        16
      ],
      "id": "303e6a75-56a1-48f2-a7e4-9a53a6d298d5",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1192,
        240
      ],
      "id": "4ffd4a7a-ecbc-405f-9730-0d743471cf0c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SoporteAlChileMedia",
        "remoteJid": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1536,
        120
      ],
      "id": "5cbd45c7-6204-4f8f-bdb4-8e7a9b071868",
      "name": "Enviar texto4",
      "credentials": {
        "evolutionApi": {
          "id": "O141HGacBoQSRFyh",
          "name": "SoporteAlchile"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-13T19:35:45.359Z",
      "updatedAt": "2025-10-13T19:35:45.359Z",
      "role": "workflow:owner",
      "workflowId": "X9r4uZyUlwPnh6SI",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T00:37:34.000Z",
  "versionId": "06787b87-cdb9-4621-aecd-b6492aa14c29"
}