Workflows/Zppxn4i8Gp6kG6Zg.json
{
  "active": true,
  "connections": {
    "Actualizador de documentos": {
      "main": [
        [
          {
            "node": "Filtrar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion de documentos": {
      "main": [
        [
          {
            "node": "Filtrar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Datos": {
      "main": [
        [
          {
            "node": "Descargar archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a Doc": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Datos1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir a Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF text1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a Doc1": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Descargar archivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-05T04:25:48.954Z",
  "id": "Zppxn4i8Gp6kG6Zg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MargotBot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1em79z4n9vml_5BmlUzmWsZeNrmGBz1WQ",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1em79z4n9vml_5BmlUzmWsZeNrmGBz1WQ"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        920
      ],
      "id": "9fa3f471-aed6-41b2-b842-fba7f2e969d0",
      "name": "Actualizador de documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1em79z4n9vml_5BmlUzmWsZeNrmGBz1WQ",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1em79z4n9vml_5BmlUzmWsZeNrmGBz1WQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "0f6be921-e42f-4ba6-959b-e1adb5f91794",
      "name": "Creacion de documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8325a08-8d03-452f-b439-aad85514784c",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a17878bd-389f-45aa-92f6-585466b6bc62",
              "name": "fiel_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        32
      ],
      "id": "c8bc520d-3adf-4901-8683-80a68f0ffcc4",
      "name": "Filtrar Datos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e6a6ee9-cc6f-447b-b218-3007172a5175"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ddff014d-5280-4fb9-81d1-6c8541e37449",
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef7bc0c-4881-4454-80db-5a45bcff838e",
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7459bb04-4144-4c8c-8929-6401fb050f37",
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4e9a6a0-7c80-4b82-8ad1-2f2ad8a93285",
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b72e07f-0f32-4d28-9b9e-bbb1f3fb8113",
                    "leftValue": "={{ $('Filtrar Datos').item.json.fiel_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        688,
        -32
      ],
      "id": "4ce51254-f6fc-445c-92bd-bc01c7574c5c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtrar Datos').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        32
      ],
      "id": "7ab0f7e1-f8a9-402c-bdd7-15448c4579c1",
      "name": "Descargar archivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        -352
      ],
      "id": "572a42fe-1607-4a4a-a0b4-36841c004ea9",
      "name": "Extract PDF text"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        -160
      ],
      "id": "635432be-3606-49fa-b6f4-b084fba59da3",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        32
      ],
      "id": "0b859566-144b-474a-9d87-c765e5b80b4e",
      "name": "Extract Excel"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Descargar archivo').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        224
      ],
      "id": "137c83f9-99ac-4e73-b27e-0bead1a1cf67",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Filtrar Datos').item.json.file_id }}/copy ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Filtrar Datos').item.json.file_id }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        224
      ],
      "id": "192eecfa-e6eb-426d-a66d-85b84d6b8814",
      "name": "Convertir a Doc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "w7wTxc1wonUykWxy",
          "name": "Whapi Equipo"
        },
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Convertir a Doc').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        296
      ],
      "id": "a09e0c62-9724-459a-a623-ce594c88ceee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        32
      ],
      "id": "714eabd6-742f-4546-af65-2fef03bacc7f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1360,
        32
      ],
      "id": "2cdc6c6d-98cb-4b76-9800-bf9ab0096264",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1616,
        -160
      ],
      "id": "39b262b7-d5c1-43d5-a657-ac783e272f5c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aRNapaEnH9XtNHFC",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        64
      ],
      "id": "144c117d-4971-4a95-9f81-9e245ad47837",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Filtrar Datos').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('Creacion de documentos').item.json.owners[0].displayName }}"
              },
              {
                "name": "=create_at",
                "value": "={{ $('Creacion de documentos').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('Creacion de documentos').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('Creacion de documentos').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Creacion de documentos').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1712,
        64
      ],
      "id": "2518bfb8-3097-4c58-8113-c07ed8b25ed3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1792,
        272
      ],
      "id": "4bd2a049-eedd-494a-b7f7-b735f6cd520e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8325a08-8d03-452f-b439-aad85514784c",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a17878bd-389f-45aa-92f6-585466b6bc62",
              "name": "fiel_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        920
      ],
      "id": "d1d24b51-66c7-46f6-9763-83e9a5d19148",
      "name": "Filtrar Datos1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e6a6ee9-cc6f-447b-b218-3007172a5175"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ddff014d-5280-4fb9-81d1-6c8541e37449",
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef7bc0c-4881-4454-80db-5a45bcff838e",
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7459bb04-4144-4c8c-8929-6401fb050f37",
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4e9a6a0-7c80-4b82-8ad1-2f2ad8a93285",
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b72e07f-0f32-4d28-9b9e-bbb1f3fb8113",
                    "leftValue": "={{ $('Filtrar Datos1').item.json.fiel_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc#3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        912,
        856
      ],
      "id": "d1dc9ab1-3c59-4be2-a87c-75207f20196a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtrar Datos1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        920
      ],
      "id": "45ff1f7f-935c-4bb6-8cce-8cfbab8d35a4",
      "name": "Descargar archivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        536
      ],
      "id": "7df2b58d-c0f7-4fde-ac1f-a3a70b257d41",
      "name": "Extract PDF text1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        728
      ],
      "id": "86ed5053-d4fa-4f6b-9ac2-fc982aac128f",
      "name": "Extract from Text File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1136,
        920
      ],
      "id": "068b937d-4399-42a2-aeeb-96e6ecd3447e",
      "name": "Extract Excel1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Descargar archivo1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        1112
      ],
      "id": "d318bea2-d0af-449a-93d3-239410986b7d",
      "name": "Delete a file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Filtrar Datos1').item.json.file_id }}/copy ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Filtrar Datos1').item.json.file_id }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1112
      ],
      "id": "6d070a7d-e465-440a-a844-6feca839a4d8",
      "name": "Convertir a Doc1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "w7wTxc1wonUykWxy",
          "name": "Whapi Equipo"
        },
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Convertir a Doc1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        1184
      ],
      "id": "901809fd-086f-4334-8215-372a5a2f067e",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cVEjDJsYUasSPHWu",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        920
      ],
      "id": "61757514-4faf-450e-a35a-d61aaa6ea048",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1584,
        920
      ],
      "id": "31ecced7-0fef-47a9-b505-05c88417ed3f",
      "name": "Summarize1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1840,
        728
      ],
      "id": "a52768b4-82b0-4417-ae5d-b10bb36d32ce",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "aRNapaEnH9XtNHFC",
          "name": "Mbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        952
      ],
      "id": "26f71c37-6df4-41ec-9faf-fb3ed0b23e6a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Filtrar Datos1').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('Actualizador de documentos').item.json.owners[0].displayName }}"
              },
              {
                "name": "=create_at",
                "value": "={{ $('Actualizador de documentos').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('Actualizador de documentos').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('Actualizador de documentos').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Actualizador de documentos').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1936,
        952
      ],
      "id": "4d7f50f1-74ec-43d5-bdb8-983dba0ecc9c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2016,
        1160
      ],
      "id": "23148de8-528a-400b-bd3f-ee7ff8c5dc72",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Filtrar Datos1').item.json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        920
      ],
      "id": "9a33256f-6af3-46e2-ad10-bd1af7587fb5",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "aRNapaEnH9XtNHFC",
          "name": "Mbot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-05T04:25:48.958Z",
      "createdAt": "2025-11-05T04:25:48.958Z",
      "role": "workflow:owner",
      "workflowId": "Zppxn4i8Gp6kG6Zg",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": {
    "node:Actualizador de documentos": {
      "lastTimeChecked": "2025-11-08T10:23:12Z"
    },
    "node:Creacion de documentos": {
      "lastTimeChecked": "2025-11-08T10:23:12Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-07T23:46:52.000Z",
  "versionId": "ded142e7-7e94-46b5-a500-05679aae6dc3"
}