Workflows/ZWyg6KMy5c6ohz0s.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-30T01:52:17.670Z",
  "id": "ZWyg6KMy5c6ohz0s",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TokenCost-Calculator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Tipo de cambio USD → MXN\nconst tipoCambio = 18.5;\n\n// Obtenemos los datos de la respuesta de OpenAI\nconst usage = $json[\"response\"]?.usage || { prompt_tokens: 0, completion_tokens: 0 };\nconst promptTokens = usage.prompt_tokens;\nconst completionTokens = usage.completion_tokens;\nconst totalTokens = promptTokens + completionTokens;\n\n// Precios por 1k tokens según modelo (ajusta si quieres)\nconst price = { input: 0.00015, output: 0.0006 };\nconst costUSD = (promptTokens / 1000) * price.input + (completionTokens / 1000) * price.output;\nconst costMXN = Number((costUSD * tipoCambio).toFixed(2));\n\n// Retornamos los datos en el formato que quieres\nreturn [{\n  json: {\n    Fecha: new Date().toLocaleDateString('es-MX'),\n    Hora: new Date().toLocaleTimeString('es-MX'),\n    Workflow: $json[\"workflowName\"] || \"Desconocido\",\n    Tokens: totalTokens,\n    Costo: costMXN,\n    Estado: $json[\"workflowState\"] || \"Activo\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -48
      ],
      "id": "4c0ab4fd-e7b6-4dd6-a405-66384807ce98",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibir-datos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        -48
      ],
      "id": "bced96bc-24d3-4a89-8a16-6d3454e47727",
      "name": "Webhook",
      "webhookId": "7e9c3d9b-0fd5-42ac-8a36-2728392df0bd"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11wyY7zASpUnD56bed13mWdHBiufDezU6fpN8FTo3mFE",
          "mode": "list",
          "cachedResultName": "Hoja de cálculo sin título",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11wyY7zASpUnD56bed13mWdHBiufDezU6fpN8FTo3mFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11wyY7zASpUnD56bed13mWdHBiufDezU6fpN8FTo3mFE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{$json[\"Fecha\"]}}",
            "Hora": "={{$json[\"Hora\"]}}",
            "Workflow": "={{$json[\"Workflow\"]}}",
            "Tokens": "={{$json[\"Tokens\"]}}",
            "Costo": "={{$json[\"Costo\"]}}",
            "Estado": "={{$json[\"Estado\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tokens",
              "displayName": "Tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costo",
              "displayName": "Costo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        -48
      ],
      "id": "6fe2f90b-2d56-4abb-8a8d-c7488e8c9f4d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UUAnITIItWHLyMP6",
          "name": "ApiGoogleEquipo"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-30T01:52:17.677Z",
      "updatedAt": "2025-09-30T01:52:17.677Z",
      "role": "workflow:owner",
      "workflowId": "ZWyg6KMy5c6ohz0s",
      "projectId": "zJAKCKeG7Ef7sO6E"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-30T22:56:44.000Z",
  "versionId": "c41ded30-4a4b-433d-a142-a905e1a3f480"
}