2025/08/sGclA7qLFoXBWKzZ.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF into PNG": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-28T15:57:38.441Z",
  "id": "sGclA7qLFoXBWKzZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "24df8daa-b191-4b2b-a066-82fdaa141f5e",
      "name": "Telegram Trigger",
      "webhookId": "1fbe8577-1d7c-403d-958c-88b7763d29fe",
      "credentials": {
        "telegramApi": {
          "id": "rwaSYQSNV8HrcMVE",
          "name": "Prueba Planos"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "6403fcef-a062-4804-be41-d54f7eb52b9d",
      "name": "Get a file",
      "webhookId": "1e3aaac0-a1e8-4da3-8487-92620c2216e2",
      "credentials": {
        "telegramApi": {
          "id": "rwaSYQSNV8HrcMVE",
          "name": "Prueba Planos"
        }
      }
    },
    {
      "parameters": {},
      "type": "@custom-js/n8n-nodes-pdf-toolkit.PdfToPng",
      "typeVersion": 1,
      "position": [
        -208,
        -592
      ],
      "id": "ba99e38c-c885-403f-8ba0-d7ab2aaef6da",
      "name": "Convert PDF into PNG",
      "credentials": {
        "customJsApi": {
          "id": "lCllIeZx5fba9opf",
          "name": "CustomJS account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=dime que hay en la imagen ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        16,
        -592
      ],
      "id": "47fcdfb2-c23d-462e-acdd-ae528476be02",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f15646ef-ccb3-4f15-86d6-391a7cbdc5cc",
              "name": "mensaje",
              "value": "={{ $json.content }} \norigen: PDF",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -592
      ],
      "id": "b84ff78e-7065-4b6a-8ecf-5b628d17e2ff",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3df18d40-4d09-41f7-b574-82711e145054",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"equipo\": {\n    \"tag\": [\"FS-415\", \"FS-425\", \"FS-435\"],\n    \"tipo\": \"Filtro Separador Coalescente\",\n    \"servicio\": \"Gas Natural\"\n  },\n  \"condiciones\": {\n    \"presion_diseno_psig\": 1440,\n    \"presion_operacion_psig\": {\n      \"min\": 775,\n      \"max\": 873\n    },\n    \"temperatura_operacion_C\": {\n      \"min\": 19,\n      \"max\": 20\n    },\n    \"caudal_diseno_MMPCSD\": 605\n  },\n  \"boquillas\": [\n    {\"id\": \"A\", \"diametro\": \"20\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Entrada Gas Natural\"},\n    {\"id\": \"B\", \"diametro\": \"20\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Salida Gas Natural\"},\n    {\"id\": \"D1-2\", \"diametro\": \"2\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Salida Condensado\"},\n    {\"id\": \"V1-2\", \"diametro\": \"2\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Venteo\"},\n    {\"id\": \"V3\", \"diametro\": \"1/2\\\"\", \"clase\": \"6000#\", \"tipo\": \"SWxNPT\", \"servicio\": \"Venteo\"},\n    {\"id\": \"D3-4\", \"diametro\": \"1\\\"\", \"clase\": \"6000#\", \"tipo\": \"SWxNPT\", \"servicio\": \"Dren\"},\n    {\"id\": \"L1-2-3-4\", \"diametro\": \"2\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Instrumento de Nivel\"},\n    {\"id\": \"P1\", \"diametro\": \"1/2\\\"\", \"clase\": \"6000#\", \"tipo\": \"SWxNPT\", \"servicio\": \"Indicador de Presión\"},\n    {\"id\": \"R\", \"diametro\": \"1\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Válvula de Seguridad\"},\n    {\"id\": \"T\", \"diametro\": \"1 1/2\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Indicador de Temperatura\"},\n    {\"id\": \"P2-3\", \"diametro\": \"1\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Transmisor de Presión Diferencial\"},\n    {\"id\": \"S\", \"diametro\": \"1\\\"\", \"clase\": \"6000#\", \"tipo\": \"SWxNPT\", \"servicio\": \"Gas a instrumentos\"},\n    {\"id\": \"M\", \"diametro\": \"62\\\"\", \"clase\": \"600#\", \"tipo\": \"RF\", \"servicio\": \"Registro hombre\"}\n  ],\n  \"instrumentacion\": [\n    \"Transmisor de Presión Diferencial\",\n    \"Indicadores de Presión\",\n    \"Indicadores de Temperatura\",\n    \"Indicador de Nivel Magnético\",\n    \"Transmisores de Nivel\",\n    \"Válvula de Seguridad\",\n    \"Válvulas PCV (Control de Presión)\",\n    \"Válvulas de Nivel (On/Off)\",\n    \"Válvulas Solenoides\",\n    \"Switches de Nivel (Alto/Bajo)\",\n    \"Switches de Posición de Válvulas de Nivel\",\n    \"Orificios de Restricción\"\n  ]\n}\n",
        "options": {
          "systemPromptTemplate": "Con la informacion extraida haz un prompt para un modelo de generacion de imagenes y contruya el diagrama P&ID con las especificaciones claras, devuelve solo el prompt "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "29020ba6-c7c7-41f0-8e15-b0577027a609",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        160
      ],
      "id": "175bf096-dfb0-4a7b-8111-5b8e67da04a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a6T9FSulj0yWIirx",
          "name": "Converging"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.output || $input.first().json;\n\n// Convertir a texto plano (string)\nconst texto = JSON.stringify(data, null, 2);\n\nreturn [{ json: { texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "7309b22a-8146-4841-a6f2-b6d12d00cd85",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.texto }}"
            },
            {
              "content": "=Toma el mensaje del user y has un prompt para un generador de images para que construya un P&ID (Piping & Instrumentation Diagram / Diagrama de Tuberías e Instrumentación), el prompt debe ser lo mas detallado posible para evitar errores, el diagrama debe verse como un plano si fuera creado en autocad y debe ser en vista en planta.  ",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1344,
        688
      ],
      "id": "4ff80c84-a666-4336-a048-a348c4fe27f5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.texto }}"
            },
            {
              "content": "Toma el siguiente JSON en comandos para AutoCad y pueda crear un diagrama con estas especificaciónes \nentregamelos en una lista y no separados",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1216,
        0
      ],
      "id": "8b0861af-e4f2-42af-8086-bc97abe347fd",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1008,
        192
      ],
      "id": "b821f991-0177-4866-a38c-99f318f32e23",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "pR30gkzotkExDJsd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1137122626",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        0
      ],
      "id": "dd051c53-d151-433d-a407-19eeb010f540",
      "name": "Send a text message",
      "webhookId": "30e2769f-112d-4924-b8f4-349377581b3a",
      "credentials": {
        "telegramApi": {
          "id": "rwaSYQSNV8HrcMVE",
          "name": "Prueba Planos"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 951905302,
          "message": {
            "message_id": 3,
            "from": {
              "id": 1137122626,
              "is_bot": false,
              "first_name": "Pako",
              "last_name": "Sanchez",
              "language_code": "en"
            },
            "chat": {
              "id": 1137122626,
              "first_name": "Pako",
              "last_name": "Sanchez",
              "type": "private"
            },
            "date": 1756399736,
            "document": {
              "file_name": "21. HD FILTRO SEPARADOR FS-415-425-435_AGS-2-3.pdf",
              "mime_type": "application/pdf",
              "file_id": "BQACAgEAAxkBAAMDaLCIeEAzV2pXV4H-AXVeYqbGtUgAAlQFAAJirIlFULQJg_6YGjc2BA",
              "file_unique_id": "AgADVAUAAmKsiUU",
              "file_size": 299311
            }
          }
        }
      }
    ]
  },
  "repo_name": "n8n_plantillas",
  "repo_owner": "pakosanchez27",
  "repo_path": "https://github.com/pakosanchez27/n8n_plantillas",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-28T20:10:32.000Z",
  "versionId": "813e605d-842f-4c7b-8d88-6a7840fb7fb1"
}